.node-picker-container{
  position: absolute;
  z-index: 10;
  font-size: small;
  color: var(--textColor);
  background-color: var(--popupBackground);
  border-style: round;
  border-color: var(--borderStyle);
}

.node-picker::-webkit-scrollbar {
  width: 2px;
}

.node-picker-header{
  background-color: var(--tableHeaderBackground); 
  padding: 0.5rem 0.25rem; 
}

.node-picker-search input {
  background-color: var(--inputBackground); 
  color: var(--white);
  width: 100%; 
  padding: 0.25rem 0.5rem; 
}

.node-picker-input:disabled {
  background-color: var(--dockBackground); 
}

.node-picker-list {
  max-height: 12rem; 
  overflow-y: scroll;
}

.node-picker-item {
  padding: 0.25rem 0.5rem; 
  border-bottom: 1px solid var(--border); 
  cursor: pointer;
}
