.oauthError {
  pointer-events: auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25% 0;
  max-width: 100%;

  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .message {
    font-size: 14px;
  }
}

.submitButton {
  background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));
  color: var(--textColor) !important;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:disabled {
    background: var(--disabled);
  }
}
