.emailPhoneSection {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.emailField {
    width: 319px;
   
}

.sendButton {
    width: 319px;
}

