@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
.container {
    width: 100vw;
}
.gridContainer {
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    padding-top: 200px;
}
.emailField {
    & fieldset {
        border-radius: 40px;
        border-color: #f5f4f2;
    }
    & input {
        width: 319px;
        height: 40px;
        background-color: #f5f4f2;
        border: solid 1px #f5f4f2;
        border-radius: 31px;
        font-size: 18px;
        font-family: Mulish;
        color: #646464;
    }
}

.sendButton {
    width: 349px !important;
    height: 63px !important;
    margin-top: 20px !important;
    border: 1px solid #c6c6c6 !important;
    border-radius: 40px !important;
    color: #c6c6c6 !important;
    font-weight: bold !important;
    font-family: Mulish !important;
}

