.emoteMenuSidebar {
    position: fixed;
    top: 0;
    right: 10px;
    width: 70px;
    height: 100vh;
    z-index: 14;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*active color 00FF19*/

    .itemContainer {
        height: min(30vh, 210px);
        overflow: auto;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .itemContainer::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    .jumpContainer { display: none; margin-top: 20px; }

    .menuItem {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        margin: 5px;
        height: 50px;
        width: 50px;
        cursor: pointer;
        position: relative;
        border: none;
        color: white;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0;
        transition: all 0.15s cubic-bezier(.18,.89,.32,1.28);

        &:hover { transform: scale(1.2); }
        > svg { height: 50%; width: 50%; }

        @media screen and (max-height: 475px) {
            height: 40px;
            width: 40px;
        }
    }
}

.emoteMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-out;

    .itemContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: solid 100px rgba(0, 0, 0, 0.8);
        border-bottom-color: transparent;
        opacity:0.9;
        position:relative;
        width:361.4px !important;
        height:361.4px !important;
        border-width: 70px !important;
        left: -30px;





        .menuItemBlock {
            position: relative;
        }

        .menuItem {
            border-radius: 50%;
            position: absolute;
            top: -50%;
            left: -50%;
            margin: 0;
            padding: 0;
            min-width: 0;

            &:hover { transform: scale(1.2); }
            img {
                display: block;
                width: 100%;
            }
        }
    }
}



.hideMenu {
    transform: scale(0);
}
       .itemContainer::before {
     content: "";
    width: 33px;
    height: 70px;
    position: absolute;
    left: 2.9px;
    top: 190px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: rotate(45deg);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    opacity: 1;
}
.itemContainer::after {
    content: "";
    width: 33px;
    height: 70px;
    position: absolute;
    right: 2.9px;
    top: 190px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: rotate(135deg);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    opacity: 1;
}



