.feedFormContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto 0;
    overflow: scroll;

    .flexContainer{
        display: flex;
        flex-direction: row;
        
        .preCard{
            width: 50%;
            box-sizing: border-box;
            padding: 20px;
            text-align: center;
            h2{
                display: flex;
                flex-direction: column;
            }
        }
    }
    .displayNone{
        display: none;
    }

    .previewImage{
        height: 210px;
    }

    .textArea{
        min-height: 100px;
    }
    p{
        margin: 17pt auto;
        font-size: 17pt;
        color: rgba(60, 60, 67, 0.6);
        text-align: center;
    }
    .submit{
        display: block;
        margin: 0 auto;
        color: #FFF;
        background-color: #000;
        margin-top: 300px;
        padding: 10pt;
        width: 100%;
        border-radius: 13px;
        font-size: 17pt;
        text-transform: capitalize;
    }

    .videoWrapper{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        .submit{
            position: fixed;
            bottom: 30px;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 10pt;
            width: 100%;
            border-radius: 13px;
            font-size: 17pt;
            text-transform: capitalize;
        }
    }
    .backButton{
        font-size: 19pt;
        text-transform: capitalize;
        font-weight: 400;
        margin: 12pt 7.7pt;
    }
    input{
        font-size: 17pt;
    }
    @media screen and (max-width: 499px){
        .submit{
            font-size: 14pt;
            padding: 7pt;
        }
        p{
            margin: 14pt auto;
            font-size: 14pt;
        }
        .backButton{
            font-size: 15pt;
            margin: 9pt 6pt;
        }
        input{
            font-size: 14pt;
        }
    }
    @media screen and (max-height: 699px){
        .submit{
            margin-top: 20pt;
        }
        p{
            margin: 12pt;
            line-height: 19px;
        }
        .backButton{
            margin: 0pt 6pt;
            padding: 0;
        }
    }
}