.creatorContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 29.7pt;
    @media screen and (max-width: 499px){
        padding: 0 24pt;
    }
    >div {
        flex: 0 50%;
        box-sizing: border-box;
        padding: 5px;
      }

    .creatorItem{
        width: 100%;
        .previewImage{
            height: 210px;
            border-radius: 10px;
            background-color: #CA3E7B;
            display: flex;
            align-items: center;
            .avatarPlaceholder{
                margin: 0 auto;
            }            
        }
        .titleContainer{
            font-size: 14pt;
            font-family:'SFProText-Regular';
            text-align: center;
        }

        .usernameContainer{
            font-size: 13pt;
            font-family:'SFProText-Regular';
            color: rgba(60, 60, 67, 0.6);
            text-align: center;
        }
        :global(.MuiCardContent-root){
            padding: 5px;
        }
    }
}