.mainBlock {
  display: flex;
}
//.dialogWindow{
//    max-width: 311pt;
//}
.popup {
  //position: fixed;
  //top: 0;
  //left: 0;
  //width: 100%;
  //height: 100vh;
  //background-color:rgba(0,0,0, 0.2);
  //
  //display: flex;
  //justify-content: center;
  //align-items: center;
  width: 100%;
  border-radius: 12px;
  height: 600pt;
  color: #e6e5eb;
  text-align: center;
  .media {
    height: 80pt;
    width: 80pt;
    align-self: center;
    background-position: 24pt 13pt;
    background-size: 38%;
    background-color: #e6e5eb;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .media2 {
    height: 80pt;
    width: 80pt;
    align-self: center;
    background-position: 13.5pt 24pt;
    background-size: 65%;
    background-color: #e6e5eb;
    border-radius: 100%;
    margin-top: 30pt;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    align-self: center;
    letter-spacing: 0.36pt;
    margin-top: 17pt;
    font-size: 28pt;
    color: #000;
    padding-bottom: 0;
    font-weight: 600;
  }
  p {
    max-width: 270pt;
    margin-left: auto;
    margin-right: auto;
    color: rgba(60, 60, 67, 0.6);
    font-size: 16pt;
    line-height: 21pt;
    padding: 16pt;
  }
  .box {
    color: #e6e5eb;
  }
  .btn_start {
    background-color: #000;
    position: fixed;
    bottom: 160px;
    color: #FFF;
    width: 80%;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 13px;
    text-transform: capitalize;
    font-size: 17pt;
    padding: 10pt;
  }
  .btn_dont {
    background-color: #000;
    position: fixed;
    bottom: 230px;
    color: #FFF;
    width: 80%;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 13px;
    text-transform: capitalize;
    font-size: 17pt;
    padding: 10pt;
  }
  .btn_cancel {
    text-transform: capitalize;
    font-size: 17pt;
    padding: 10pt;
    border-radius: 10px;
    color: grey;
    font-weight: 300;
  }
  @media screen and (max-width: 499px) {
    height: 486pt;
    .btn_cancel,
    .btn_start {
      font-size: 13pt;
      padding: 6pt;
      border-radius: 10px;
    }
    .btn_dont {
      font-size: 13pt;
      padding: 6pt;
      border-radius: 10px;
    }
    p {
      font-size: 13pt;
      line-height: 17pt;
      max-width: 225pt;
      padding-bottom: 9pt;
    }
    .title {
      font-size: 22pt;
    }
    .media {
      height: 64pt;
      width: 64pt;
      background-position: 19pt 11pt;
    }
    .media2 {
      margin-top: 20pt;
      height: 64pt;
      width: 64pt;
      background-position: 11.5pt 22pt;
    }
  }
  @media screen and (max-height: 700px) {
    p {
      padding-top: 5pt;
    }
    .media2 {
      margin-top: 16pt;
    }
  }
}
@media screen and (orientation: landscape) {
  .box {
    display: none;
  }
  .dialogWindow {
    max-width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      margin-top: 0;
      font-size: 21pt;
    }
    p {
      font-size: 14pt;
      max-width: unset;
    }
    .media2 {
      margin-top: 0;
    }
  }
}

@keyframes ldsring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (orientation: landscape) and (max-width: 899px) {
  .popup {
    .title {
      font-size: 18pt;
    }
    p {
      padding-bottom: 10pt;
      line-height: 16pt;
    }

    .media {
      height: 55pt;
      width: 55pt;
      align-self: center;
      background-position: 19pt 12pt;
      background-size: 33%;
    }
    .media2 {
      height: 55pt;
      width: 55pt;
      background-position: 10.5pt 19pt;
      background-size: 65%;
    }
    .btn_start {
      padding: 6pt;
    }
  }
}
.nav {
  margin-bottom: 15px;
  text-align: center;
}

.dot {
  color: black;
  cursor: pointer;
  font-size: 40px;
  line-height: 1;
  margin: 0 15px;
  opacity: 0.5;
  text-shadow: none;
  transition: opacity 1s ease, text-shadow 1s ease;
  will-change: opacity, text-shadow;
}

.active {
  color: blue;
  opacity: 1;
  text-shadow: 0 0px 10px;
}

.animated {
  animation-duration: 0.8192s;
  animation-fill-mode: backwards;
  transform-style: preserve-3d;
}

/** intro */
@keyframes intro {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(0, 0, -50px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.intro {
  animation: intro 1s ease-out;
}

/** enterRight */
@keyframes enterRight {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.enterRight {
  animation-name: enterRight;
}

/** enterLeft */
@keyframes enterLeft {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.enterLeft {
  animation-name: enterLeft;
}

/** exitRight */
@keyframes exitRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: perspective(500px) translate3d(100%, 0, -100px);
  }
}

.exitRight {
  animation-name: exitRight;
}

/** exitLeft */
@keyframes exitLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: perspective(500px) translate3d(-100%, 0, -100px);
  }
}

.exitLeft {
  animation-name: exitLeft;
}
