/* modal.css */

/* Styles for the modal backdrop */
.modal-backdrop {
  z-index: 19;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

/* Styles for the modal container */
.modal-container {
  z-index: 20;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--border);
  width: 24rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--dockBackground);
  font-size: 0.875rem;
  border-radius: 0.375rem;
}

/* Styles for the modal header */
.modal-header {
  padding: 0.75rem;
  border-bottom: 1px solid var(--border);
}

/* Styles for the modal title */
.modal-title {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}

/* Styles for the modal content */
.modal-content {
  padding: 0.75rem;
  color: var(--textColor);
}

.modal-content textarea {
  background: var(--drawerBackground); 
  color: var(--textColor);
  border: 1px solid var(--border); 
  width: 100%; 
  max-width: 100%;
  min-width: 100%;  
  padding: 0.5rem; 
  height: 8rem;
}

.modal-content select {
  background-color: var(--dockBackground);
  border: 1px solid var(--border);
  color: var(--textColor);
  font-size: 14px;
  border-radius: 0.25rem;
  display: block;
  width: 100%;
  padding: 0.5rem;
  
}

.modal-content select option{
  background-color: var(--dropdownMenuBackground);
  color:var(--textColor);
  height: 1rem;
  min-height: 1rem;
}

.modal-content select option:hover{
  background-color: var(--dropdownMenuHoverBackground);
}
.modal-content select option:first-child {
  background-color: var(--dropdownMenuSelectedBackground);
  font-weight: bold; 
  color:var(--textColor);
}



/* Styles for the modal actions container */
.modal-actions {
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem;
  border-top: 1px solid var(--border);
}

/* Styles for the primary and secondary action buttons */
.modal-action-btn {
  color: var(--textColor);
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
}

.modal-primary-action {
  background-color: var(--buttonFilled); /* Equivalent to 'bg-teal-400' */
}

.modal-secondary-action {
  background-color: var(--buttonFilled); /* Equivalent to 'bg-gray-400' */
}

/* Hover styles for primary and secondary action buttons */
.modal-primary-action:hover {
  background-color: var(--iconButtonHoverColor); /* Equivalent to 'hover:bg-teal-500' */
}

.modal-secondary-action:hover {
  background-color: var(--iconButtonHoverColor); /* Equivalent to 'hover:bg-gray-500' */
}
