.switchField {
  :global {
    .Mui-checked .MuiSwitch-thumb {
      color: var(--dropdownMenuSelectedBackground);
    }

    .Mui-checked .MuiSwitch-track {
      background: var(--inputBackground);
    }

    .MuiFormControlLabel-label {
      color: var(--textColor);
    }

    .MuiFormControlLabel-label.Mui-disabled {
      color: var(--textColor);
    }
  }
}
