.tipsandtricksContainer{
    display: flex;
    flex-direction: column;
    font-size: 17pt;
    .cardContent{
        padding: 0px 16pt;
    }
    .tipItem{
        width: 100%;
        .previewImage{
            height: 210pt;
            background-color: rgba(116, 116, 128, 0.08);
            object-fit: cover;
        }
        .tipsTitle{
            font-family: "SFProText-Heavy";
            font-size: 18pt;
            margin-top: 14pt;
            margin-bottom: 11pt;
        }
        .tipsDescription{
            font-family: "SFProText-Regular";
            font-size: 17pt;
            line-height: 22pt;
            letter-spacing: -0.41pt;
            margin-bottom: 19pt;
        }
        @media screen and (max-width: 499px){
            .previewImage{
                height: 167pt;
            }
            .tipsTitle{
                font-size: 16pt;
                margin-top: 11pt;
                margin-bottom: 3pt;
            }
            .tipsDescription{
                font-size: 14pt;
                line-height: 23pt;
            }
        }
    }
}
.noContent{
    text-align: center;
    font-size: 17pt;
    padding: 17pt 0;
    max-width: 70%;
    margin: 0 auto;
    @media screen and (max-width: 499px){
        font-size: 14pt;
    }
}