@import "@xrengine/client-core/src/styles/imports.module.scss";

.openModalBtn {
  height: 50px;
  width: 100%;
  margin: 0;
  background: var(--buttonFilled);
  color: var(--textColor) !important;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    background: var(--buttonFilled);
    opacity: 0.8;
  }

  @media (max-width: 900px) {
    font-size: 0.7rem;
  }
}

.dateTimePickerDialog {
  background: var(--popupBackground);
  color: var(--textColor) !important;

  svg {
    fill: var(--iconButtonColor) !important;
  }

  span {
    color: var(--textColor) !important;
  }

  input {
    color: var(--textColor) !important;
  }

  label {
    color: var(--textColor) !important;
  }

  fieldset {
    border-color: var(--inputOutline) !important;
  }
}

.preview {
  border: 1px solid var(--buttonOutlined);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--buttonOutlined);
}

.gradientButton {
  background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));
  color: var(--buttonTextColor) !important;

  &.forceVaporwave {
    background: linear-gradient(90deg, #5236ff, #c20560);
    color: #FFF !important;
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.outlinedButton {
  background: transparent;
  border: solid 1px var(--buttonOutlined);
  color: var(--buttonTextColor) !important;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.botRoot {
  width: 100%;
  color: #fff;
  box-shadow: none;
  background-color: var(--mainBackground);
}

.botHeader {
  height: 50px;
  background: var(--panelCards);
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #23282c;
  border-radius: 0;
  padding-left: 20px;

  @media (max-width: 900px) {
    padding-left: 5px;
  }
}

.botTitle {
  font-size: 20;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 600px) {
    font-size: 14;
  }
}

.pTop5 {
  padding-top: 5px;
}

.mLeft10 {
  margin-left: 10px;
}

.botRootRight {
  width: 100%;
  color: var(--textColor);
  margin-top: 15px;
  background: var(--panelBackground);
}

.botRootLeft {
  width: 100%;
  color: var(--textColor);
  background: var(--panelBackground);
}

.smFont {
  font-size: 20px;
  margin-left: 10px;

  @media (max-width: 900px) {
    font-size: 14px;
    margin-left: 5px;
  }
}

.botSaveBtn {
  margin: 5px 25px 5px auto;
  width: 150px;
  background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));
  color: var(--textColor) !important;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 900px) {
    font-size: 0.7rem;
    width: 120px;
  }

  @media (max-width: 600px) {
    font-size: 0.7rem;
    width: 100px;
  }
}

.saveBtnIcon {
  margin-right: 10px;

  @media (max-width: 900px) {
    margin-right: 5px;
  }
}

.secondaryHeading {
  font-size: 1rem;
  color: var(--textColor);
}

.thirdHeading {
  color: var(--textColor);
  margin-top: 15px;
}

.heading {
  font-size: 1rem;
  flex-basis: 33.33%;
  flex-shrink: 0;
}

.summary {
  background: var(--panelCards);
  border-bottom: 1px solid var(--mainBackground);
  color: var(--textColor);
  border-radius: 0;

  svg {
    color: var(--iconButtonColor);
  }
}

.botDetails {
  background: var(--panelBackground);
  color: var(--textColor);
}

.alterContainer {
  background: var(--inputBackground);
  border: 1px solid var(--inputOutline);
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.createAlterContainer {
  background: var(--inputBackground);
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.input {
  flex: 1;
  color: var(--textColor);
}

.selectPaper {
  background: var(--inputBackground);
  color: var(--textColor);

  svg {
    color: var(--textColor) !important;
  }

  &:global(.Mui-selected) {
    background: var(--dropdownMenuSelectedBackground);
  }
}

.paperDialog {
  background: var(--popupBackground) !important;
  color: var(--textColor);
  width: 100%;
  padding: 20px;
}

.spanDange {
  color: #ff8c00;
}

.spanNone {
  color: var(--textColor);
}

.mgBottom {
  margin-bottom: 10px;
}

.spanWhite {
  color: var(--textColor) !important;
}

.spanWhite:hover,
.spanDange:hover {
  opacity: 0.8;
}

.actionStyle {
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}

.textLink {
  margin-left: 5px;
  text-decoration: none;
  color: var(--buttonOutlined);
}

.paperDrawer {
  width: 40%;
  background-color: var(--drawerBackground);
  color: var(--textColor);
  overflow: auto;

  @media (max-width: 900px) {
    overflow-y: scroll;
  }
}

.paper {
  padding: 24px 32px;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%), 0 1px 14px 0 rgb(0 0 0 / 12%);
  background-color: #fff;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.mb10 {
  margin-bottom: 5%;
}

.mt10 {
  margin-top: 10%;
}

.mt20 {
  margin-top: 20%;
}

.mb15px {
  margin-bottom: 15px;
}

.mt20px {
  margin-top: 20px;
}

.textAlign {
  text-align: center;
}

.mb10px {
  margin-bottom: 10px;
}

.rootTable {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--textColor);
  max-height: calc(100vh - 112px);
}

.rootTableWithSearch {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--textColor);
  max-height: calc(100vh - 158px);
}

.filterButton {
  svg {
    color: var(--iconButtonColor);
  }
}

.checkbox {
  color: var(--textColor);
  -webkit-text-fill-color: var(--text-Color);

  .checkedCheckbox {
    color: var(--iconButtonColor);
  }

  [class*="Mui-disabled"] {
    opacity: 0.38;
    color: var(--textColor) !important;
  }
}

.scopeButtons {
  display: flex;
}

.menuItem {
  &:hover {
    background: var(--dropdownMenuHoverBackground);
  }

  &:global(.Mui-selected) {
    background: var(--dropdownMenuSelectedBackground);

    &:hover {
      background: var(--dropdownMenuSelectedBackground);
    }
  }
}

.analyticsPaper {
  padding: 16px;
  text-align: center;
  color: var(--textColor);
  height: 35rem;
  width: 99.9%;
  background-color: var(--panelBackground);
}

.btn {
  color: var(--buttonOutlined);
  border-color: var(--buttonOutlined);
  font-size: 0.875rem;

  @media (max-width: 900px) {
    font-size: 0.6rem;
  }
}

.secondaryText {
  color: #808080;
}

.btnSelected {
  color: var(--textColor) !important;
  border-color: var(--buttonOutlined);
  background-color: var(--buttonFilled) !important;
}

.dashboardCardsContainer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.datePickerContainer {
  display: flex;
  margin: 10px 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  input {
    color: var(--textColor);
  }

  fieldset {
    border-color: var(--inputOutline);
  }

  fieldset:hover {
    border-color: rgb(var(--inputOutline) 0.8);
  }

  @media (max-width: 768px) {
    align-items: flex-start;
    flex-direction: column;
    height: 120px;
  }
}

.rootCardNumber {
  min-width: 100%;
  background-color: var(--panelBackground);
}

.label {
  color: var(--textColor);
}

.checkboxContainer {
  padding: 0;
  color: var(--textColor);
}

.routeCheckedCheckbox {
  color: var(--iconButtonColor) !important;
}

.progress {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
}

.progressBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--inputBackground);
  top: 0;
}

.indicator {
  background-color: var(--textColor);
}

.inviteTabAppbar {
  background-color: var(--navbarBackground);
  color: var(--textColor);
}

.tabsRoot {
  min-height: 40px;

  :global(.Mui-selected) {
    color: var(--textColor);
  }
}

.tabpanelRoot {
  background-color: var(--panelCards);
}

.inputField {
  background: var(--inputBackground);

  /**
  * This below style is added to fix background issues with chrome autofill.
  * https://github.com/XRFoundation/XREngine/pull/6448#pullrequestreview-1018811200
  * https://stackoverflow.com/a/14205976/2077741
  */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--inputBackground) inset !important;
  }

  :global {
    .MuiInputLabel-formControl,
    .MuiInputLabel-root {
      -webkit-text-fill-color: var(--textColor);
      color: var(--textColor);
      transform-origin: top left;
      -webkit-transform: translate(14px, -9px) scale(0.75);
      -ms-transform: translate(14px, -9px) scale(0.75);
      transform: translate(14px, -9px) scale(0.75);
      position: absolute;
      padding-left: 5px;
      padding-right: 5px;
      max-width: fit-content;
      font-size: 16px;
      margin-left: -5px;
      margin-bottom: 7px;
    }

    .MuiSvgIcon-root,
    .MuiInputBase-input {
      -webkit-text-fill-color: var(--textColor);
      color: var(--textColor);
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: var(--inputOutline) !important;

      legend {
        visibility: visible;
        max-width: fit-content;
      }
    }

    input:placeholder-shown {
      font-style: italic;
    }
  }
}

.switchField {
  :global {
    .MuiFormControlLabel-label {
      color: var(--textColor);
    }

    .MuiFormControlLabel-label.Mui-disabled {
      color: var(--textColor);
    }
  }
}

.radioField {
  :global {
    .MuiFormLabel-root {
      color: var(--textColor);
    }

    .MuiSvgIcon-root {
      color: var(--textColor);
    }
  }
}

.popover {
  width: 300px;
  padding: 20px;
  background: var(--dropdownMenuBackground);
  color: var(--textColor);
}

.dialogContentText {
  color: var(--textColor);
}

.iconButton {
  color: var(--iconButtonColor);
}

.orangeColor {
  color: orange;
}

.dialog {
  background-color: var(--popupBackground);
  color: var(--textColor);

  :global {
    .MuiDialogContentText-root {
      color: var(--textColor);
    }

    .MuiDialogContent-root {
      padding-bottom: 10px;
    }
  }
}

.selectedTab {
  color: var(--textColor) !important;
  font-weight: bold;
  font-size: 17px;
  text-transform: capitalize;
}

.unselectedTab {
  color: var(--buttonFilled) !important;
  font-weight: bold;
  font-size: 17px;
  text-transform: capitalize;
}

.tabRoot {
  min-height: 20px;
  color: #ccc;
}

.selected {
  background: white;
}

.marginBottom10px {
  margin-bottom: 10px;
}

.maxWidth90 {
  max-width: 90%;
}

[class*="MuiDialog-root"] {
  [class*=".MuiTabs-root"] {
    min-height: initial;
  }

  [class*="MuiPickersToolbar-root"] {
    button {
      width: initial;
      margin: initial;
    }
  }

  [class*="MuiDialogActions-root"] {
    button {
      background-color: var(--popupBackground) !important;
      color: var(--iconButtonColor) !important;
    }
  }
}

.pickerControls {
  display: flex;
  flex-direction: row;
}
