.tableContainer {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.tableCellHeader {
  background: var(--purplePanel) !important;
  color: #f1f1f1 !important;
  border-bottom: 2px solid var(--purpleDarkest) !important;
}

.tableCellBody {
  border-bottom: 1px solid var(--purpleDarkest) !important;
  color: #f1f1f1 !important;
  background: var(--purpleLighter) !important;
}

.tableFooter {
  background: var(--purplePanel) !important;
  color: #f1f1f1 !important;
  overflow: unset;
}

.spanWhite {
  color: #f1f1f1 !important;
}
