:global(.MuiSnackbar-root).parentContainer{
  margin: 0px;
  display: flex;
  flex-direction: column;
  z-index:1500;
  padding-left: 10%;
  padding-right: 10%;

  h1, h6{
    width: 100%;
    word-break: break-all;
  }
}