.inventoryPanel {
    position: absolute;
    bottom: 75px;
    padding: 0 30px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(137, 137, 242, 0.5) 0%, rgba(92, 92, 92, 0.5) 100%);
    backdrop-filter: blur(50px);
    width: 80%;
    right: 100px;
    box-shadow: 16px 16px 32px 0px #11111159;
    color: black;
    max-height: calc(100vh - 175px);
    overflow: auto;
    touch-action: auto;

    &>.inventoryContainer{ margin-top: 20px; }
    &>.controlContainer{ margin-bottom: 10px; }

    .inventoryContainer{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: auto;
        place-content: space-around;

        .itemPreviewWrapper{
            width: 140px;
            height: 100px;
            cursor: pointer;
            margin: 5px;
            flex-grow: 0;
            background: linear-gradient(180deg, rgba(137, 137, 242, 0.5) 0%, rgba(92, 92, 92, 0.5) 100%);
            box-shadow: 0px 2px 18px 0px #11111159;
            position: relative;
            .itemName{
                position: absolute;
                bottom:10px;
                left: 10px;
                right: 10px;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                display: flex;
            }

            &>div{
                height:100% !important;
            }

            &>div>img{
                height:100% !important;
                padding:5px;
            }
        }
    }

    .controlContainer {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .pageBlock {
            width: 100%;
            justify-content: space-between;
            text-align: center;
            padding: 0.5em 20px 0 20px;
            top: 10px;
            color: #FFFFFF;

        }
    }

    .iconBlock {
        position: relative;
        color:#FFFFFF;
        background: transparent;
        border: none;
        padding: 0;

        svg {
            position: relative;
            z-index: 1;
        }

        &::before {
            content: ' ';
            position: absolute;;
            width: 0px;
            height: 0px;
            border-radius: 20px;
            background: linear-gradient(180deg, rgba(137, 137, 242, 0.5) 0%, rgba(92, 92, 92, 0.5) 100%);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.15s cubic-bezier(.18,.89,.32,1.28);
        }
        &:hover, &:focus {
            color: #fff;

            &::before {
                width: 35px;
                height: 35px;
            }
        }

        &.disabled {
            color: grey;
            cursor: initial;

            &::before { content: none !important; }
        }
    }

    @media screen and (min-width: 768px) {
        width: 550px;
        .itemContainer {
            .itemPreviewWrapper {
                width: 130px;
                height: 130px;
            }
        }
    }
}


.tradePanel {

    .panel{
        bottom: 75px;
        padding: 0 30px;
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(137, 137, 242, 0.5) 0%, rgba(92, 92, 92, 0.5) 100%);
        backdrop-filter: blur(50px);
        box-shadow: 16px 16px 32px 0px #11111159;
        color: black;
        max-height: calc(100vh - 175px);
        overflow: auto;
        touch-action: auto;
        max-width: 550px;
        padding-top:5px;
        .tradeTitle{
            display:block;
            font-weight: bold;
            font-size: 18px;
            color:#FFFFFF;
        }
        .userCoins{
            border: 0.5px solid #5555FF;        
            box-sizing: border-box;
            border-radius: 5px;
            margin: 8px 0px;
            display: inline-table;
            padding:5px;  
            
            .coinImage{
                height: 30px;
                margin-right:5px;
                display: table-cell;
                vertical-align: middle;
            }
            .coins{
                font-weight: bold;
                font-size: 15.696px;
                color:#FFFFFF;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .actions{
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            height: auto;
            place-content: space-around;
            
            .btnAction{
                width: 47%;
                min-width:70px;
                height: auto;
                float: left;
                cursor: pointer;
                margin: 5px 5px 10px 5px;
                background: linear-gradient(180deg, rgba(137, 137, 242, 0.5) 0%, rgba(92, 92, 92, 0.5) 100%);
                backdrop-filter: blur(50px);       
                box-sizing: border-box;
                border-radius: 5px;
                background: transparent;
              
                &>div{
                    height:62px !important;
                    width:auto;
                }
    
                &>div>img{
                    padding:5px;
                    height:62px !important;
                    width:auto;
                }
            }
            .btnAction:hover{
                background-color: #A8A8FF;
            }
            .disable{
                opacity:0.5;
            }
        }
    }

    .tradePanelLeft{
        position: absolute;
        width: 40%;
        right: 40%;
        transform: translateX(-40%);
        text-align: start;
    }

    .tradePanelRight{
        position: absolute;
        width: 40%;
        left: 40%;
        transform: translateX(40%);
        text-align: end;
    }
    .tradeContainer{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: auto;
        place-content: space-around;

        .itemPreviewWrapper{
            width: 88px;
            height: 88px;
            cursor: pointer;
            margin: 5px;
            border: 0.5px solid #5555FF;        
            box-sizing: border-box;
            border-radius: 5px;
            background: transparent;
            
            &>div{
                height:100% !important;
            }

            &>div>img{
                padding:5px;
                height:100% !important;
            }
        }

        @media screen and (min-width: 768px) {
        .itemContainer {
            .itemPreviewWrapper {
                width: 130px;
                height: 130px;
            }
        }
    }
    }
}

.purchaseMarketPanel {
    position: absolute;
    bottom: 75px;
    padding: 0 30px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(137, 137, 242, 0.5) 0%, rgba(92, 92, 92, 0.5) 100%);
    backdrop-filter: blur(50px);
    width: calc(100% - 50px);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 16px 16px 32px 0px #11111159;
    color: black;
    max-height: calc(100vh - 175px);
    min-height:200px;
    overflow: auto;
    touch-action: auto;
    
    .pagination{
        position: absolute;
        right:30px;
        bottom: 15px;

        *{
            color:#FFFFFF;
        }
    }
    @media screen and (min-width: 768px) {
        width: 600px;
        
    }
}


.purchaseMarketItemPanel {
    position: absolute;
    bottom: 75px;
    padding: 0 30px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(137, 137, 242, 0.5) 0%, rgba(92, 92, 92, 0.5) 100%);
    backdrop-filter: blur(50px);
    width: calc(100% - 50px);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 16px 16px 32px 0px #11111159;
    color: black;
    max-height: calc(100vh - 175px);
    min-height:200px;
    overflow: auto;
    touch-action: auto;
  
    .container{
        padding: 30px 0px 10px 0px;

        .itemNumber{
            background: linear-gradient(180deg, rgba(137, 137, 242, 0.5) 0%, rgba(92, 92, 92, 0.5) 100%);
            border-radius: 8px;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 21.3145px;
            padding: 5px 15px;
        }

        .itemName{
            font-weight: bold;
            font-size: 18.9462px;
            display: flex;
            color: #FFFFFF;
            padding: 15px 0px 10px 0px;
        }
 
        .itemInfo{
            font-size: 15.0652px;
            display: flex;
            color: #FFFFFF;
        }


        .itemPreviewImage{
            cursor: pointer;
            margin: 10px 5px 5px 5px;
            flex-grow: 0;
    
            &>img{
                cursor: pointer;
                height: 100px;
                width:auto;
                padding:5px;
            }
            &>img:hover{
                background: transparent;
            }
        }

        .itemPrice{
            font-weight: 500;
            font-size: 21.3145px;
            display: block;
            text-align: center;
            color: #FFFFFF;
            padding: 10px 0px;
        }

        .buyNowBtn{
            width:100%;
            max-width:200px;
            background: linear-gradient(180deg, rgba(137, 137, 242, 0.5) 0%, rgba(92, 92, 92, 0.5) 100%);
            backdrop-filter: blur(50px);
            border-radius: 10.4761px;
            font-weight: 500;
            font-size: 15.2729px;
            display: flex;
            text-align: center;
            color: #FFFFFF;
        }

        .cancelBtn{
            width:100%;
            max-width:200px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10.4761px;
            font-weight: 500;
            font-size: 15.2729px;
            display: flex;
            text-align: center;
            color: #FFFFFF;
        }

    }

    @media screen and (min-width: 768px) {
        width: 500px;
        .itemPreviewImage{
           img{
            cursor: pointer;
            height: 130px;
            width:auto;
            padding:5px;
            }
        }       
    }
}