.creatorContainer{
    height: 100vh;
    overflow: scroll;

    .headerContainer{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        flex-direction: row;
        background: #F9F9F9;
        border-bottom: 1px solid #DDDDDD;
        justify-content: space-between;
        padding: 5px 0;

        .backButton,
        .saveButton{
            width: fit-content;
            margin: 0 7pt;
            font-size: 19pt;
            text-transform: capitalize;
            font-weight: 400;
        }
        .backButton{
            font-weight: 300;
        }
        .pageTitle{
            font-family: 'SFProText-Semibold';
            font-size: 19pt;
            display: flex;
            align-items: center;
        }
    }
   
    .displayNone{
        display: none;
    }
    .avatarImage{
        height: 110px;
        width: 110px;
        border-radius: 50%;
        margin: 20px auto;
        background-color: #CA3E7B;
    }
    .uploadAvatar{
        font-family: 'SFProText-Regular';
        font-size: 16pt;
        color:rgba(60, 60, 67, 0.6);
        text-align: center;
    }

    .formLine{
        width: 100%;
        padding: 5px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        input, textarea{
            font-size: 17pt;
        }

        .fieldLabelIcon{
            flex-grow: 0;
            margin: auto 10px auto 0;
            color: #C4C4C6;
            height: 17pt;
            width: auto;
        }
    }
    .content{
        padding: 5px 20px;

        .logOutButton{
            margin-left: 50%;
            width: max-content;
            transform: translate(-50%);
            background-color: #000;
            color: #FFF;
            position: static;
            padding: 8pt 40pt;
            border-radius: 13px;
            font-size: 17pt;
            text-transform: none;
            margin-top: 18pt;
        }
    }
    @media screen and (max-width: 499px){
        .content{
            .logOutButton{
                padding: 6pt 23pt;
                border-radius: 13px;
                font-size: 14pt;
                margin-top: 12pt;
            }
        }
        .formLine{
            input, textarea{
                font-size: 14pt;
            }
        }
        .headerContainer{
            .backButton, .saveButton, .pageTitle{
                margin: 0 6pt;
                font-size: 15pt;
            }
        }
    }
    @media screen and (max-height: 699px){
        .avatarImage{
            margin: 10px auto;
        }
        .content{
            padding-bottom: 150pt;
            .logOutButton{
                padding: 6pt 23pt;
                border-radius: 13px;
                font-size: 14pt;
            }
        }
    }
    @media screen and (min-width: 750px) and (orientation: landscape) {
        .formLine{
            padding: 0.5rem;
        }
        .content{
            display: grid;
            grid-template-columns: 50% 50%;
            .logOutButton{
                margin-left: 0;
            }
        }
    }
}