
[submodule "themes/docsy"]
	path = docs/themes/docsy
	url = https://github.com/google/docsy
[submodule "public"]
	path = docs/public
	url = https://github.com/xr3ngine/xr3ngine.github.io.git
	branch = master
