#next
.next
.next/*

#node
node_modules/

#vim
*.swp
*.swo

#vscode
.vscode/

# npm / yarn
package-lock.json
yarn.lock
yarn-error.log

#local files
.env

#macos
.DS_Store

#config
config/*
!config/default.json
!config/server.json