.headerContainer{
    width: 100vw;
    // display: flex;
    flex-direction: row;
    // justify-content: space-between;
    padding: 13px 20px;
    box-sizing: border-box;
    align-items: center;

    .title {
        font-size: 40px;
        font-family: Jost, sans-serif;
        cursor: pointer;
    }
}

