.feedContainer {
    margin: 30px 30px 0;
    .squareCard {
        width: 26vw;
        height: 26vw;
        margin: auto;
        position: relative;
        &:hover > .featuredButton {
            display: block;
        }
    }
    .gridItem {
        position: relative;
        padding: 0 0 30px !important;
        width: 28vw;

    }
    .gridItemDelete {
        display: none;
    }
    .creatorItem {
        background-color: #F8F8F8;
        height: 26vw;
    }
    
    .list {
        // height: fit-content;
    }
    .featuredButton {
        display: none;
        position: absolute;
        bottom: -19px;
        right: -19px;
        padding: 0;
        margin: 0;
        cursor: pointer !important;
        color: #cfcfcf;
        font-size: 60px;
        z-index: 999999999 !important;
    }
    .imageWrapper {
        width: 100%;
        padding: 30px 20px 0;
        align-items: center;
        display: flex;
        height: 18vw;
    }
    .image {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;

    }
    .imageList {
        height: auto;
    }
    .descr {
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        font-family: Jost, sans-serif;
        line-height: 46.24px;
    }
    .mediaPreviewIcon {
        font-size: 120pt;
        display: flex;
    }
}