.MuiFab-secondary.helpButton{
    //temporary - before MVP
    display: none;
    position:fixed;
    bottom:2em;
    right:2em;
    opacity: 0.6;
    &:hover{
        opacity: 1;
    }
}
.MuiSnackbar-root.helpHintSnackBar{
    //temporary - before MVP
    display: none;
    bottom:2em;
    right:8em;
}