*{
    box-sizing:border-box;
    margin:0;
    padding:0
}
body{
    background: #e5e5e5;
   
}
 
.locationSearch {
   
      .mapBox{
          height:40vh;
      }
   

     .mapglView{ 
         height: "40vh";
        border-radius: 10px;
    }

    .mapglView > div {
        position: unset;
        margin: 0;
        width: 100%;
        max-width: unset;
    }

}

 



