.fullPage{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
}
.splash{
	background: #000;
	position: fixed;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo{
    height: auto;
    width: 225pt;
    animation: pulse 3s linear infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (orientation: landscape) {
    .fullPage{
        background-position: 50% 30% !important;
    }
}
