$circle-size: 15px;
$dot-color: #cb3332;
$light-dot-color: #fff;
$background: #333;

.waterMarkWrapper{
    width: 67pt;
    height: 40pt;
    box-sizing: border-box;
    position: fixed;
    left: 20pt;
    bottom: 30pt;

    .waterMark{
        height: 40pt;
        width: 67pt;
        background-image: url('../../../../../social/public/assets/createdWith.png');
        background-size: 65pt 10pt;
        background-position: 10% top;
        background-repeat: no-repeat;
        padding-top: 12pt;
        display: block;
        .subContainer{
            height: 28pt;
            width: 100%;
            background-image: url('../../../../../social/public/assets/arcLogoVanishinglinesWhite.png');
            background-size: 67pt 24pt;
            background-position: left;
            background-repeat: no-repeat;
        }
    }
}

.startButtonWrapper,
.stopButtonWrapper{
    background-color: rgba(208, 2, 27, 0.2);
    border-radius: 50%;
    padding: 26pt;
    width: 126pt;
    height: 126pt;
    right: 10pt;
    position: fixed;
    bottom: 20pt;
    box-sizing: border-box;
    z-index: 1;
    display: block !important;
    .startButton, .stopButton{
        background-color: rgba(208, 2, 27, 1);
        border-radius: 50%;
        height: 74pt;
        width: 74pt;
        border: none;
        svg{
            color: #FFFFFF;
            width: 19pt;
            height: 13pt;
        }
    }
}
.stopButtonWrapper{
    background-color: rgba(255, 255, 255, 0.2);
    .stopButton{
        background-color: #FFFFFF;
        svg{
            color: rgba(208, 2, 27, 1);
        }
    }
}

    

.flipCamera{
    color: #000000;
    border: none;
    background: transparent;
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 44pt;
    width: 44pt;
    padding: 13pt;
    box-sizing: border-box;
    bottom: 145pt;
    left: 10pt;
    position: fixed;
}

.changeOrientation{
    color: #000000;
    border: none;
    background: transparent;
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 44pt;
    width: 44pt;
    padding: 13pt;
    box-sizing: border-box;
    bottom: 95pt;
    left: 10pt;
    position: fixed;
}



.closeButtonWrapper{
    position: fixed;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 88pt;
    display: flex !important;
    .closeButton{
        margin: 0 auto;
        border: 0px;
        background: transparent;
        color: #FFFFFF;
        display: flex;
        align-items: center;
    }
}


.horizontalOrientation{
    height: 100vh;
    top: 0;
    position: fixed;
    width: 100%;
    .flipCamera{
        top: 40px;
        right: 40px;
        left: auto;
        transform: rotate(90deg);
    }

    .changeOrientation{
        top: 30pt;
        z-index: 999;
        right: 120px;
        left: auto;
        transform: rotate(90deg);
    }
    .waterMarkWrapper{
        left: 20px;
        top: 50px;
        transform: rotate(90deg);
    }
    .startButtonWrapper,
    .stopButtonWrapper{
        display: block;
        transform: rotate(90deg);
        left: 20px;
    }
}

.hideButtons{
    button{
        display: none
    }
    .waterMarkWrapper{
        display: block;
    }
    .startButtonWrapper,
    .stopButtonWrapper{
        display: none !important;
    }
    section{
        display: none !important;
    }
}
