.menuContent {
  min-height: 220px;
  color: var(--textColor);
}

.hotbarContainer {
  width: 100%;
  height: 100vh;
  bottom: 10px;
  position: absolute;
  flex-wrap: wrap;
  z-index: 5;
  display: flex;
  align-content: flex-end;
  align-items: self-start;

  .buttonsContainer {
    display: inline-flex;
    margin: auto;
    margin-bottom: 20px;
    gap: 15px;
    pointer-events: all;

    @media (max-width: 560px) {
      height: 100%;
      flex-direction: column;
      margin-left: 10px;
      justify-content: space-around;
    }
  }

  @media (max-width: 560px) {
    height: 200px;
    bottom: 90px;
    width: auto;
  }
}

.profileContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  .profileDetails {
    flex: 1;

    @media (max-width: 600px) {
      order: 1;
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.socialContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;

  svg {
    height: 1.5em;
    width: 1.5em;

    @media (max-width: 600px) {
      height: 1.2em;
      width: 1.2em;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  margin-top: 5px;
  height: 'auto';
  max-width: '100%'
}

.tutorialImage {
  background: #1b1b1b;
  border-radius: 4px;
  width: 100%;
}

.QRContainer {
  background: #fff;
  padding: 25px;
  margin: 0 auto 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}

.shareQuest {
  display: table;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;

  .shareQuestButton {
    margin-left: 35px;
    margin-right: 5px;
    min-width: 250px;
  }

  @media (max-width: 500px) {
    display: flex;

    .shareQuestButton {
      flex: 1;
      margin-left: auto;
      margin-right: 5px;
      min-width: auto;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
