@import "@xrengine/client-core/src/styles/imports.module.scss";

.primaryForeground {
  color: var(--textColor);
}

.apiRefresh {
  &:hover {
    cursor: pointer;
    color: var(--textColor);
    background-color: dimgray;
    border-radius: 100px;
  }
}

.themeSettingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;

  label {
    margin: 0;
  }
}

.themeHeading {
  font-size: 12px;
  color: var(--textColor);
}

.panelHeader {
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: var(--textColor);
}

.settingContainer {
  position: fixed;
  bottom: 20px;
  width: 100vw;
  z-index: 5;
  display: flex;
  align-items: center;

  .materialIconBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    width: 4em;

    svg {
      height: auto;
    }

    @media (max-width: 500px) {
      width: 40px;
    }

    outline: none !important;
  }

  .iconContainer {
    display: inline-flex;
    margin: auto;
    gap: 10px;

    .materialIconBlock {
      padding: 1em;
      margin-right: 5px;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      background-color: var(--iconButtonBackground);

      svg {
        color: var(--iconButtonColor);
      }

      img {
        color: var(--iconButtonColor);
      }

      &:hover {
        cursor: pointer;
        background-color: var(--iconButtonHoverColor);
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .materialIconBlock.activeMenu {
      color: #a8a8ff;
    }

    @media (max-width: 560px) {
      height: 100%;
      flex-direction: column;
      margin-left: 10px;
      justify-content: space-around;
    }
  }

  .avatarPanel {
    position: absolute;
    bottom: 75px;
    padding: 0 20px;
    background-color: var(--popupBackground);
    border-radius: 20px;
    width: 140px;
    right: 100px;
    box-shadow: 16px 16px 32px 0 #11111159;
    color: black;
    max-height: calc(100vh - 100px);
    overflow: auto;

    & > .avatarContainer {
      margin-top: 40px;
    }

    & > .controlContainer {
      margin-bottom: 10px;
    }

    .avatarContainer {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      height: auto;

      .avatarPreviewWrapper {
        width: 90px;
        height: 90px;
        cursor: pointer;
        margin: 5px;
        flex-grow: 0;
        background: white;
        box-shadow: 0 2px 18px 0 #11111159;
        position: relative;

        .avatarPreview {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }

        &.activeAvatar {
          @include active-avatar;
        }

        &.selectedAvatar {
          @include selected-avatar;
        }
      }
    }

    .controlContainer {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      .actionBlock {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        left: 0;
        padding: 0 20px;
        top: 10px;
      }
    }

    .iconBlock {
      @include icon-block-styling;
    }

    @media screen and (min-width: 768px) {
      width: 320px;

      & > .avatarContainer {
        margin-top: 55px;
      }

      .avatarContainer {
        .avatarPreviewWrapper {
          width: 130px;
          height: 130px;
        }
      }

      .controlContainer {
        .actionBlock {
          position: initial;
          width: 140px;
        }
      }
    }
  }

  @media (max-width: 560px) {
    height: 200px;
    bottom: 90px;
    width: auto;
  }
}

.profilePanelRoot {
  padding: 30px;
  z-index: 6;
  border-radius: 10px;
  background-color: var(--popupBackground);
  box-shadow: 16px 16px 32px 0 #11111159;
  color: black;

  @media screen and (max-width: 500px) {
    .profileBlock {
      justify-content: center !important;
    }

    .headerBlock {
      width: 100% !important;
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 600px;
    min-height: 208px;
  }

  * {
    touch-action: auto;
  }

  .profilePanel {
    display: flex;
    flex-direction: column;
    position: relative;

    .profileBlock {
      display: flex;
      justify-content: space-between;

      // flex-wrap: wrap;

      .avatarBlock {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 80px;
        height: 80px;
        box-shadow: 0 2px 18px 0 #11111159;
        border-radius: 50%;
        background: white;
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;

        img {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 10px;
          border-radius: 50%;
        }

        .avatarBtn {
          position: absolute;
          width: 30px;
          height: 30px;
          bottom: -10px;
          right: -10px;
          margin: 0;
          min-width: 30px;
          border-radius: 50%;
          color: var(--textColor);
          background-color: var(--iconButtonBackground);
          box-shadow: 2px 2px 10px gray;
          transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);

          &:hover,
          &:focus {
            width: 40px;
            height: 40px;
            bottom: -15px;
            right: -15px;
            background-color: var(--iconButtonSelectedBackground);
          }
        }
      }

      .headerBlock {
        display: flex;
        flex-flow: column wrap;
        width: calc(100% - 110px);
        align-content: center;

        .inputBlock {
          display: flex;
          width: 100%;
          align-items: flex-end;

          .usernameInput {
            width: 100%;
            background: transparent;

            input {
              font-size: 18px;
              color: var(--textColor);
              border-color: var(--inputOutline);
            }

            :global(.MuiFormLabel-root) {
              color: var(--textColor);
            }

            :global(.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline) {
              border-color: white !important;
            }
          }

          .materialIconBlock {
            @include material-icon-block-styling;
          }
        }

        .justify {
          @media (max-width: 560px) {
            justify-content: space-between !important;
          }
        }

        h2 {
          font-family: Roboto;
          font-size: 14px;
          text-align: left;
          opacity: 0.8;
          color: var(--textColor);
          margin: 5px 0 !important;

          span {
            text-transform: capitalize;
            font-weight: 700;
          }

          &.showUserId,
          &.deleteAccount {
            &:hover {
              color: black;
              cursor: pointer;
            }
          }
        }

        h4 {
          margin-top: 4px;
          text-align: left;
          color: var(--textColor);

          .logout {
            font-size: 14px;

            &:hover {
              opacity: 0.8;
              cursor: pointer;
              color: black;
            }
          }
        }
      }
    }

    .emailPhoneSection {
      .emailField {
        width: 100%;
        color: var(--textColor);
        background: transparent;

        input {
          color: var(--textColor);
          border-color: var(--inputOutline);
        }

        :global(.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline) {
          border-color: var(--inputOutline);
        }

        .materialIconBlock {
          @include material-icon-block-styling;
        }
      }
    }

    .walletSection {
      text-align: center;

      .textBlock {
        color: var(--textColor);
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        display: block;
        cursor: initial;
      }

      .walletBtn {
        height: 35px;
        font-size: 14px;
        width: 250px;
        max-width: 100%;
        background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));
        color: var(--textColor);
        border-radius: 20px;
        margin: 15px 0 20px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .socialBlock {
      .socialContainer {
        display: flex;
        justify-content: space-evenly;
        margin: 10px 0;

        a {
          color: #000;
          outline: none !important;
        }

        & > a:hover svg,
        & > a:focus svg {
          opacity: 0.8;
        }

        svg {
          height: 30px;
          width: 30px;
          flex-shrink: 0.9;
          margin: 0 5px;
          cursor: pointer;
          opacity: 1;
        }
      }

      .textBlock {
        font-size: 14px;
        color: var(--textColor);
        font-weight: normal;
        text-align: center;
        display: block;
        cursor: initial;
      }

      .smallTextBlock {
        font-size: 12px;
        color: var(--textColor);
        font-weight: normal;
        text-align: center;
        display: block;
        cursor: initial;
      }
    }
  }

  .deletePanel {
    .deleteAccount {
      color: var(--textColor);

      &:hover {
        cursor: pointer;
        color: mintcream;
      }
    }

    .deleteText {
      color: var(--textColor);
      margin-top: 10px;
      font-size: 16px;
    }

    .deleteConfirmButton {
      background: var(--lightRed);
      margin-right: 10px;

      &:hover {
        cursor: pointer;
        background: var(--red);
      }
    }

    .deleteCancelButton {
      background: var(--deemphasized);
      margin-right: 10px;

      &:hover {
        cursor: pointer;
        background: var(--green);
      }
    }
  }
}

.menuPanel {
  position: absolute;
  padding: 20px;
  z-index: 6;
  border-radius: 20px;
  background-color: var(--popupBackground);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 16px 16px 32px 0 #11111159;
  color: black;
  max-height: calc(100vh - 150px);
  touch-action: auto;
  overflow-y: auto;

  * {
    touch-action: auto;
  }

  .profilePanel {
    display: flex;
    flex-direction: column;
    position: relative;

    .profileBlock {
      display: flex;
      justify-content: space-between;

      // margin-bottom: 20px;
      // flex-wrap: wrap;

      .avatarBlock {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 80px;
        height: 80px;
        box-shadow: 0 2px 18px 0 #11111159;
        border-radius: 50%;
        background: white;
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;

        img {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 10px;
          border-radius: 50%;
        }

        .avatarBtn {
          position: absolute;
          width: 30px;
          height: 30px;
          bottom: -10px;
          right: -10px;
          margin: 0;
          min-width: 30px;
          border-radius: 50%;
          color: var(--textColor);
          background-color: var(--iconButtonBackground);
          box-shadow: 2px 2px 10px gray;
          transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);

          &:hover,
          &:focus {
            width: 40px;
            height: 40px;
            bottom: -15px;
            right: -15px;
            background-color: var(--iconButtonSelectedBackground);
          }

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }

      .headerBlock {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        width: 100%;

        .inputBlock {
          display: flex;
          width: 100%;
          align-items: flex-end;

          .usernameInput {
            width: 100%;
            background: transparent;

            input {
              font-size: 18px;
              color: var(--textColor);
              border-color: var(--inputOutline);
            }

            :global(.MuiFormLabel-root) {
              color: var(--textColor);
            }

            :global(.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline) {
              border-color: white !important;
            }
          }

          .materialIconBlock {
            @include material-icon-block-styling;
          }
        }

        .justify {
          @media (max-width: 560px) {
            justify-content: space-between !important;
          }
        }

        h2 {
          font-family: Roboto;
          font-size: 14px;
          text-align: left;
          opacity: 0.8;
          color: var(--textColor);
          margin: 5px 0 !important;

          span {
            text-transform: capitalize;
            font-weight: 700;
          }

          &.showUserId,
          &.deleteAccount {
            &:hover {
              color: black;
              cursor: pointer;
            }
          }
        }

        h4 {
          margin-top: 4px;
          text-align: left;
          color: var(--textColor);

          .logout {
            font-size: 14px;

            &:hover {
              opacity: 0.8;
              cursor: pointer;
              color: black;
            }
          }
        }
      }
    }

    .emailPhoneSection {
      .emailField {
        width: 100%;
        color: var(--textColor);
        background: transparent;

        input {
          color: var(--textColor);
          border-color: var(--inputOutline);
        }

        :global(.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline) {
          border-color: var(--inputOutline);
        }

        .materialIconBlock {
          @include material-icon-block-styling;
        }
      }
    }

    .walletSection {
      text-align: center;

      .textBlock {
        color: var(--textColor);
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        display: block;
        cursor: initial;
      }

      .walletBtn {
        height: 35px;
        font-size: 14px;
        width: 250px;
        max-width: 100%;
        background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));
        color: var(--textColor);
        border-radius: 20px;
        margin: 15px 0 20px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .socialBlock {
      .socialContainer {
        display: flex;
        justify-content: space-evenly;
        margin: 10px 0;

        a {
          color: #000;
          outline: none !important;
        }

        & > a:hover svg,
        & > a:focus svg {
          opacity: 0.8;
        }

        svg {
          height: 30px;
          width: 30px;
          flex-shrink: 0.9;
          margin: 0 5px;
          cursor: pointer;
          opacity: 1;
        }
      }

      .textBlock {
        font-size: 14px;
        color: var(--textColor);
        font-weight: normal;
        text-align: center;
        display: block;
        cursor: initial;
      }

      .smallTextBlock {
        font-size: 12px;
        color: var(--textColor);
        font-weight: normal;
        text-align: center;
        display: block;
        cursor: initial;
      }
    }
  }

  .sharePanel {
    position: relative;

    .shareLink {
      font-size: 16px;
      color: #454d9a;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: auto;
      margin-bottom: 20px;
      width: 100%;
      height: 24px !important;
      border: none;
      background: transparent;
      scrollbar-width: none;

      /* IE */
      resize: none;
      outline: none !important;
      -ms-overflow-style: none;

      /* Firefox */
      &::-webkit-scrollbar {
        display: none;

        /* Safari and Chrome */
      }
    }

    .sendInviteContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px auto 10px;
      justify-content: center;

      .sendInvite {
        width: 125px;
        height: 35px;
        background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));

        &:hover {
          opacity: 0.8;
        }
      }
    }

    h5 {
      color: var(--textColor);
      margin-top: 10px;
      font-size: 14px;
      font-weight: normal;
    }

    .copyField {
      width: 100%;
      color: var(--textColor);

      input {
        color: var(--textColor);
        border-color: var(--inputOutline);
        -webkit-text-fill-color: var(--textColor);
      }

      :global(.MuiOutlinedInput-root) {
        fieldset {
          border-color: var(--inputOutline);
        }
      }

      :global(.MuiInputAdornment-root) {
        color: var(--textColor);
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .emailField {
      margin-top: 30px;
      width: 100%;
      color: var(--textColor);

      input {
        color: var(--textColor);
        border-color: var(--inputOutline);
      }

      :global(.MuiOutlinedInput-root) {
        fieldset {
          border-color: var(--inputOutline);
        }
      }

      :global(.MuiInputAdornment-root) {
        color: var(--textColor);
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .shareBtnContainer {
      margin-top: 15px;
      text-align: center;

      .shareBtn {
        width: 100%;
        height: 35px;
        background: var(--purpleButtonColor);
        color: #fff;
        text-transform: capitalize;

        &:hover {
          opacity: 0.8;
        }
      }

      .friendsBtn {
        height: 35px;
        font-size: 14px;
        width: 250px;
        max-width: 100%;
        background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));
        color: var(--textColor);
        border-radius: 20px;
        margin: 15px 5px 20px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .locationPanel {
    .control {
      margin-top: 10px;
      display: flex;
    }

    .newLocation {
      width: 90px;
      background: var(--purpleButtonColor);
      margin: 0;
      height: 40px;
      flex-shrink: 0;
    }

    .searchbox {
      margin: 0;
      margin-right: 10px;
      width: 100%;
      flex-shrink: 1;
      background: white;
      border-radius: 4px;

      input,
      svg {
        color: #444;
      }

      border-color: #444;

      &:focus-within {
        svg {
          color: var(--purpleButtonColor);
        }
      }
    }

    .tableContainer {
      width: 100%;
      overflow: auto;
    }

    .locationTable {
      margin-top: 10px;

      .tableHead {
        background: var(--purpleButtonColor);
        color: var(--textColor);
      }

      .tablebody {
        .tableRow:hover {
          background: #d5d5f2;
          cursor: pointer;
        }

        .tableRow:focus {
          background: #9696fa;
        }

        .tableCell {
          color: #444;
          border: none;
          box-sizing: border-box;
        }
      }
    }

    .tablePagination {
      color: #444;

      button {
        background: transparent;
      }

      button:hover {
        background: var(--purpleButtonColor);
        color: var(--textColor);
      }
    }

    .formControl {
      width: 100%;
      margin-top: 15px;

      label {
        position: initial;
        display: block;
        transform: none;
        margin-bottom: 5px;
        color: var(--textColor);
        font-size: 0.8rem;
      }

      .checkbox {
        padding: 0 9px;

        svg {
          color: #666;
        }

        &:global(.Mui-checked) svg {
          color: var(--iconButtonColor);
        }

        &:hover {
          background: transparent;
        }

        input:focus + svg {
          opacity: 0.7;
        }
      }

      &:hover {
        :global(.MuiOutlinedInput-notchedOutline) {
          border: solid 1px #444;
        }

        .checkbox {
          opacity: 0.7;
        }
      }
    }

    .textbox input,
    .selectbox :global(.MuiSelect-selectMenu) {
      color: #444;
      background: #f4f4f4;
    }

    .deleteBtnContainer {
      position: absolute;
      top: 20px;
      right: 22px;

      .deletebtn {
        width: 50px;
        height: 20px;
        color: rgb(241 57 57);
        background: transparent;

        &:disabled {
          color: grey;
        }

        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-radius: 25px;
          background: rgb(241 57 57);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
          z-index: -1;
        }

        &:hover,
        &:focus {
          color: #fff;

          &::before {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    .backbtn {
      width: 25px;
      height: 25px;
      border-radius: 20px;
      background: transparent;
      color: var(--purpleButtonColor);
      margin: 0;
      min-width: 0;
      margin-right: 10px;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 25px;
        background: var(--purpleButtonColor);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        z-index: -1;
      }

      &:hover,
      &:focus {
        color: #fff;

        &::before {
          width: 35px;
          height: 35px;
        }
      }
    }

    .deleteDialogContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .dialog {
        background: white;
        width: 300px;
        border-radius: 4px;
        padding: 25px;
        box-shadow: 2px 2px 10px 2px #80808082;

        h2 {
          margin-top: 0;
          justify-content: center;
          color: #444;
        }

        .btnContainer {
          display: flex;
          flex-direction: row;

          button {
            padding: 0;
            width: 100px;
            height: 35px;
            margin: 20px 10px;
            background: var(--purpleButtonColor);
            font-size: 0.8rem;

            &.yesbtn {
              background: rgb(241 57 57);
            }
          }

          button:hover,
          button:focus {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .deletePanel {
    .deleteAccount {
      color: var(--textColor);

      &:hover {
        cursor: pointer;
        color: mintcream;
      }
    }

    .deleteText {
      color: var(--textColor);
      margin-top: 10px;
      font-size: 16px;
    }

    .deleteConfirmButton {
      background: var(--lightRed);
      margin-right: 10px;

      &:hover {
        cursor: pointer;
        background: var(--red);
      }
    }

    .deleteCancelButton {
      background: var(--deemphasized);
      margin-right: 10px;

      &:hover {
        cursor: pointer;
        background: var(--green);
      }
    }
  }

  // @media (max-width: 560px) {
  //   left: 100%;
  //   width: auto;
  //   bottom: 125px;
  //   transform: none;
  //   // position: absolute;
  //   // left: 50%;
  //   // top: 50%;
  //   // transform: translate(-50%, -50%);
  // }

  @media screen and (max-width: 500px) {
    .headerBlock {
      width: 100% !important;
    }
  }

  @media screen and (min-width: 768px) {
    width: 600px;
    min-height: 208px;
  }
}

.settingHeader {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
  color: var(--textColor);
}

:global(.MuiFormControlLabel-label) {
  @media (max-width: 560px) {
    font-size: 12px;
  }
}

.avatarPanel {
  @include panel-popup-container-styling;

  & > .avatarContainer {
    margin-top: 40px;
  }

  & > .controlContainer {
    margin-bottom: 10px;
  }

  .avatarContainer {
    display: flex;
    align-items: flex-start;
    margin: auto;
    flex-wrap: wrap;
    height: auto;

    .avatarPreviewWrapper {
      width: 90px;
      height: 90px;
      cursor: pointer;
      margin: 5px;
      flex-grow: 0;
      background: white;
      box-shadow: 0 2px 18px 0 #11111159;
      position: relative;
      overflow: visible;

      .avatarPreview {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      &.activeAvatar {
        @include active-avatar;
      }

      &.selectedAvatar {
        @include selected-avatar;
      }

      .deleteBlock {
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: -5px;
        right: -5px;
        border: none;
        border-radius: 50%;
        background: var(--purpleButtonColor);
        box-shadow: 2px 2px 10px gray;
        color: var(--textColor);
        transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:disabled):hover,
        &:not(:disabled):focus {
          width: 35px;
          height: 35px;
          bottom: -5px;
          right: -5px;
        }

        svg {
          font-size: 18px;
        }

        &:disabled {
          background: grey;
          cursor: default;
        }
      }

      .confirmationBlock {
        position: absolute;
        bottom: 8px;
        width: 125%;
        background: #fff;
        border-radius: 5px;
        color: grey;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 2px 2px 10px gray;

        p {
          margin: 5px;
          font-size: 13px;
        }

        button {
          background: transparent;
          color: #e81515;
          border: none;
          padding: 5px;
          width: 50%;

          &:last-child {
            color: var(--purpleButtonColor);
          }

          svg {
            font-size: 20px;
          }
        }

        @media (min-width: 769px) {
          width: 80%;
        }
      }
    }
  }

  .controlContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .actionBlock {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      left: 0;
      padding: 0 20px;
      top: 10px;
    }
  }

  .iconBlock {
    @include icon-block-styling;
  }

  @media screen and (min-width: 768px) {
    width: 330px;

    & > .avatarContainer {
      margin-top: 25px;
      width: 280px;
    }

    .avatarContainer {
      .avatarPreviewWrapper {
        width: 130px;
        height: 130px;
      }
    }

    .controlContainer {
      .actionBlock {
        position: initial;
        width: 140px;
      }
    }
  }
}

.avatarUploadPanel {
  position: absolute;
  bottom: 75px;
  padding: 0 30px;
  border-radius: 20px;
  background-color: var(--popupBackground);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 16px 16px 32px 0 #11111159;
  color: black;
  max-height: calc(100vh - 150px);
  overflow: auto;
  width: 375px;
  z-index: 1400;

  .avatarHeaderBlock {
    margin: 30px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .iconBlock {
      display: inline-block;
      cursor: pointer;
      color: var(--textColor);
      background: transparent;
    }

    h2 {
      font-size: 18px;
      color: var(--textColor);
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  .useReadyMeBtn {
    background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));
    color: var(--textColor);
    display: block;

    &:hover {
      opacity: 0.8;
    }
  }

  .controlContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    button {
      height: 35px;
      background-color: var(--iconButtonBackground);
      padding: 0;
      border: none;
      color: var(--textColor);
      flex-grow: 1;
      border-radius: 3px;
      font-size: 14px;

      & > svg {
        font-size: 18px;
        margin-left: 5px;
      }

      &:hover {
        background-color: var(--iconButtonSelectedBackground);
      }
    }

    button + button {
      margin-left: 5px;
    }

    button[disabled] {
      background: var(--disabled);
      opacity: 1 !important;
    }

    .browseBtn {
      & > svg {
        transform: rotate(180deg);
      }
    }

    .uploadBtn {
      background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
    }

    button:hover,
    button:focus {
      outline: none;
      opacity: 0.7;
    }

    .selectBtns {
      display: flex;
      justify-content: flex-end;
      margin: 8px 0;
    }
  }

  .stage {
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--buttonOutlined);

    .legendContainer {
      position: absolute;
      right: 5px;
      top: 5px;

      & > svg {
        opacity: 1;
        color: var(--iconButtonColor);

        &:hover {
          opacity: 0.8;
        }
      }

      .legend {
        position: absolute;
        padding: 10px;
        background: var(--popupBackground);
        border-radius: 5px;
        top: 30px;
        right: 5px;
        width: 130px;
        color: var(--textColor);
        font-size: 12px;
        display: none;

        span {
          margin-left: 5px;
        }

        .shiftKey {
          background: var(--popupBackground);
          color: var(--textColor);
          padding: 2px 4px;
          border-radius: 4px;
          font-weight: bold;
          margin: 0 5px 0 0;
        }

        svg {
          font-size: 18px;
          margin-right: 5px;
          width: 40px;
          color: var(--iconButtonColor);

          path {
            fill: var(--iconButtonColor);
          }
        }

        & > div + div {
          margin-top: 10px;
        }
      }

      &:hover {
        .legend {
          display: block;
        }
      }
    }
  }

  .thumbnailContainer {
    display: flex;
    width: 100%;
    margin-top: 8px;

    .thumbnailPreview {
      max-width: 100px;
      margin: auto;
    }
  }

  .selectLabelContainer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

    &:last-child {
      margin-bottom: 10px;
    }

    .avatarSelectLabel,
    .thumbnailSelectLabel {
      margin: 20px 0 8px;
      font-size: 15px;
      color: var(--textColor);
    }
  }

  .avatarNameContainer {
    display: flex;
    justify-content: space-around;
    margin: 8px 0;

    .avatarNameInput {
      color: var(--textColor);
      border-color: var(--inputOutline);
      background: transparent;

      input {
        padding: 5px;
        font-size: 14px;
        color: var(--textColor);
        border-color: var(--inputOutline);

        &::selection {
          background-color: transparent;
        }
      }

      :global(.MuiFormLabel-root) {
        color: var(--textColor);
      }

      :global(.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline) {
        border-color: white !important;
      }
    }
  }

  .iconBlock {
    @include icon-block-styling;
  }

  @media (max-width: 400px) {
    padding: 0 15px;
    width: 330px;

    .avatarHeaderBlock {
      margin-top: 15px;
    }

    .controlContainer {
      margin-bottom: 15px;
    }
  }
}

.ReadyPlayerPanel {
  @include panel-popup-container-styling;

  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--popupBackground);
  padding: 0;

  .avatarHeaderBlock {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
      font-size: 18px;
      color: var(--textColor);
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  .iconBlock {
    @include icon-block-styling;

    display: inline-block;
    cursor: pointer;
    color: var(--textColor);
    background: transparent;
  }

  iframe {
    width: 100%;
    min-height: 450px;
  }

  .centerProgress {
    position: fixed;
    left: 50%;
    top: 50%;
  }

  @media screen and (max-width: 500px) {
    .profileBlock {
      justify-content: center !important;
    }

    .headerBlock {
      width: 100% !important;
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 600px;
    min-height: 208px;
  }
}

.selectOptionContainer ul {
  background: white;

  li {
    color: #444;
  }
}

.hideView {
  display: none;
}

.avatarMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-out;

  .actionBlock {
    left: -30px;
    position: relative;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 500px) {
      left: 0;
    }

    button {
      color: var(--textColor);
      display: flex;
      padding: 3px 5px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: var(--iconButtonBackground);
      border: none;
      border-radius: 3px;
    }
  }

  .itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 100px rgb(51 51 110 / 50%);
    border-bottom-color: transparent;
    opacity: 0.9;
    position: relative;
    width: 361.4px !important;
    height: 361.4px !important;
    border-width: 70px !important;
    left: -30px;

    @media (max-width: 500px) {
      left: 0;
    }

    @media (max-width: 360px) {
      left: 0;
      width: 300px !important;
      height: 300px !important;
      border-width: 60px !important;
    }

    .menuItemBlock {
      position: relative;
    }

    .menuItem {
      border-radius: 50%;
      position: absolute;
      top: -50%;
      left: -50%;
      margin: 0;
      padding: 0;
      min-width: 0;
      background-color: white;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }

      img {
        display: block;
        width: 100%;
      }

      .iconBlock {
        width: 100%;
        height: 100%;
        display: flex;
        cursor: pointer;
        border-radius: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--iconButtonBackground);

        svg {
          color: var(--textColor);
          font-size: 20px;
        }
      }

      &.selectedAvatar {
        border: solid 2px var(--iconButtonSelectedBackground);
      }

      &.activeAvatar {
        border: solid 2px var(--iconButtonSelectedBackground);
      }
    }
  }
}

.avatarContextPanel {
  display: flex;
  flex-direction: column;
  align-items: center;

  .headerBlock {
    position: absolute;
    align-self: flex-start;
  }

  .iconBlock {
    @include icon-block-styling;

    display: inline-block;
    cursor: pointer;
    color: var(--textColor);
    background: transparent;
  }

  .ownerImage {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 75px;
    filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
    background: var(--popupBackground);
    z-index: 1000;
  }

  .userName {
    color: var(--textColor);
    text-align: center;
  }

  .contentSection {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }

  .gradientBtn {
    height: 35px;
    font-size: 14px;
    width: 250px;
    max-width: 100%;
    background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));
    color: var(--textColor);
    border-radius: 20px;
    margin: 15px 0 20px;
    border: none;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.7 !important;
    }
  }
}

.itemContainerPrev {
  content: "";
  width: 40px;
  height: 70px;
  position: absolute;
  left: 2px;
  top: 192.7px;
  background-color: rgb(51 51 110 / 50%);
  transform: rotate(45deg);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: 1;

  .iconBlock {
    position: relative;
    color: var(--textColor);
    border: none;
    padding: 0;
    background-color: transparent !important;
    top: 18px;
    right: 3px;
    transform: rotate(-45deg);

    @media (max-width: 360px) {
      top: 13px;
    }

    svg {
      position: relative;
      z-index: 1;
      font-size: 30px;
    }

    &:hover {
      color: #fff;
    }

    &.disabled {
      opacity: 0.8;
      cursor: initial;

      &::before {
        content: none !important;
      }
    }
  }

  @media (max-width: 360px) {
    width: 40px;
    height: 60px;
    position: absolute;
    left: -1px;
    top: 159px;
  }
}

.itemContainerNext {
  content: "";
  width: 40px;
  height: 70px;
  position: absolute;
  right: 2px;
  top: 192.7px;
  background-color: rgb(51 51 110 / 50%);
  transform: rotate(135deg);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: 1;

  .iconBlock {
    position: relative;
    color: var(--textColor);
    border: none;
    padding: 0;
    top: 18px;
    right: 3px;
    background-color: transparent !important;
    transform: rotate(225deg);

    @media (max-width: 360px) {
      top: 13px;
    }

    svg {
      position: relative;
      z-index: 1;
      font-size: 30px;
    }

    &:hover {
      color: #fff;
    }

    &.disabled {
      opacity: 0.8;
      cursor: initial;

      &::before {
        content: none !important;
      }
    }
  }

  @media (max-width: 360px) {
    width: 40px;
    height: 60px;
    position: absolute;
    right: -1px;
    top: 159px;
  }
}

.emoteMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-out;

  .itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 100px rgb(51 51 110 / 50%);
    border-bottom-color: transparent;
    opacity: 0.9;
    position: relative;
    width: 361.4px !important;
    height: 361.4px !important;
    border-width: 70px !important;
    left: -30px;

    @media (max-width: 500px) {
      left: 0;
    }

    @media (max-width: 360px) {
      left: 0;
      width: 300px !important;
      height: 300px !important;
      border-width: 60px !important;
    }

    .menuItemBlock {
      position: relative;
    }

    .menuItem {
      border-radius: 50%;
      position: absolute;
      top: -50%;
      left: -50%;
      margin: 0;
      padding: 0;
      min-width: 0;
      background-color: transparent;

      &:hover {
        img {
          opacity: 1;
        }
      }

      img {
        opacity: 0.8;
        display: block;
        width: 100%;
      }
    }
  }
}

.avatarSelectContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  height: 500px;
  overflow: hidden;
  max-width: 550px;
  z-index: 1400;
  background: rgb(255 255 255 / 50%);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);

  .avatarHeaderBlock {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .iconBlock {
      @include icon-block-styling;

      display: inline-block;
      cursor: pointer;
      color: var(--textColor);
      background: transparent;
    }

    h2 {
      font-size: 18px;
      color: var(--textColor);
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

.paperAvatar {
  height: 130px;
  width: 160px;
  border: none;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: rgb(81 81 255 / 45%);
  }

  @media (max-width: 400px) {
    margin-right: 5px;
  }
}

.avatarContainer {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
}

.innerMenuContainer {
  display: flex;
}

.btnDeepColor {
  background-color: #23af3a !important;
}

.btnDeepColorCancel {
  background-color: #f87678 !important;
}

.btn {
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}

.btnBack {
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btnPerson {
  background-color: rgb(255 255 255 / 70%);
  color: #808080;

  &:hover {
    background: rgb(255 255 255 / 100%);
  }
}

.btnCheck {
  background-color: #a5f2b2;
  color: #fff;
  margin: 0 10px;

  &:hover {
    background-color: #1e9932 !important;
  }
}

.btnArrow {
  background-color: #6e6ef7;
  color: #fff;
  transition: all 0.2s;

  &:hover {
    background-color: #5f5ff8;
  }
}

.btnCancel {
  color: #fff;
  background-color: #fca7a8;

  &:hover {
    background-color: #e76a6c !important;
  }
}

.avatar {
  height: 80%;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 26px;
  transform: translateX(-50%);
  cursor: pointer;
}

.size {
  height: 15px;
}

.selectedAvatar {
  border: 3px solid rgb(81 81 255 / 45%) !important;
}

.activeAvatar {
  background: rgb(81 81 255 / 60%);
  cursor: not-allowed;
}

.disabled {
  background-color: #a8a8fe !important;
  cursor: not-allowed;
}

.disabledBtn {
  cursor: not-allowed !important;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.paper {
  background: var(--inputBackground);
  display: flex;
  align-items: center;

  & > ul {
    width: 100%;
    color: var(--textColor);
  }
}

.selectPaper {
  background: var(--inputBackground);
  color: var(--textColor);

  &:global(.Mui-selected) {
    background: var(--dropdownMenuSelectedBackground);
  }
}

.rootBtn {
  font-size: 13px;
  width: auto;
  font-weight: bold;
  background: var(--buttonFilled);
  padding: 6px 28px;

  &:hover {
    opacity: 0.8;
  }
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.input {
  font-size: 14px;
  color: var(--textColor);
  background-color: var(--inputBackground);
}

.tabRoot {
  min-height: 20px;
  color: #ccc;
}

.selected {
  background: white;
}

.color {
  color: var(--textColor);
}

.paper2 {
  background: var(--inputBackground);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 0;
}

.selectedTab {
  color: var(--textColor) !important;
  font-weight: bold;
  font-size: 17px;
  text-transform: capitalize;
}

.unselectedTab {
  color: var(--buttonFilled) !important;
  font-weight: bold;
  font-size: 17px;
  text-transform: capitalize;
}

.select {
  background: var(--inputBackground);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  padding: 2px 7px;
  font-size: 11px;
  color: var(--white);
}

.menuItem {
  padding: 5px;
  font-size: 12px;

  &:hover {
    background: var(--dropdownMenuHoverBackground);
  }

  &:global(.Mui-selected) {
    background: var(--dropdownMenuSelectedBackground);
  }
}

.controlsContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex: 1;
}

.selectSize {
  width: 35%;

  & > div > div {
    padding: 3px;
  }

  & > div > label {
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: -10px;
    margin-left: -5px;
  }

  & > div > div > svg {
    color: var(--iconButtonColor);
  }
}

.sectionBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.collapseBtn {
  background-color: transparent !important;
  color: var(--textColor);
}

.tableRow {
  border: none;
  color: #fff;
}

.label {
  color: var(--textColor);
  font-weight: 100;
  font-size: 15px;
}

.checkboxMode {
  color: var(--textColor);
}

.formRoot {
  padding: 15px 10px;
}

.QRContainer {
  background: #fff;
  padding: 25px 0;
  margin: 0 auto 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}

.title {
  font-size: 14px;
  font-weight: bold;
  color: var(--textColor);
  margin-bottom: 20px;
}

.themesHeading {
  color: var(--textColor);
  font-size: 14px;
  margin-right: 7px;
  margin-top: 7px;
}

.iconBtn {
  color: var(--sidebarSelectedBackground) !important;
}

.tabsContent {
  min-height: 250px;
  padding: 20px;
}

.settingPanel {
  .headerBlock {
    display: flex;

    .iconBlock {
      @include icon-block-styling;

      display: inline-block;
      cursor: pointer;
      color: var(--textColor);
      background: transparent;
      margin-right: 20px;
    }
  }

  .settingSection {
    color: var(--textColor);
    position: relative;

    & + .settingSection {
      margin-top: 25px;
    }
  }

  .tutorialImage {
    background-color: #1b1b1b;
    border-radius: 4px;
  }

  .row {
    display: flex;
    align-items: center;

    & + .row {
      margin-top: 5px;
    }

    > div {
      flex: 1;
      margin: 10px;
    }

    .checkboxBlock {
      margin: 4px 20px 0 0;
      flex-grow: 1;

      :global(.MuiCheckbox-root) {
        padding: 0;
        color: var(--sidebarSelectedBackground);
        margin-right: 10px;

        svg {
          font-size: 24px;
        }

        span {
          font-size: 14px;
        }
      }

      :global(.MuiIconButton-colorSecondary) {
        &:hover {
          background: none;
        }
      }
    }

    .materialIconBlock {
      width: 24px;
      height: 24px;
      flex-shrink: 0;

      svg {
        color: var(--buttonOutlined);
      }
    }

    .settingLabel {
      margin-left: 10px;
      font-size: 14px;

      // width: 100px;
      display: inline-block;
      flex-shrink: 0;
      font-family: Roboto;
      width: 28%;
    }

    :global(.MuiSlider-root) {
      &.slider {
        color: var(--iconButtonSelectedBackground);
        margin: 0 10px;
      }

      :global(.MuiSlider-thumb) {
        background: var(--iconButtonSelectedBackground);
        border: var(--iconButtonSelectedBackground);
        width: 16px;
        height: 16px;
      }
    }
  }

  .automatic {
    position: absolute;
    top: -8px;
    right: 0;

    .checkboxBlock {
      margin: 0 -2px 0 0;

      :global(.MuiCheckbox-root) {
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }
}

.friendsPanel {
  .friendsList {
    margin: 30px;
    max-height: 400px;
    height: 200px;
    overflow: auto;
  }

  .friendItem {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: var(--textColor);
    font-size: 14px;
  }

  .friendName {
    flex: 1;
    font-size: 16px;
    margin-left: 15px;
  }

  .filledBtn {
    background: var(--iconButtonBackground);
    color: var(--textColor);
    opacity: 1;
    border-radius: 20px;
    min-height: 35px;
    margin: 0 5px;
    font-size: 14px;
    width: auto;

    &:hover {
      opacity: 0.8;
    }
  }

  .noUsers {
    text-align: center;
    margin-top: 20px;
    color: var(--textColor);
  }
}

.tabsPanel {
  width: 100%;
  min-height: auto;

  button {
    color: var(--textColor);
    opacity: 1;
    min-height: 35px;
  }

  :global(.Mui-selected) {
    color: var(--textColor);
    opacity: 1 !important;
  }

  :global(.MuiTabs-indicator) {
    background-color: var(--iconButtonBackground);
  }
}

.chip {
  color: var(--textColor);
  border-color: var(--textColor);
  margin-right: 10px;
}
