.enterVR {
  z-index: 100000;
  position: fixed;
  bottom: 2em;
  right: 3em;
  width: 5em;
  height: 5em;
}

.scene {
  position: fixed;
}

.a-loader-title {
  display: none !important;
  position: absolute !important;
  top: -100000 !important;
  opacity: 0;
}
