.root {
  display: flex;
}

.paper {
  border: 2px solid #000;
}

.signup__fileField {
  display: none;
}

.uploadform {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
