@mixin icon-block-styling() {
  position: relative;
  color: white;
  border: none;
  padding: 0;

  svg {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 20px;
    background: var(--iconButtonBackground);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  &:hover,
  &:focus {
    color: #fff;

    &::before {
      width: 35px;
      height: 35px;
    }
  }

  &.disabled {
    color: grey;
    cursor: initial;

    &::before {
      content: none !important;
    }
  }
}

@mixin purple-pink-linear-gradient() {
  background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));
}

@mixin paper-modal() {
  padding: 24px 32px;
  box-shadow:
    0 3px 5px -1px rgb(0 0 0 / 20%),
    0 5px 8px 0 rgb(0 0 0 / 14%),
    0 1px 14px 0 rgb(0 0 0 / 12%);
  background-color: #fff;
}
