$PurpleButtonColor: #5f5ff1;
$SelectedGreenColor: #21b84e;
$PrimaryGreenColor: #21b84e;
$FacebookBlue: #4267b2;
$LightRed: #ef5350;
$MediumBlue: #3838b2;
$BackgroundColor: #5f5ff1;
$SectionBackgroundColor: rgb(31 27 72 / 85%);
