.avatarName {
  font-size: 60px;
  background-color: #000d;
  color: white;
  font-family: Lato, sans-serif;
  font-weight: 400;
  border: 10px solid white;
  border-radius: 50px;
  padding: 20px;
  margin: 60px;
  box-shadow: #fff2 0 0 30px;
  width: 400px;
  text-align: center;
}

.typingIndicator {
  margin: 0;
  padding: 0;
}
