@import "../../../styles/imports.module.scss";

.emailDiv{
    max-width: 400px;
    margin: 0 0 0 auto;
    background: rgba(31, 27, 72, 0.85);
    box-shadow: 0 4px 11px 5px #00000040;
    padding: 20px;
    border-radius: 10px;
}
.emailTitle{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.emailDetail{
    margin: 10px 0 15px;
    font-size: 12px;
    color: #ABABAB;
}

.formControl {
    .emailInput{
        background: #3C3C6F;
        color: white;
        border: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 12px;
        padding: 10px 15px;
        width: 100%;
        height: 35px;
    }
    .inputLabel {
        color: #dfdfdf;
        margin-bottom: 5px;
        display: block;
        font-size: 13px;
        font-weight: normal;
    }
    .error {
        color: #c10561;
        margin-top: 3px;
    }
    textarea { height: 100px !important; }

    &+ .formControl { margin-top: 10px; }
}

.btnContainer {
    margin-top: 20px;
    text-align: center;

    button {
        @include purple-pink-linear-gradient();
        width: 100px;
        height: 35px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover { box-shadow: 0 0 10px 7px #5435fb30; }
}

:global(.MuiDialog-paper) { background: transparent !important; }

.dialog {
    background: #281e4a;
    padding: 20px !important;
    .dialogText {
        color: white;
        font-size: 13px;
    }
    button {
        @include purple-pink-linear-gradient();
        width: 50px;
        height: 25px;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin: 20px auto 0 auto;
        display: block;
    }
    button:hover { box-shadow: 0 0 10px 7px #5435fb30; }
}
