.feedMenuContainer{
    width: 100vw;
    padding: 13px 0px;
    box-sizing: border-box;
    height: 66px;

    .switcher{
        background-color: #FFFFFF;
        padding: 5px 5px;
        display: none;
        margin: 10px 20px;
        border-radius: 35px;
        border-color: #E4E4E4;
        border-width: 1px;
        border-style: solid;
        width: fit-content;
        .switchButton{
            margin: 0;
            color: #C4C4C4;
            font-size: 17pt;
            text-transform: uppercase;
            padding: 0 10px;
            border-radius: 35px;
            box-shadow: none;
            &.active{
                background-color: #E4E4E4;
            }
        }
    }

    .switcherActive {
        display: flex;
    }

    @media (min-width:768px) {
    //    .switcher {
    //        width: 40%;
    //    } 
    }

    @media (min-width:425px) {
    //    .switcher {
    //        width: 50%;
    //    } 
    }

    .viewSwitcher{
        @extend .switcher;
        display: flex;
        width: fit-content;
        .viewSwitchButton{
            @extend .switchButton;
            &.viewActive{
                @extend .active;
            }
        }
    }

    .subWrapper{
        width: 100%;
        box-sizing: border-box;
        height: 66px;
        overflow-x: scroll;
        padding: 0 19pt;
        scrollbar-width: none;
        @media screen and (max-width: 499px){
            padding: 0 15pt;
        }
    }
    .feedMenu{
        width: max-content;
        display: flex;
        flex-direction: row;
        height: 40px;

        button{
            padding: 11pt 29pt;
            min-width: none;
            width: max-content;
            height: max-content;
            margin: 0px 5px;
            color: #8a8a8e;
            font-size: 13pt;
            font-family: "SFProText-Regular";
            border-radius: 10px;
            line-height: 18pt;
            &:first-child{
                margin-left: 0px;
            }
            @media screen and (max-width: 499px){
                font-size: 10.4pt;
                line-height: 14pt;
                padding: 8.8pt 23pt;
            }
            &:global(.MuiButton-root){
                text-transform: none;
            }
        }
        .active{
            color: #FFFFFF;
            
            &.featuredButton{
                background-color: rgb(203, 51, 50);
            }
            &.creatorsButton{
                background-color: rgb(202, 62, 123);
            }
            &.thefeedButton{
                background-color: #F2AD31;
            }
        }
    }
    .disabled {
        color: #e3e3e3 !important;
        cursor: not-allowed !important;
    }
}

.content{
    width: 100vw;
    padding: 5px 0px 95px 0px;
    margin-top: 40px;
    box-sizing: border-box;
}
