.userMediaWindowsContainer {
  flex: 1;
  overflow: auto;
  margin: 15px 15px 0;

  @media (max-width: 1024px) {
    flex: none;
  }

  @media (max-width: 450px) {
    margin: 0;
  }
}

.userMediaWindows {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 15px;
  overflow-y: auto;
  scrollbar-width: none;

  .conferenceModeButtons {
    width: 100%;
    display: none;
    margin-top: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    .conferenceModeButton {
      padding: 1px;
      cursor: pointer;
      background-color: var(--iconButtonBackground);

      svg {
        width: 20px;
        height: 20px;
        color: var(--iconButtonColor);

        path {
          fill: var(--iconButtonColor);
        }
      }
    }
  }

  /* IE */
  -ms-overflow-style: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;

    /* Safari and Chrome */
  }

  &::after {
    content: " ";
    padding: 10px;
    display: none;
  }

  @media (max-width: 768px) {
    overflow-x: auto;
    max-width: 100vw;
    padding: 20px 20px 60px;
    top: -15px;
    right: -15px;
    margin: 0;

    &::after {
      display: inline-block;
    }
  }

  &:hover,
  &:focus {
    .conferenceModeButtons {
      display: flex;
    }
  }

  @media (min-width: 769px) {
    [class*="party-chat-user"] {
      &:hover,
      &:focus {
        [class*="user-controls"] {
          padding: 10px 10px 10px 25px;
          z-index: 10;
          min-width: 150px;
          width: auto;
        }
      }
    }
  }

  @media (max-width: 450px) {
    padding: 0;
  }
}
