.primary {
  background: #5f5ff1;
}
.primaryForeground {
  color: #5f5ff1;
}
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  img {
    width: 25%;
  }
}

.settingContainer {
  position: fixed;
  bottom: 20px;
  width: 100vw;
  z-index: 15;
  display: flex;
  align-items: center;

  .materialIconBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;

    svg {
      width: 100%;
      height: 100%;
    }

    outline: none !important;
  }

  .iconContainer {
    display: inline-flex;
    border-radius: 5px;
    background: #00000050;
    margin: auto;

    .materialIconBlock {
      padding: 1em;

      svg {
        opacity: 0.4;
      }

      &:hover {
        cursor: pointer;

        svg {
          opacity: 1;
          color: #a8a8ff;
        }
      }
    }
    .materialIconBlock.activeMenu {
      color: #a8a8ff;
    }
  }
}

.menuPanel {
  position: absolute;
  padding: 0 30px;
  background: #ffff;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  touch-action: auto;
  margin: 0 auto;
  max-width: 600px;
  * {
    touch-action: auto;
  }

  & > .profilePanel,
  & > .accountPanel,
  & > .settingPanel,
  & > .sharePanel,
  & > .locationPanel {
    margin: 30px 0;
  }

  .profilePanel {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    position: relative;

    .closeButton {
      position: fixed;
      right: 8px;
      top: 8px;

      &:hover {
        cursor: pointer;
        color: red;
      }
    }
    .logIn {
      background-color: rgba(118, 118, 118, 0.29);
      color: rgba(133, 130, 130, 1);
      text-align: center;
      width: 100%;
      height: 40px;
    }
    .emailPhoneSection {
      .panelHeader {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        justify-content: center;
      }
      p {
        font-size: 16px;
      }
      .emailField {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        background: white;
        div {
          height: 71px;
        }
        input {
          color: black;
        }
        :global(.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline) {
          border-color: black;
        }
        .materialIconBlock {
          margin-left: 20px;
          width: 20px;
          height: 20px;
          flex-shrink: 0;
          flex-grow: 0;
          position: relative;

          &::before {
            content: ' ';
            position: absolute;
            width: 0px;
            height: 0px;
            border-radius: 20px;
            background: #5f5ff1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
          }
          &:hover,
          &:focus {
            svg {
              color: #fff;
              z-index: 1;
            }
            &::before {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }

    .walletSection {
      text-align: center;

      .textBlock {
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        display: block;
        cursor: initial;
      }

      .walletBtn {
        height: 35px;
        background: #5f5ff1;
        color: #ffffff;
        margin: 15px 0 20px 0;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .socialBlock {
      .socialContainer {
        margin-bottom: 20px;
        a {
          color: #000;
          outline: none !important;
          border-right: 1px solid rgba(0, 0, 0, 0.87);
          padding: 10px;
        }
        & > a:hover svg,
        & > a:focus svg {
          opacity: 1;
        }
        svg {
          height: 40px;
          width: 40px;
          flex-shrink: 0.9;
          margin: 0 5px;
          cursor: pointer;
          opacity: 0.7;
        }
      }
      .socialWrap {
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.87);
        margin-top: 25px;
        :first-child {
          margin-top: 0;
        }
        h3 {
          color: rgba(0, 0, 0, 0.87);
          cursor: pointer;
          padding-left: 15px;
          font-size: 18px;
        }
      }
      .socialWrap:hover {
        cursor: pointer;
      }

      .textBlock {
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        display: block;
        cursor: initial;
      }

      .smallTextBlock {
        font-size: 12px;
        font-weight: normal;
        text-align: center;
        display: block;
        cursor: initial;
      }
    }
  }

  .settingPanel {
    .settingSection {
      position: relative;
      & + .settingSection {
        margin-top: 25px;
      }
    }
    .row {
      display: flex;
      align-items: center;

      & + .flexWrap {
        flex-wrap: wrap;
      }
      & + .row {
        margin-top: 5px;
      }

      .checkboxBlock {
        margin: 4px 20px 0 0;

        :global(.MuiCheckbox-root) {
          padding: 0;
          color: #5f5ff1;
          margin-right: 10px;

          svg {
            font-size: 24px;
          }
          span {
            font-size: 14px;
          }
        }
        :global(.MuiIconButton-colorSecondary) {
          &:hover {
            background: none;
          }
        }
      }

      .materialIconBlock {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        svg {
          color: #5f5ff1;
        }
      }

      .settingLabel {
        margin-left: 10px;
        font-size: 14px;
        width: 100px;
        display: inline-block;
        flex-shrink: 0;
        font-family: Roboto;
      }

      :global(.MuiSlider-root) {
        &.slider {
          color: #5f5ff1;
          margin: 0 10px;
        }
        :global(.MuiSlider-thumb) {
          background: #5f5ff1;
          border: #5f5ff1;
          width: 16px;
          height: 16px;
          margin-top: -7px;
          margin-left: -8px;
        }
      }
    }
    .automatic {
      position: absolute;
      top: -8px;
      right: 0;

      .checkboxBlock {
        margin: 0 -2px 0 0;
        :global(.MuiCheckbox-root) {
          margin-left: 10px;
          margin-right: 0;
        }
      }
    }
  }

  .sharePanel {
    position: relative;
    .panelHeader {
      font-size: 18px;
      font-weight: bold;
    }
    .shareLink {
      font-size: 16px;
      color: #454d9a;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: auto;
      margin-bottom: 20px;
      width: 100%;
      height: 24px !important;
      border: none;
      background: transparent;
      scrollbar-width: none; /* IE */
      resize: none;
      outline: none !important;
      -ms-overflow-style: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    }
    .copyBtn {
      width: 100px;
      height: 35px;
      background: #5f5ff1;
      position: absolute;
      top: -9px;
      right: 0;
      margin: 0;

      .materialIconBlock {
        width: 16px;
        height: 16px;
        margin-left: 5px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
    .emailField {
      margin-top: 10px;
      width: 100%;
      input {
        color: black;
      }
      :global(.MuiOutlinedInput-root:hover) {
        fieldset {
          border-color: black;
        }
      }
      :global(.MuiInputAdornment-root) {
        color: #5f5ff1;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .shareBtnContainer {
      margin-top: 15px;
      text-align: center;
      .shareBtn {
        width: 100px;
        height: 35px;
        background: #5f5ff1;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .locationPanel {
    .control {
      margin-top: 10px;
      display: flex;
    }
    .newLocation {
      width: 90px;
      background: #5f5ff1;
      margin: 0;
      height: 40px;
      flex-shrink: 0;
    }
    .searchbox {
      margin: 0;
      margin-right: 10px;
      width: 100%;
      flex-shrink: 1;
      background: white;
      border-radius: 4px;
      input,
      svg {
        color: #444;
      }
      border-color: #444;
      &:focus-within {
        svg {
          color: #5f5ff1;
        }
      }
    }
    .tableContainer {
      width: 100%;
      overflow: auto;
    }
    .locationTable {
      margin-top: 10px;
      .tableHead {
        background: #5f5ff1;
        color: white;
      }
      .tablebody {
        .tableRow:hover {
          background: #d5d5f2;
          cursor: pointer;
        }
        .tableRow:focus {
          background: #9696fa;
        }
        .tableCell {
          color: #444;
          border: none;
          box-sizing: border-box;
        }
      }
    }
    .tablePagination {
      color: #444;
      button {
        background: transparent;
      }
      button:hover {
        background: #5f5ff1;
        color: white;
      }
    }
    .formControl {
      width: 100%;
      margin-top: 15px;
      label {
        position: initial;
        display: block;
        transform: none;
        margin-bottom: 5px;
        color: #666;
        font-size: 0.8rem;
      }
      .checkbox {
        padding: 0 9px;
        svg {
          color: #666;
        }
        &:global(.Mui-checked) svg {
          color: #5f5ff1;
        }
        &:hover {
          background: transparent;
        }
        input:focus + svg {
          opacity: 0.7;
        }
      }
      &:hover {
        :global(.MuiOutlinedInput-notchedOutline) {
          border: solid 1px #444;
        }
      }
      &:hover {
        .checkbox {
          opacity: 0.7;
        }
      }
    }
    .textbox input,
    .selectbox :global(.MuiSelect-selectMenu) {
      color: #444;
      background: #f4f4f4;
    }
    .deleteBtnContainer {
      position: absolute;
      top: 20px;
      right: 22px;
      .deletebtn {
        width: 50px;
        height: 20px;
        color: rgb(241, 57, 57);
        background: transparent;
        &:disabled {
          color: grey;
        }
        &::before {
          content: '';
          position: absolute;
          width: 0px;
          height: 0px;
          border-radius: 25px;
          background: rgb(241, 57, 57);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
          z-index: -1;
        }
        &:hover,
        &:focus {
          color: #fff;
          &::before {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
    .backbtn {
      width: 25px;
      height: 25px;
      border-radius: 20px;
      background: transparent;
      color: #5f5ff1;
      margin: 0;
      min-width: 0;
      margin-right: 10px;
      &::before {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        border-radius: 25px;
        background: #5f5ff1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        z-index: -1;
      }
      &:hover,
      &:focus {
        color: #fff;
        &::before {
          width: 35px;
          height: 35px;
        }
      }
    }
    .savebtn {
      color: white;
      background: #5f5ff1;
      height: 35px;
      width: 150px;
      margin-top: 25px;
      &:hover {
        opacity: 0.8;
      }
    }
    .deleteDialogContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .dialog {
        background: white;
        width: 300px;
        border-radius: 4px;
        padding: 25px;
        box-shadow: 2px 2px 10px 2px #80808082;

        h2 {
          margin-top: 0;
          justify-content: center;
          color: #444;
        }

        .btnContainer {
          display: flex;
          flex-direction: row;
          button {
            padding: 0;
            width: 100px;
            height: 35px;
            margin: 20px 10px;
            background: #5f5ff1;
            font-size: 0.8rem;
            &.yesbtn {
              background: rgb(241, 57, 57);
            }
          }
          button:hover,
          button:focus {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.socialBack {
  position: absolute;
  top: 10px;
  left: 0;
  cursor: pointer;
}

.avatarPanel {
  position: absolute;
  bottom: 75px;
  padding: 0 20px;

  border-radius: 5px;
  background: #ffffffe8;
  width: 140px;
  right: 100px;
  box-shadow: 16px 16px 32px 0px #11111159;
  color: black;

  max-height: calc(100vh - 175px);
  overflow: auto;

  & > .avatarContainer {
    margin-top: 40px;
  }
  & > .controlContainer {
    margin-bottom: 10px;
  }

  .avatarContainer {
    display: flex;
    align-items: flex-start;
    margin: auto;
    flex-wrap: wrap;
    height: auto;

    .avatarPreviewWrapper {
      width: 90px;
      height: 90px;
      cursor: pointer;
      margin: 5px;
      flex-grow: 0;
      background: white;
      box-shadow: 0px 2px 18px 0px #11111159;
      position: relative;
      overflow: visible;

      .avatarPreview {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      &.activeAvatar {
        &::after {
          content: '✓';
          position: absolute;
          background: #5f5ff1;
          height: 20px;
          width: 20px;
          top: 5px;
          right: 5px;
          text-align: center;
          border-radius: 10px;
          color: white;
          font-weight: bold;
        }
      }

      &.selectedAvatar {
        &::before {
          content: '✓';
          position: absolute;
          background: #21b84e;
          height: 20px;
          width: 20px;
          top: 5px;
          right: 5px;
          text-align: center;
          border-radius: 10px;
          color: white;
          font-weight: bold;
        }
      }
      .deleteBlock {
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: -5px;
        right: -5px;
        border: none;
        border-radius: 50%;
        background: #5f5ff1;
        box-shadow: 2px 2px 10px gray;
        color: white;
        transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        display: flex;
        align-items: center;
        justify-content: center;
        &:not(:disabled):hover,
        &:not(:disabled):focus {
          width: 35px;
          height: 35px;
          bottom: -5px;
          right: -5px;
        }
        svg {
          font-size: 18px;
        }
        &:disabled {
          background: grey;
          cursor: default;
        }
      }
      .confirmationBlock {
        position: absolute;
        bottom: 8px;
        width: 125%;
        background: #fff;
        border-radius: 5px;
        color: grey;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 2px 2px 10px gray;

        p {
          margin: 5px;
          font-size: 13px;
        }
        button {
          background: transparent;
          color: #e81515;
          border: none;
          padding: 5px;
          width: 50%;
          &:last-child {
            color: #5f5ff1;
          }
          svg {
            font-size: 20px;
          }
        }
        @media (min-width: 769px) {
          width: 80%;
        }
      }
    }
  }

  .controlContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .actionBlock {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      left: 0;
      padding: 0 20px;
      top: 10px;
    }
  }

  .iconBlock {
    position: relative;
    color: black;
    border: none;
    padding: 0;
    background: transparent;

    svg {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: ' ';
      position: absolute;
      width: 0px;
      height: 0px;
      border-radius: 20px;
      background: #5f5ff1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
    &:hover,
    &:focus {
      color: #fff;

      &::before {
        width: 35px;
        height: 35px;
      }
    }

    &.disabled {
      color: grey;
      cursor: initial;

      &::before {
        content: none !important;
      }
    }
  }

  @media screen and (min-width: 768px) {
    width: 330px;
    & > .avatarContainer {
      margin-top: 25px;
      width: 280px;
    }

    .avatarContainer {
      .avatarPreviewWrapper {
        width: 130px;
        height: 130px;
      }
    }

    .controlContainer {
      .actionBlock {
        position: initial;
        width: 140px;
      }
    }
  }
}

.ReadyPlayerPanel {
  position: absolute;
  bottom: 75px;
  border-radius: 5px;
  background: #ffffffe8;
  width: calc(100% - 50px);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 16px 16px 32px 0px #11111159;
  color: black;
  max-height: calc(100vh - 175px);
  overflow-x: hidden;
  touch-action: auto;

  .controlContainer {
    display: flex;
    justify-content: space-between;

    .actionBlock {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      left: 0;
      padding: 0 20px;
      top: 10px;
    }
  }

  .iconBlock {
    position: relative;
    color: #dad7d7;
    border: none;
    padding: 0;
    background: transparent;

    svg {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: ' ';
      position: absolute;
      width: 0px;
      height: 0px;
      border-radius: 20px;
      background: #5f5ff1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
    &:hover,
    &:focus {
      color: #fff;

      &::before {
        width: 35px;
        height: 35px;
      }
    }

    &.disabled {
      color: grey;
      cursor: initial;

      &::before {
        content: none !important;
      }
    }
  }

  iframe {
    width: 100%;
    height: 100%;
    min-height: 450px;
  }

  .centerProgress {
    position: fixed;
    left: 50%;
    top: 50%;
  }
}

.selectOptionContainer ul {
  background: white;
  li {
    color: #444;
  }
}

.hideView {
  display: none;
}
