.gradientButton {
  background: linear-gradient(90deg, var(--buttonGradientStart), var(--buttonGradientEnd));
  color: var(--buttonTextColor) !important;

  &.forceVaporwave {
    background: linear-gradient(90deg, #5236ff, #c20560);
    color: #fff !important;
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.outlinedButton {
  background: transparent;
  border: solid 1px var(--buttonOutlined);
  color: var(--buttonTextColor) !important;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.5;
  }
}
