*{
    box-sizing:border-box;
    margin:0;
    padding:0;
 }
 
body {
    background: #c4c4c4 !important;
    
}
.message {
    .icondown{
        position:absolute;
        left:53.47%;
        right:39.87%;
        top:7.92%;
        bottom:90.2%;
        color:#614AD3;
        cursor: pointer;
    }
    .icontop{
        position:absolute;
        left:90%;
        right:0%;
        top:8.33%;
        bottom:8.33%;
        color:#614AD3;
        cursor: pointer;
    }
}

.messaging{
    position: relative;
    top:539px;
    .send{
       position: absolute;
       right: 6%;
       top:25%;
       background:mediumblue;
       color:#ffffffff;
       border-radius: 50%;
       cursor: pointer;
       width:25px;
       height:25px;
       padding: 3px;
    }
    
    input{
        display: block;
        padding:17px;
        outline: none;
        border: none;
        width: 90%;
        border-radius: 0.3rem;
        margin: 0 auto;
        &:focus{
            border: 1px solid blue;
        }
    }

}

.chatmsg{
    position: absolute;
    top:430px;
    left:63px;

    .username {
      background: rgba(255, 255, 255, 0.75);
      border-radius: 0.3rem;
      padding:0.6rem;
      font-size:12px;
      color: #051728;
      font-family:  Arial Rounded MT Bold;
      font-weight: 400;
      display: inline-block;

    }
    .userlong{
        background: rgba(255, 255, 255, 0.75);
        border-radius: 0.3rem;
        padding: 0.8rem;
        font-size :12px;
        color: #051728;
        margin-top: 1.1rem;
        font-family:  Arial Rounded MT Bold;
        font-weight: 400;
    
    }
}




@media (max-width:768px) {
    .chatmsg{
        display: relative;
        left: 34px;

    }
}

@media (max-width:650px) {
    .chatmsg{
        display: relative;
        left: 26px;
    }
}


@media (max-width:375px) {
     .chatmsg{
         display: relative;
          top:545px;
          left: 20px;
          right: 20px;
     }
    .messaging {
        display: relative;
        top: 670px;
    }
  }