*{
   box-sizing:border-box;
   margin:0;
   padding:0;
}
body{
    background: #c4c4c4 !important;
}

.top{
    .icondown{
        position:absolute;
        left:53.47%;
        right:39.87%;
        top:10%;
        bottom:90.2%;
        color:#614AD3;
        cursor: pointer;
    }
    .icontop{
        position:absolute;
        left:90%;
        right:0%;
        top:10.50%;
        bottom:8.33%;
        color:#614AD3;
        cursor: pointer;
    }
    .iconmessage{
        color:#624bd4;
        position:absolute;
        left:13.6%;
        top:81%;
        bottom:7.13%;
        border:1px solid #614AD3;
        border-radius:50%;
        padding:1rem;
        background: #ffffff;
         width:55px;
         height:55px;
         cursor:pointer
        
    }

    .iconmic{
        position:absolute;
        width:55px;
        height:55px;
        left:53.47%;
        top:81%;
        padding:1rem;
        background-color:#e94747;
        color:#ffffff;
        border-radius: 50%;
        cursor:pointer
    }

}

