.tipItem{
    width: 100%;
    border-top: 1px solid #DDDDDD;
    padding: 5px 0 0 0;
    position: relative;

    .previewImage{
        height: 210px;
    }
    .eyeLine{
        position: absolute;
        top: 235px;
        width: 100%;
        text-align: right;
        box-sizing: border-box;
        padding: 0 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        color: blanchedalmond;
        svg{
            margin: 0 0 0 5px;
        }
    }
    .titleContainer{
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-between;            
    }
    .flamesCount{
        font-weight: bold;
        margin: 0 5px 0 0;
    }
}