.iconButton {
  color: var(--iconButtonColor);
}

.backgroundStyle {
  box-shadow: 2px 2px 10px gray;
  transition: all 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
