.paper {
    padding: 16px 32px 24px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
}

.selectable:hover {
    cursor: pointer;
    background-color: gray;
}

.background-red {
    background-color: #ef5350;
    color: white;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.MuiDrawer-paperAnchorRight {
    width: 30%;
    @media (max-width: 768px) {
        width: 90%;
    }
}

.details>* {
    margin: 1em;
}

.group-form {
    margin: 1em;
}

.title {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
}

.description {
    font-size: 1.2em;
}

.margin-top {
    margin-top: 1em;
}

.list-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.list-container ul {
    flex-grow: 1;
    overflow-y: auto;
    min-height: 0;
}

.group-select, .friend-select {
    min-width: 100px;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.sub-header {
    text-align: center;
    padding: 0.5em;
}

.username {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.MuiTab-root {
    @media (min-width: 600px) {
        min-width: initial;
    }
}

.location-grid>li {
    border: 1px solid gray;
    border-radius: 10px;
}

.location-grid > li:hover {
    cursor: pointer;
    background-color: darkgoldenrod;
}