.paper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  margin: 7px;
  background-color: #3f51b5;
}
.form {
  width: 100%;
  margin-top: 14px;
}

.submit {
  margin: 21px 0 14px;
}
