@use "../theme.scss"as theme;

.elementListContainer {
    width: 105px;
    height: calc(100vh - 90px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    position: fixed;
    top: 55px;
    right: 5px;
    z-index: 1000;
    align-content: start;
    overflow-y: auto;
    pointer-events: auto;
    background: rgba($color: theme.$dock, $alpha: 0.875);
    padding: 5px;
    border-radius: 5px;

    &>div {
        width: 45px;
        height: 45px;
    }

    .element {
        width: 45px;
        height: 45px;
        padding: 5px;
        color: theme.$text2;
        border-radius: 4px;

        svg {
            width: 25px;
            height: auto;
        }

        &:hover,
        &:focus-visible {
            color: theme.$text;
            background: theme.$purpleColor;
        }
    }
}

.elementDropZone {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}