.elementListContainer {
  width: 120px;
  height: calc(100vh - 60px);
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  position: fixed;
  top: 55px;
  right: 5px;
  z-index: 10;
  align-content: flex-start;
  overflow-y: overlay;
  pointer-events: auto;
  background: var(--dockBackground);
  padding: 5px;
  border-radius: 5px;
}

.categoryTitle {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.category {
  width: auto;
  height: auto;
  display: flex;
  flex-flow: wrap;
  padding: 5px;
  margin: 5px;
  color: var(--textColor);

  & > div {
    width: 45px;
    height: 45px;
  }

  .element {
    width: 45px;
    height: 45px;
    padding: 5px;
    color: var(--textColor);
    border-radius: 4px;

    svg {
      width: 25px;
      height: auto;
    }

    &:hover,
    &:focus-visible {
      color: var(--textColor);
      background: var(--dropdownMenuHoverBackground);
    }
  }
}

.elementDropZone {
  position: fixed;
  inset: 0;
}