.drawerBox {
  display: flex;
  position: fixed;
  bottom: 50px;
  z-index: 10;
  width: 100%;
  justify-content: center;

  .iconContainer {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */


    margin: 0px;
    cursor: pointer;
    position: relative;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover::before {
      transform: scale(1);
    }
  }
}