$mobileControllButtonsSize:3em;
.stickLeft{
    position: fixed;
    bottom: 50px;
    width: 50%;
    left: 0;    
}

.controlButtonContainer{
    position: fixed;
    border-radius: 50%;
    right: 100px;
    bottom: 40px;
    line-height: ($mobileControllButtonsSize+1em);

    .controllButton{
        position: absolute;
        border-radius: 50%;
        background:rgba(255,255,255,0.4);
        opacity: 0.75;
        bottom: 20px;
        font-size: 20px;
        height: $mobileControllButtonsSize;
        width: $mobileControllButtonsSize;
        text-align: center;
        border: 1px solid #ffffff;
        > svg {
            height: 2em;
        }

        // &.gamepadButton_{
        //     &A{
        //         // background-color: #00bb00;
        //         // right: 0;
        //         // bottom: $mobileControllButtonsSize;
        //     }
        //     // &A{
        //     //     background-color: #00bb00;
        //     //     right: 0;
        //     //     top: 0;
        //     // }
        //     // &B{
        //     //     background-color: #bb0000;
        //     //     right: -$mobileControllButtonsSize;
        //     //     bottom: 0;
        //     // }
        //     // &X{
        //     //     background-color: #0000ff;
        //     //     right: $mobileControllButtonsSize;
        //     //     bottom: 0;
        //     // }
        //     // &Y{
        //     //     background-color: #ffbb00;
        //     //     right: 0;
        //     //     bottom: $mobileControllButtonsSize;
        //     // }            
        // }

        &.availableButton{
            opacity: 1;
            // font-weight: bold;
            // color: #ffffff;
            border: 1px solid #ffff00;
            box-shadow: 0 0 10px rgba(255,255,0,1);
        }

        &.notAvailableButton{
            opacity: 0.6;
        }
    }
}
