.container {
  width: 300px;
  bottom: 75px;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--popupBackground);
  color: var(--textColor);
  max-height: calc(100vh - 100px);
  overflow: auto;
  touch-action: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}

.heading {
  margin: 5px 0;
  text-align: center;
  text-transform: capitalize;
}
