
.overlay{
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-position: center;
  background-size:cover;
  z-index: 5000;

  .imageOverlay{
    filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
  }

  .linearProgressContainer{
    display: block;
    position: fixed;
    top: 20%;
    width: 50%;
    left: 25%;
    right: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( 10deg, rgb(153, 138, 218) 0%, rgb(153, 124, 209) 100% );
    padding:50px;
    border-radius: 50px;
    .loadingProgressInfo{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 2em;
      // font-size: 0.7em;
      text-transform: uppercase;
    }
  }
}