
.overlay{
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 5000;
  text-align:center;

  .imageOverlay{
    filter: blur(15px);
    position: absolute;
    top: -10vh;
    left: -10vw;
    height: 120vh;
    width: 120vw;
    position: absolute;
    background: url('/static/bg.png') 0% 0% repeat;
    background-position: center;
    background-size:cover;
    animation: move-background 15s linear infinite;
  }

  .linearProgressContainer{
    display: block;
    position: fixed;
    bottom: 0px;
    height:70px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    padding:25px;
    .loadingProgressInfo{
      color:#999;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 1.5em;
    }
  }

  .loaderContainer {
    .backdrop{
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background: #ffffff3d;
    }

    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@keyframes move-background {
  0% { background-position: 0% 0% }
  25% { background-position: 50% 50% }
  50% { background-position: 0% 50% }
  100% { background-position: 0% 0% }
}

.hidden {
  animation: animation-hidden 2s linear normal;
  animation-fill-mode: forwards;
  -webkit-animation: animation-hidden 2s linear normal;
  -webkit-animation-fill-mode: forwards;
}

@keyframes animation-hidden {
  0% { opacity: 1; visibility: inherit;}
  50% { opacity: 1; visibility: inherit;}
  75% { opacity: 0.5; visibility: inherit;}
  100% { opacity: 0; visibility: hidden;}
}

.show {
  visibility: inherit;
  opacity: 1;
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}
