
.overlay{
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-position: center;
  background-size:cover;
  z-index: 5000;
  text-align:center;
  .imageOverlay{
    filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
  }

  .linearProgressContainer{
    display: block;
    position: fixed;
    bottom: 0px;
    height:70px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    padding:25px;
    .loadingProgressInfo{
      color:#999;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 1.5em;
      // font-size: 0.7em;
      //text-transform: uppercase;
    }
  }
}