 
.personPanel {
    position: absolute;
    bottom: 75px;
    background: linear-gradient(180deg, rgba(137, 137, 242, 0.5) 0%, rgba(92, 92, 92, 0.5) 100%);
    backdrop-filter: blur(41.8478px);
    border-radius: 8.36957px;
    width: 180px;
    right: 100px;
    box-shadow: 16px 16px 32px 0px #11111159;
    color: black;
    max-height: calc(100vh - 50px);
    filter: drop-shadow(0px 3.34783px 3.34783px rgba(0, 0, 0, 0.25));
    padding-top:26px;

    &>.controlContainer{ margin-bottom: 10px; }

    .personProfile{
        position: absolute;
        width: 60px;
        height: 60px;
        top: -30px;
        left:0;
        right:0;
        margin:auto;
        border-radius:30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background: linear-gradient(180deg, rgba(137, 137, 242, 0.5) 0%, rgba(92, 92, 92, 0.5) 100%);
    }

    .controlContainer {
        justify-content: space-between;
        margin: 15px;
        max-height: calc(100vh - 150px);
        overflow:auto;
        scrollbar-width: none;
        
        .action{       
            background: rgba(255, 255, 255, 0.1) !important;     
            width: 100% !important;

            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            text-align: center;
        }
        .block{
            color: #FF0000;
        }
    }

    .controlContainer::-webkit-scrollbar{
        width: 0;
        background: transparent;
        display: none;
    }
     
    @media screen and (min-width: 768px) {
        width: 220px;
        .controlContainer {
            .actionBlock {
                position: initial;
                width: 140px;
            }
        }
    }
}
