.dock-panel {
  background: transparent;
  pointer-events: auto;
  border: none;
}

.dock-panel:first-child {
  position: relative;
  z-index: 99;
}

.dock-panel[data-dockid='+5'] {
  pointer-events: none;
}

.dock-panel[data-dockid='+5'] .dock-bar {
  display: none;
}

.dock-panel[data-dockid='+5'] .dock {
  background: transparent;
}
.dock-divider {
  pointer-events: auto;
  background: rgba(1, 1, 1, var(--dividerAlpha , 0));
}

.dock {
  border-radius: 4px;
  background: var(--dockBackground);
}

.dock-top .dock-bar {
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
}

.dock-tab {
  background: transparent;
  border-bottom: none;
}

.dock-tab:hover,
.dock-tab-active,
.dock-tab-active:hover {
  border-bottom: 1px solid #ddd;
}

.dock-tab:hover div,
.dock-tab:hover svg {
  color: var(--textColor);
}

.dock-tab > div {
  padding: 2px 12px;
}

.dock-tab-active {
  color: var(--textColor);
}

.dock-ink-bar {
  background-color: var(--textColor);
}

.dock-panel-max-btn:before {
  border-color: var(--iconButtonColor);
}
