@use "./theme.scss" as theme;

.editorContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
}

.workspaceContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
  margin: 0px;
}

.errorContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: theme.$red;

  svg {
    margin-bottom: 20px;
  }
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: "100vh";
  width: "100vw";
  min-height: 300px;

  svg {
    margin-bottom: 20px;
  }
}
