.inviteToast {
  position: fixed;
  width: 200px;
  top: 100px;
  padding: 10px;
  border-radius: 10px;

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-1rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  &.fadeOutLeft {
    opacity: 0;
    transform: translateX(-4rem);
    visibility: hidden;
    transition: all 0.6s;
  }

  &.animateLeft {
    animation: moveInLeft 0.3s ease 0.3s;
    animation-fill-mode: backwards;
  }

  background-color: var(--popupBackground);

  .toastContainer {
    display: flex;
    flex-direction: column;

    & > span {
      margin-bottom: 10px;
    }

    .btnContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .acceptBtn {
        width: 80px;
      }

      .declineBtn {
        width: 80px;
      }
    }
  }

  @media (max-width: 768px) {
    top: 60px;
  }
}
