.tooltip {
  position: relative;
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: var(--bg-primary);

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.tooltip::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-content);
  color: var(--text-primary);
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: var(--tooltip-color);
}

.tooltip:hover::before,
.tooltip:hover::after {
  --scale: 1;
}

.tooltip::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}
