.viewport {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.creatorPopup{
  :global(.MuiDialog-paper){
      margin: 0px;
      max-height: 100%;
  }
}