.dialog {
    padding: 4em;
    margin:4em;
}

.title {
color: #000;
text-align:center;
margin:0;
padding: 2em;
padding-bottom:0;

}

.dialogContent {
    text-align:center;
    margin: 0;
    padding: 2em;
    padding-top:0;
}

.inputField {
width: 80%
}

.loginButton {

}