*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.editgroup {
    background: #e2f1ff;
    .groupicon {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        padding: 2rem;
    }
    .profileusers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
        margin-top: -15px;
        .avatar{
            margin-bottom: 2rem;
        }
        .btnmark{
            position: absolute;
            top: 17%;
            left: 50.5%;
        }
        .btninput{
            display: block;
            padding: 1.3rem;
            width:330px;
            border-radius:1rem;
            border: none;
            outline: none;
            background:linear-gradient(180deg, #fdfdff 50%, #c3daf1 172.54%) ;
            box-shadow: 0px 6px 30px rgba(204,204,204,0.41761), inset 0px -3px 8px rgba(255,255,255,0.818482), inset 0px -6px 15px #ffffff;
        }
        input[placeholder] {
            font-family: Arial Rounded MT Bold, Helvetica, Arial,sans-serif;
            font-size:14px;
            font-weight: normal;
            font-size: normal;
            color: rgba(45,53,86, 1);
        }
        .iconsearch {
            position: absolute;
            top: 65%;
            left: 60%;
        }
      
        .map {
           
            .widget {
                position: absolute;
                top:77%;
                left: 37.2%;
            
            }
        }
       
    }

    
}

@media( max-width: 768px) {
    .widget {
        //  position:relative;
        //  top: 100%;
        //  left:70%;
        transform:translate(-26.4%, 32%)
    }
 }


 @media( max-width: 558px) {
    .widget {
      
         transform:translate(-31.5%, 5%)
        }
         .iconsearch{
            transform:translate(70px, 50px);
       }
       .widget {
        
         transform:translate(-31.2%, 59px)
    }
    
 }

 @media( max-width: 375px) {
    .editgroup {
        height: 100vh;

        .btnmark {
            transform:translate(-1%, -50%)
        }
        .iconsearch{
             transform:translate(80px, -94px);
        }
    
        .widget {
           
             transform:translate(-35.5%, -57%)
        }
    }
    
 }