$seeker-margin: 114px;
$seeker-height: 20px;
$bottom-distance: 32px;
$button-gap: 8px;

.seek-bar-container {
    width: calc(100vw - #{$seeker-margin} * 2);
    position: fixed;
    bottom: $bottom-distance;
    margin: $seeker-margin;
    z-index: 800;
    .seek-bar {
        height: $seeker-height;
        position: absolute;
    }
    .current-time-bar {
        background-color: #00ceff;
        border-right: 1px solid #5ee0ff;
    }
    .buffer-bar {
        background-color: rgba(255,255,255,0.5);
    }
    .full-bar {
        background-color: rgba(255,255,255,0.5);
        outline: 1px solid rgba(0,0,0,0.2)
    }
    .clickable-bar {
        width: 100%;
        height: 48px;
        top: calc(-#{$seeker-height} / 2);
        transform: translateY(-25%);
        cursor: pointer;
    }
}
.video-control-button {
    margin-bottom: calc(#{$seeker-margin} - (41px / 2) - (#{$seeker-height} / 2) - 1px);
    margin-left: calc(#{$seeker-margin} - 36px - #{$button-gap});
    position: fixed;
    bottom: $bottom-distance;
    z-index: 800;
    svg {
        width: 36px;
        height: 36px;
        cursor: pointer;
    }
}
.back-button-container {
    margin-left: calc(#{$seeker-margin} - (36px * 2) - (#{$button-gap} * 2));
    z-index: 1000100; // click to play overlay has massive z index
}