*{
    box-sizing:border-box;
    margin:0;
    padding:0
}
body{
    background: #e5e5e5;
   
}
 
.blockbg {
    background-color:#E2F1FF;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    margin: auto;
    text-align: -webkit-center;
    overflow: hidden;
    transition: height 800ms linear;

    .avatarBlock {
        width: 130px;
        height: 130px;
        box-shadow: 0px 2px 18px 0px #11111159;
        border-radius: 65px;
        background: white;
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;
        border: solid 5px;
        margin: 30px 0 20px 0;

        img { 
            width: 100%; 
            height: 100%; 
            display: block; 
            border-radius: 65px;
            
         }
        .avatarBtn {
            position: absolute;
            bottom: -8px;
            right: -12px;
            margin: 0;
            border-radius: 50%;
            transition: all 0.15s cubic-bezier(.18,.89,.32,1.28);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
           
        }
        .editBtn{
          display: flex;
          justify-content: center;
          align-items: center;
          background: #FF6D74;
          box-shadow: 0px 4px 6px #c87377, 0px 2px 12px rgb(101 109 117 / 16%), inset 0px -2px 2px rgb(255 255 255 / 69%), inset 0px -12px 12px #ff6d74, inset 0px 12px 22px rgb(255 255 255 / 50%);
          border-radius: 25px;
          height: 45px;
          width: 45px;
          
          img{
            padding-top: 5px;
            width: auto;
            height: 40px;
          }
        }
        .disableBtn{
          display: flex;
          justify-content: center;
          align-items: center;
          background: #C4C4C4;
          box-shadow: 0px 4px 6px #A7A6A6, 0px 2px 12px rgba(101, 109, 117, 0.164855), inset 0px -2px 2px rgba(255, 255, 255, 0.691625), inset 0px -12px 12px #C4C4C4, inset 0px 12px 22px rgba(255, 255, 255, 0.5);
          border-radius: 25px;
          height: 45px;
          width: 45px;

          img{
            padding-top: 5px;
            width: auto;
            height: 40px;
          }
        }
        .enableBtn{
          display: flex;
          justify-content: center;
          align-items: center;
          background: #01CD3B;
          box-shadow: 0px 5px 6px rgba(31, 208, 83, 0.21427), 0px 2px 11px rgba(101, 109, 117, 0.164855), inset 0px -2px 2px rgba(255, 255, 255, 0.691625), inset 2px -11px 11px #54E97E, inset 2px 11px 21px rgba(255, 255, 255, 0.5);
          border-radius: 25px;
          height: 45px;
          width: 45px;
          img{
            padding-top: 5px;
            width: auto;
            height: 40px;
          }
        }
    }

    .block{ 
        margin:0;
        position:absolute;
        top:45%;
        left: 50%;
        transform: translate(-50%, -50%);   
    } 

    .search-view {
        border-radius: 10px;
        background-color: #FFFFFF;
        width: 85%;
        box-shadow: 2px 2px 10px gray !important;
      }
    
      .search-box {
        display: flex;
        flex-grow: 1;
        align-items: stretch;
        padding: 0px;
        align-items: flex-end;
        .chat-box:last-child {
          padding-bottom: 0px;
        }
    
        .iconContainer{
          display: flex;
          height: inherit;
          align-items: center;
          padding: 0px 10px;
          &:hover {
            cursor: pointer;
          }
          svg{
            margin: 10px 0;
          }
        }

      
        .searchIcon{
            margin: 10px;
        }
      }

      .userName{
        width:85%;
        margin-bottom: 20px;
        h3{
          font-family: Arial Rounded MT Bold;
          font-size: 20px;
          text-align: center;
          color:  #2D3556;
        }

        .userNameFieldContainer{
          margin:0px;
        
        
          input{
              padding: 0;
              text-align: center; 
              font-size:20px;
              font-family: Arial Rounded MT Bold;
          }
          label{
            width:100%;
            color: #2D3556;
            font-size:20px;
            font-family: Arial Rounded MT Bold;
          }

          .PrivateNotchedOutline-root-1{
            border: 0px;
          }
          
           

          :global(.MuiInputLabel-formControl) {
            transform: translate(0, 16px) scale(1);
          }
    
          :global(.MuiInput-root) {
            margin-top: 8px;
            margin-bottom: 7px;
          }
    
          :global(.MuiFormLabel-root.Mui-focused):not(.MuiFormLabel-filled),
          :global(.MuiFormLabel-root.MuiFormLabel-filled):not(.Mui-focused){
            display: none;
          }
    
          :global(.MuiInput-underline:before),
          :global(.MuiInput-underline:after){
            border-bottom: none
          }
        }
      }
      .profileImages{
        width: 85%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .profileImage{
          margin: 0 10px 10px 0;
          display: inline-block;
          background: white;
          border-radius: 15px;
          img{
            height: 90px;
            width: 90px;
          }
        }
      }
      .profileButton{
        position: absolute;
        bottom: 20px;
        width: 100%;
        z-index: 15;
        .closeProfile{
          background-color: transparent;
          box-shadow: none;
        }
        
      }

      .mapView{
        border-radius: 10px;
        background-color: #FFFFFF;
        width: 85%;
        margin-top: 30px;
        box-shadow: 2px 2px 10px gray !important;
      }
    
      .avatarPagination{
        margin-bottom: 20px;
      .iconBlock {
        position: relative;
        color: black;
        border: none;
        padding: 0;
        background: transparent;
        margin: 0px 10px;

        svg {
            position: relative;
            z-index: 1;
            height: 1.5em;
            width: 1.5em;
        }

        &::before {
            content: ' ';
            position: absolute;;
            width: 0px;
            height: 0px;
            border-radius: 20px;
            background: #5F5FF1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.15s cubic-bezier(.18,.89,.32,1.28);
        }
        &:hover, &:focus {
            color: #fff;

            &::before {
                width: 35px;
                height: 35px;
            }
        }

        &.disabled {
            color: grey;
            cursor: initial;

            &::before { content: none !important; }
        }
    }
  }
}

.hideProfile{
  height: 0;
} 



