.helpHintSnackBar{    
    user-select: none;
    opacity: 1;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

    display: flex;

    &.hidden{
        opacity: 0;
    }

    .textHint{
        flex-grow: 1;
    }
    .imageHint{
        flex-grow: 0;
        .columnImageHints{
            svg {       
                height: 1.5em;
                width: auto;
            }
        }
        .inlineImageHints{
            width: 100%;
            svg {       
                height: 1.5em;
                width: auto;
            }
        }
        svg {       
            height: 75px;
            width: auto;
        }
    }   

    &.tutor_move{
        @media (max-width: 768px) {
            transform: translate(-16%,-16%);
            width: auto;
        } 
    }
    &.tutor_unmute{
        flex-direction: column; 
        top: 100px;     
        @media (max-width: 768px) {
            flex-direction: row;
        }   
        .imageHint{
            width: 100%;  
            margin: 10px 0 0 0;     
            justify-content: space-between;
            @media (max-width: 768px) {
               width: 3em;
            }
            .inlineImageHints{
                width: 100%;       
                justify-content: space-between;
                display: flex;
                >span{
                    display: flex;
                    align-items: center;
                 }
            }
            .columnImageHints{
                display: flex;
                align-items: center;
                flex-direction: column; 
                >span{
                    flex-direction: column; 
                }
            }
        }
    }  
}

.keyButton{
    background-color: rgba(0,0,0,0.6);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(102,185,51,0.5);
    box-sizing: border-box;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    margin: 3px 10px 3px 0;
    min-width: 2em;
    padding: 0px 5px;
    text-align: center;
    text-transform: capitalize;
    opacity: 1
}