.shareFormContainer{
    //display: flex;
    //flex-direction: column;
    //padding: 20px;
    //margin: auto 0;
    //overflow: scroll;
    //
    //.flexContainer{
    //    display: flex;
    //    flex-direction: row;
    //
    //    .preCard{
    //        width: 50%;
    //        h2{
    //            display: flex;
    //            flex-direction: column;
    //        }
    //    }
    //}
    //.displayNone{
    //    display: none;
    //}
    //
    //.previewImage{
    //    height: 210px;
    //}
    //
    //.textArea{
    //    min-height: 100px;
    //}
    //.submit{
    //    display: block;
    //    margin: 0 auto;
    //}
    //
    //.videoWrapper{
    //    position: absolute;
    //    z-index: 1;
    //    top: 0;
    //    left: 0;
    //    height: 100vh;
    //    width: 100vw;
    //
    //    .submit{
    //        position: fixed;
    //        bottom: 30px;
    //        left: 50%;
    //        transform: translate(-50%, 0);
    //    }
    //}
  button{
    padding: 10pt;
    width: calc(100% - 66pt);
    margin: 6pt 33pt;
    border-radius: 13px;
  }
  .btnAction{
    color: #000;
    background: #f4f4f5;
    border: 1px solid rgba(60,60,67,0.6);
  }
  .btnDisableAction{
    color: #000;
  }
  .media{
    max-width: calc(100% - 36pt);
    border-radius: 13px;
  }
  @media screen and (max-width: 499px){
    button{
      padding: 8pt;
      margin: 4pt 33pt;
    }
    .media{
      max-width: calc(100% - 48px);
      height: 232pt;
      border-radius: 13px;
    }
  }
  @media screen and (max-height: 699px){
    .media{
      height: 190pt;
    }
    button{
      padding: 5pt;
      margin: 3pt 33pt;
    }
  }
}