.controlsText {
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none;
  color: var(--textColor);
  padding: 8px;
  height: 30px;
  background: var(--dockBackground);
  width: 100vw;
  z-index: 1000;
  text-align: right;
}
