.controlsText {
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none;
  color: var(--textColor);
  padding: 8px;
  height: 30px;
  width: 100vw;
  z-index: 1000;
  text-align: center;
  font-family: var(--lato);
  font-size: 12px;
  background-color: var(--background);
}
