.theFeedItem{
    padding-top: 12pt;
    border-top: 1px solid #f4f4f5;
}
.thefeedContainer{
    display: flex;
    flex-direction: column;
}
.fireIcon{
    cursor: pointer;
}
.noContent{
    text-align: center;
    font-size: 17pt;
    padding: 17pt 0;
    max-width: 70%;
    margin: 0 auto;
    @media screen and (max-width: 499px){
        font-size: 14pt;
    }
}