.anchorContainer {
    width: 100wv;
    // text-align: right;
    .anchorDrawer{
        top: 5px;
        right: 5px;
    }
    .drawer{
        display: flex;   
    }    
}
.placeholder{
    flex-grow: 1;
}
.linkField{
    display: none;
}
.userTitle{
    line-height: 2em;
    width: 100%;
    display: flex;    
    svg{
        flex-grow: 0;
        cursor: pointer;
    }
    span{
        flex-grow: 1;
    }
}
.autoWidth{
    width: auto !important;
    margin: 0px 5px !important;
}