$mobileControllButtonsSize: 3em;

.paper {
    padding: 16px 32px 24px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
    background-color: #fff;
}

.selectable {
    &.highlighted {
        background-color: lightgray;
    }
    &:hover {
        cursor: pointer;
        background-color: gray;
    }
}

.background-red {
    background-color: #ef5350;
    color: white;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.details > * {
    margin: 1em;
}

.group-form {
    margin: 1em;
}

.title {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
}

.description {
    font-size: 1.2em;
}

.margin-top {
    margin-top: 1em;
}

.list-container {
    display: flex;
    min-height: 100px;
    flex-grow: 1;

    ul {
        flex-grow: 1;
        overflow-y: auto;
        min-height: 100px;
        justify-content: end;
    }
}

.no-chat {
    text-align: center;
    margin: 0.5em auto;
    font-size: 2em;
}

.harmony-component {
    display: flex;
    flex-grow: 1;
    min-height:0;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: black;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        border-right: 1px solid gray;
        width: 30%;
        overflow-y: auto;
        min-height:0;

        @media (max-width: 768px) {
            width: 100%;
            border-bottom: 1px solid gray;
            height: 33%;
        }

        li {
            word-break: break-word;

            @media (max-width: 768px) {
                flex-direction: column;
                text-align: center;
            }
        }
    }

    .list-container {
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            width: 100%;
            height: 100%;
        }

        .message-container {
            display: flex;
            flex-direction: column;

            .first-message-placeholder {
                font-size: 2em;
                margin: auto;
            }
        }

        .crud-controls {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 60px;

            & > * {
                cursor: pointer;
                &.edit {
                    &:hover {
                        color: green;
                    }
                }
                &.delete {
                    &:hover {
                        color: red;
                    }
                }
                &.cancel {
                    &:hover {
                        color: blue;
                    }
                }
            }
        }

        .message-edit {
            display: flex;
            flex: 1 1 auto;

            .editing-controls {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: 5px;

                & > * {
                    cursor: pointer;
                    &.save {
                        &:hover {
                            color: green;
                        }
                    }
                    &.cancel {
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

.chat-box {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 0.3em;
    align-items: center;
}

.message {
    min-height: 70px;
    &.self {
        &:before {
            content: '';
            width: 40%;
            display: block;
        }

        & > div {
            //background-color: #fff8dc;
            padding: 5px 10px;
            border-radius: 10px;
            width: 60%;
            margin-bottom: 5px;
            display: flex;
            margin-right: 60px;

            & > div:first-child {
                width: 95%;
            }
        }
    }

    &.other {
        &:after {
            content: '';
            width: 40%;
            display: block;
        }

        & > div {
            //background-color: #f0fff0;
            padding: 5px 10px;
            border-radius: 10px;
            width: 60%;
            margin-bottom: 5px;
            display: flex;
        }
    }
}

.chat-window {
    display: flex;
    width: 70%;
    flex-direction: column;

    & > div {
        height: 50%;
    }

    .video-container {
        display: flex;
        flex-grow: 1;
    }

    @media (max-width: 768px) {
        width: 100%;
        height: 66.6666%;
    }
}

.drawerBox{
    margin: 0 auto;
    display: flex;
    font-size: 20px;
    text-align: center;
    height: $mobileControllButtonsSize;
    width: auto;
    flex-direction: row;
    padding: 0;


    &:last-child{
        padding-bottom: 0;
    }
    .iconContainer{
        background: rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        border-radius: 50%;
        margin: 12px;
        height: 56px;
        width: 56px;
        cursor: pointer;
        @media (max-width: 768px) {
            height: 56px;
            width: 56px;
            margin: 8px;
        }
        &.on {
            .offIcon{
                display: none;
            }
            .onIcon{
                display: block;
            }
        }
        &.off{
            .offIcon{
                display: block;
            }
            .onIcon{
                display: none;
            }
        }


        .onIcon{
            color: rgba(122, 255, 100, 1)
        }

        > svg{
            height: 1.5em;
            width: 1.5em;
            box-sizing: border-box;
            cursor: pointer;
            margin: 10px;
            @media (max-width: 768px) {
                margin: 10px;
            }
        }
    }
}

.grid-item {
    flex: 1 1 auto;
}

.party-user-container {
    overflow-y: auto;
    justify-content: space-around;

    .single {
        flex-grow: 0;
        height: 100%;
        max-width: 100%;
        flex-basis: 100%;
    }

    .two {
        flex-grow: 0;
        height: 100%;
        max-width: 50%;
        flex-basis: 50%;
    }

    .four {
        flex-grow: 0;
        height: 50%;
        max-width: 33.3333%;
        flex-basis: 33.3333%;
    }

    .six {
        flex-grow: 0;
        height: 50%;
        max-width: 33.3333%;
        flex-basis: 33.3333%;
    }

    .nine {
        flex-grow: 0;
        height: 33.3333%;
        max-width: 33.3333%;
        flex-basis: 33.3333%;
    }

    .many {
        flex-grow: 0;
        height: 25%;
        max-width: 25%;
        flex-basis: 25%;
    }
}

.active-chat-plate {
    position: absolute;
    border: 1px solid white;
    margin: 5px 0 0 5px;
    padding: 5px;
}