@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@font-face{
    font-family: "SFProText-Semibold";
    src : url("/assets/fonts/FontsFree-Net-SFProText-Semibold-1.ttf");
  }
  @font-face{
    font-family: "SFProText-Regular";
    src : url("/assets/fonts/FontsFree-Net-SFProText-Regular-1.ttf");
  }
  @font-face{
    font-family: "SFProText-Heavy";
    src : url("/assets/fonts/FontsFree-Net-SFProText-Heavy.ttf");
  }
body{
  font-size: 13px;
  font-family: "SFProText-Regular";
}
.viewport {
  position: fixed;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
}
.isIos{
	padding-top: 2rem;
	height: 100vh;
	width: 100vh;
	background: rgb(255,255,255);
}
.hideContentOnRecord{
	background: transparent !important;
}
.hideContent{
  nav{
    display: none;
  }
  p{
    display: none;
  }
  //button{
  //  display: none;
  //}
  section{
    display: none;
    &:nth-child(1){
      display: flex !important;
      section{
        display: block;
      }
    }
  }
  .plugintestControls{
    display: block;
  }
}
