@import "../../styles/imports.module.scss";

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  flex-wrap: wrap;
}

.paper-modal {
  @include paper-modal();
  max-width: 80%;
  max-height: 90%;
  overflow-y: scroll;
}

.info-icon {
  color: white !important;
  opacity: 0.54;

  &:hover {
    opacity: 0.75;
  }
}
.avatar {
  margin: 7px;
  background-color: #3f51b5;
}
.form {
  width: 100%;
  margin-top: 14px;
}

.submit {
  margin: 14px 0 !important;
}
.delete {
  color: white !important;
  background-color: red !important;
}
.MuiButton-contained.facebook {
  background-color: $FacebookBlue;
  color: white;
}
.MuiButton-contained.google {
  background-color: red;
  color: white;
}
.MuiButton-contained.github {
  background-color: grey;
  color: white;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;

  .close {
    left: 95%;
    &:hover {
      color: red;
    }
  }
}

.grid {
  //max-height: 1000px;
}

.thead {
  .trow {
    .tcell {
      color: lighten(white, 0.80);
      background-color: black;
      .iconsContainer{
        display: flex;
        h3{
          margin-right: 5px;
        }
      }
      &.actionCell{
        display: flex;  
        flex-direction: row;
        flex-flow: wrap;
        :global(.MuiButtonBase-root){
          width: fit-content;
          margin-right: 5px;
        }
      }
      :global(.MuiButtonBase-root){
        color: lighten(white, 0.80);
      }
    }

    .tcellSelectable {

      
       .currentUser{
        color: lighten(white, 0.80);
        background-color: $FacebookBlue;
        padding-top: 5px;
        padding-bottom: 5px;
        &:hover {
          background-color: #145cee;;
          cursor: pointer;
        }
       }
    }
  }

  .trowHover {
    cursor: pointer;

    .tcell {
      color: lighten(white, 0.80);
      background-color: black;
    }
  }
}

.tableContainer {
  overflow-y: auto;
}
.tablePagination {
  min-height: 55px;
}

.adminRoot {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black !important;
  color: #fff !important;
}

.instanceUsersHeader {
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  @include paper-modal();
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.tableFooter {
  display: flex;
  justify-content: space-between;
}
.createLocation {
  height: 50px;
  margin: auto 5px;
  width: 100%;
}
.locationModalButtons {
  justify-content: space-between;
}
.previewImage{
  height: 100px;
  max-width: 250px;
}
.checkbox {
  color: white;
}
