.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box {
    display: flex;
    width: 200px;
    height: 150px;
    margin: 10px;
    border: solid black 2px;
    text-align: center;

    &:hover {
        background-color: gray;
        cursor: pointer;
    }
}

.openHarmony,
.closeHarmony {
    position: absolute !important;
    right: 0;
    bottom: 0;
    margin-bottom: 100px !important;
    width: 100px;
}
.fullScreen {
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    // opacity: 0;
    // visibility: hidden;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
}

.locationUserMenu {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
