.party-chat-user {
  margin: 10px auto;
  position: relative;
  display: flex;

  .video-wrapper {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 3px solid var(--iconButtonSelectedBackground);
    z-index: 11;
    box-shadow: 0 2px 10px 0 #11111159;
    overflow: hidden;

    img {
      margin: 0 auto;
      height: 100%;
      width: 100%;
      object-fit: contain;
      display: block;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 568px) {
      height: 60px;
      width: 60px;
    }
  }

  .screen-video-wrapper {
    height: 100px;
    z-index: 11;
    box-shadow: 0 2px 10px 0 #11111159;
    overflow: hidden;

    img {
      margin: 0 auto;
      height: 100%;
      width: 100%;
      object-fit: contain;
      display: block;
    }

    video {
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 568px) {
      height: 60px;
      width: 60px;
    }

    @media (max-width: 768px) {
      height: 100px;
      width: auto;
    }
  }

  &.video-paused,
  &.no-video {
    .video-wrapper {
      background-color: var(--popupBackground);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      video {
        display: none;
      }
    }
  }

  .global-mute {
    display: none;
  }

  .username {
    text-align: center;
    width: 100%;
    margin: 5px 0;
    color: var(--textColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .border-lit {
    border: 3px solid var(--lightGreen);
  }

  &:not(.self-user) {
    @media (max-width: 768px) {
      .video-wrapper {
        video {
          object-fit: cover;
        }
      }
    }
  }

  &.self-user {
    video {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);

      /* Safari and Chrome */
      -moz-transform: rotateY(180deg);

      /* Firefox */
    }
  }

  .user-controls {
    flex-direction: column;
    background-color: var(--popupBackground);
    border-radius: 8px;
    justify-content: space-evenly;
    transition: all 0.2s ease-out;
    display: flex;
    z-index: -1;
    margin-left: -10px;
    width: 0;
    overflow: hidden;
    padding: 0;

    .controls {
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
    }

    .mute-controls {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .right-controls {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 5px;

      & > .spacer {
        height: 5px;
      }
    }

    button {
      z-index: 200;
      width: 40px;
      margin: 0 5px;

      &.mediaOn {
        color: lightseagreen !important;
      }

      &.mediaOff {
        color: red !important;
      }

      svg {
        width: 100%;
        height: 100%;
      }

      @media (max-width: 768px) {
        margin: 0;
        padding: 8px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 30px;
      }
    }

    .audio-slider {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 5px;

      & > span {
        margin: 0 10px;
      }

      :global(.MuiSlider-root) {
        &.slider {
          color: var(--iconButtonSelectedBackground);
          margin-left: 10px;
        }

        :global(.MuiSlider-thumb) {
          background: var(--iconButtonSelectedBackground);
          border-color: var(--iconButtonSelectedBackground);
          width: 16px;
          height: 16px;
          margin-top: -1px;
        }
      }
    }

    @media (max-width: 768px) {
      position: relative;

      .controls {
        display: flex;
      }
    }

    &:hover,
    &:focus {
      display: flex;
      padding: 10px 10px 10px 25px;
      z-index: 10;
      min-width: 150px;
      width: auto;
    }
  }

  @media (min-width: 769px) {
    .audio-slider {
      svg {
        width: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    margin: 10px;
    flex-direction: column;

    .user-controls {
      display: none;
      width: 100%;
      margin: -10px auto 0;
      z-index: 1501;
    }

    &:focus,
    &:focus-within {
      .video-wrapper {
        width: 150px;
        height: 150px;
        border-radius: 0;
        z-index: 1502 !important;
      }

      .user-controls {
        display: flex;
        padding: 20px 10px 10px;
      }
    }
  }

  &.pip {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 330px;

    .video-wrapper {
      flex: 1;
      width: 100%;
      border-radius: 0;
    }

    .user-controls {
      display: flex;
      width: 100% !important;
      margin: 0;
      z-index: 1501 !important;
      border-radius: 0;
      height: auto;
      padding: 10px !important;

      .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 5px;

        .audio-slider {
          margin-top: 0;
        }

        .pipBtn {
          transform: rotate(180deg);
        }
      }

      button {
        margin: 0;
      }
    }
  }

  &.screenpip {
    display: flex;

    .screen-video-wrapper {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    .user-controls {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s, opacity 0.2s linear;
      display: flex;
      position: absolute;
      width: 100% !important;
      bottom: 0;
      left: 0;
      margin: 0;
      z-index: 1501 !important;
      border-radius: 0;
      height: auto;
      padding: 10px !important;

      .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 5px;

        .audio-slider {
          margin-top: 0;
        }

        .pipBtn {
          transform: rotate(180deg);
        }
      }

      button {
        margin: 0;
      }
    }
  }

  @media (min-width: 769px) {
    .audio-slider {
      svg {
        width: 20px;
      }
    }
  }
}

.resizeable-screen-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  margin: 0;
  padding: 10px;

  div {
    margin: 0;
  }
}

.resizeable-screen-fullscreen > div {
  width: 100% !important;
  height: 100% !important;

  .screen-video-wrapper {
    width: 100vw !important;
    height: 100vh !important;
    line-height: 100vh;
    text-align: center;
    background: black;

    video {
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0 auto;
      vertical-align: middle;
    }
  }
}

.icon-button {
  color: var(--iconButtonColor);
  background: rgb(0 0 0 / 8%);

  &:hover {
    background: rgb(0 0 0 / 15%);
  }
}
