.party-chat-user {
    // background-position: bottom;
    // background-repeat: no-repeat;
    // background-size: 65% auto;
    margin: 5px;
    overflow: hidden;
    position: relative;
    height: 65px;
    width: 100px;
    display: flex;
    flex-direction: row;


    & > video {
        // height: 100%;
        // width: 100%;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: #FFFFFF;
    }

    &.video-paused,
    &.no-video {
        background-color: #243b55bf;

        & > video {
            display: none;
        }
    }

    .global-mute {
        display: none;
    }

    .user-controls {
        display: none;
    }

    .username {
        text-align: right;
        width: 100%;
    }

    &:not(.self-user) {
        &:hover {
            cursor: pointer;
            border: 3px solid #3886a8;
        }
    }

    &.focused,
    &.self-user {
        height: 80px;
        width: fit-content;
        .global-mute {
            position: absolute;
            height: 100%;
            width: 100%;
            font-size: 24px;
            color: #5ee0ff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .user-controls {
            // position: absolute;
            // bottom: 0;
            flex-direction: column;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 8px;
            width: fit-content;
            padding: 15px 15px 15px 75px;
            margin-left: -50px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .controls{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
            }

            .right-controls {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0 5px;

                & > .spacer {
                    height: 5px;
                }
            }

            button {
                // background-color: white;
                opacity: 40%;
                z-index: 200;
                width: 30px;
                margin: 0 5px;

                //bottom: 10px;
                //position: absolute;

                //&.video-control {
                //    left: 10px;
                //}
                //
                //&.audio-control {
                //    right: 10px;
                //}

                &:hover {
                    //background-color: gray;
                    opacity: 60%
                }
            }

            & > .audio-slider {
                width: 60%;
                display: flex;
                align-items: center;
                z-index: 100;
                // background-color: white;
                opacity: 40%;
                border-radius: 15px;

                & > span {
                    margin: 0 10px;
                }
            }
        }
    }
}