.party-chat-user {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 65% auto;
    margin: 5px;
    overflow: hidden;
    position: relative;
    height: 65px;
    width: 100px;
    border: 3px solid rgba(0,0,0,0);

    & > video {
        height: 100%;
        width: 100%;
    }

    &.video-paused,
    &.no-video {
        background-color: #243b55bf;

        & > video {
            display: none;
        }
    }

    .global-mute {
        display: none;
    }

    .user-controls {
        display: none;
    }

    .username {
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
    }

    &:not(.self-user) {
        &:hover {
            cursor: pointer;
            border: 3px solid #3886a8;
        }
    }

    &.focused,
    &.self-user {
        height: 130px;
        width: 200px;
        .global-mute {
            position: absolute;
            height: 100%;
            width: 100%;
            font-size: 24px;
            color: #5ee0ff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .user-controls {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .right-controls {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & > .spacer {
                    height: 5px;
                }
            }

            button {
                background-color: white;
                opacity: 40%;
                z-index: 200;
                width: 30px;
                //bottom: 10px;
                //position: absolute;

                //&.video-control {
                //    left: 10px;
                //}
                //
                //&.audio-control {
                //    right: 10px;
                //}

                &:hover {
                    //background-color: gray;
                    opacity: 60%
                }
            }

            & > .audio-slider {
                width: 60%;
                display: flex;
                align-items: center;
                z-index: 100;
                background-color: white;
                opacity: 40%;
                border-radius: 15px;

                & > span {
                    margin: 0 10px;
                }
            }
        }
    }
}