.party-chat-user {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoKPHN2ZwogICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiCiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiCiAgIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIgogICB3aWR0aD0iNDgiCiAgIGhlaWdodD0iNDgiCiAgIGlkPSJzdmc0MzQ3IgogICB2ZXJzaW9uPSIxLjEiCiAgIGlua3NjYXBlOnZlcnNpb249IjAuNDguNCByOTkzOSIKICAgc29kaXBvZGk6ZG9jbmFtZT0iYnVkZHkuc3ZnIj4KICA8ZGVmcwogICAgIGlkPSJkZWZzNDM0OSIgLz4KICA8c29kaXBvZGk6bmFtZWR2aWV3CiAgICAgaWQ9ImJhc2UiCiAgICAgcGFnZWNvbG9yPSIjZmZmZmZmIgogICAgIGJvcmRlcmNvbG9yPSIjNjY2NjY2IgogICAgIGJvcmRlcm9wYWNpdHk9IjEuMCIKICAgICBpbmtzY2FwZTpwYWdlb3BhY2l0eT0iMC4wIgogICAgIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiCiAgICAgaW5rc2NhcGU6em9vbT0iOCIKICAgICBpbmtzY2FwZTpjeD0iNS4zOTg1Mjk1IgogICAgIGlua3NjYXBlOmN5PSIxMi45NzQ4NTUiCiAgICAgaW5rc2NhcGU6ZG9jdW1lbnQtdW5pdHM9InB4IgogICAgIGlua3NjYXBlOmN1cnJlbnQtbGF5ZXI9ImxheWVyMSIKICAgICBzaG93Z3JpZD0iZmFsc2UiCiAgICAgc2hvd2JvcmRlcj0idHJ1ZSIKICAgICBpbmtzY2FwZTp3aW5kb3ctd2lkdGg9Ijk3OSIKICAgICBpbmtzY2FwZTp3aW5kb3ctaGVpZ2h0PSI4MDkiCiAgICAgaW5rc2NhcGU6d2luZG93LXg9IjAiCiAgICAgaW5rc2NhcGU6d2luZG93LXk9IjAiCiAgICAgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMCIgLz4KICA8bWV0YWRhdGEKICAgICBpZD0ibWV0YWRhdGE0MzUyIj4KICAgIDxyZGY6UkRGPgogICAgICA8Y2M6V29yawogICAgICAgICByZGY6YWJvdXQ9IiI+CiAgICAgICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+CiAgICAgICAgPGRjOnR5cGUKICAgICAgICAgICByZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIiAvPgogICAgICAgIDxkYzp0aXRsZSAvPgogICAgICA8L2NjOldvcms+CiAgICA8L3JkZjpSREY+CiAgPC9tZXRhZGF0YT4KICA8ZwogICAgIGlua3NjYXBlOmxhYmVsPSJMYXllciAxIgogICAgIGlua3NjYXBlOmdyb3VwbW9kZT0ibGF5ZXIiCiAgICAgaWQ9ImxheWVyMSIKICAgICB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLC0xMDA0LjM2MjIpIj4KICAgIDxyZWN0CiAgICAgICBzdHlsZT0iZmlsbDpub25lIgogICAgICAgeT0iMTAwNC44OTkyIgogICAgICAgeD0iMS4zNTcxMzQxIgogICAgICAgaGVpZ2h0PSI0Ny4wNzAwNzYiCiAgICAgICB3aWR0aD0iNDQuNjk5NjM4IgogICAgICAgaWQ9InJlY3Q0NDM4IiAvPgogICAgPHBhdGgKICAgICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiCiAgICAgICBkPSJtIDI5Ljg3NDA1MiwxMDM3LjgwNzEgYyAtMC4xNzA1MTMsLTEuODgyOCAtMC4xMDUxMDYsLTMuMTk2OCAtMC4xMDUxMDYsLTQuOTE3IDAuODUyNTc2LC0wLjQ0NzQgMi4zODAyMjYsLTMuMjk5NCAyLjYzODMzNCwtNS43MDg5IDAuNjcwMzg5LC0wLjA1NCAxLjcyNzM2MywtMC43MDg5IDIuMDM2ODY1LC0zLjI5MTIgMC4xNjcwMTUsLTEuMzg2MiAtMC40OTYzNzEsLTIuMTY2NSAtMC45MDA0NzMsLTIuNDExOCAxLjA5MDg0OCwtMy4yODA3IDMuMzU2NjIxLC0xMy40Mjk5IC00LjE5MDUxMywtMTQuNDc4OCAtMC43NzY2NzIsLTEuMzY0IC0yLjc2NTY0OCwtMi4wNTQ0IC01LjM1MDI2MiwtMi4wNTQ0IC0xMC4zNDA4MDcsMC4xOTA1IC0xMS41ODgxNTUsNy44MDg4IC05LjMyMTIwNSwxNi41MzMyIC0wLjQwMjk0MywwLjI0NTMgLTEuMDY2MzIyLDEuMDI1NiAtMC45MDA0NzUsMi40MTE4IDAuMzEwNjcyLDIuNTgyMyAxLjM2NjQ3NiwzLjIzNjIgMi4wMzY4NTcsMy4yOTEyIDAuMjU2OTQ5LDIuNDA4MyAxLjg0NTMyMiw1LjI2MTUgMi43MDAyNDMsNS43MDg5IDAsMS43MjAyIDAuMDY0MjYsMy4wMzQyIC0wLjEwNjI3Miw0LjkxNyAtMi4wNDYyMTMsNS41MDA3IC0xNS44NTIyNTAxLDMuOTU2NyAtMTYuNDg5OTM2NiwxNC41NjYxIEggNDYuMzAzMjU0IGMgLTAuNjM2NTI0LC0xMC42MDk0IC0xNC4zODI5OSwtOS4wNjU0IC0xNi40MjkyMDIsLTE0LjU2NjEgeiIKICAgICAgIGlkPSJwYXRoNDQ0MCIKICAgICAgIHN0eWxlPSJvcGFjaXR5OjAuNSIgLz4KICA8L2c+Cjwvc3ZnPgo=");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 65% auto;
    height: 130px;
    margin: 5px;
    overflow: hidden;
    width: 200px;
    position: relative;
}

.party-chat-user>video {
    height: 100%;
    width: 100%;
}

.party-chat-user.video-paused, .party-chat-user.no-video {
    background-color: #243b55bf;
}

.party-chat-user.video-paused>video, .party-chat-user.no-video>video {
    display: none;
}

.party-chat-user.global-mute {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 24px;
    color: #5ee0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.party-chat-user.user-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.party-chat-user.user-controls.right-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.party-chat-user.user-controls.right-controls>.spacer {
    height: 5px;
}

.party-chat-user button {
    background-color: white;
    opacity: 40%;
    z-index: 200;
    width: 30px;
}

.party-chat-user button:hover {
    opacity: 60%
}

.party-chat-user>.audio-slider {
    width: 60%;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: white;
    opacity: 40%;
    border-radius: 15px;
}

.party-chat-user>span {
    margin: 0 10px;
}