.isIos{
	button{
		top: 37pt !important;
	}
}
.onboarding{
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  background: rgb(255,255,255);
  background-color: rgb(255,255,255);
  h3{
    font-size: 28pt;
    letter-spacing: 0.36pt;
    font-weight: 600;
  }
  p{
    font-size: 16pt;
    line-height: 21pt;
    max-width: 261pt;
    margin: 12pt auto 26pt auto;
  }
  img{
    width: 100%;
    max-width: 295pt;
    border-radius: 10pt;
    margin-left: auto;
    margin-right: auto;
  }
  button{
    background: #000;
    border: none;
    color: rgb(255 255 255);
    width: 100%;
    max-width: 343pt;
    padding: 11pt;
    border-radius: 10px;
    font-size: 17pt;
    line-height: 22pt;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
  }
}

.firstScreen{
  background-image: url("/static/images/background.jpg");
  background-size: cover;
  justify-content: flex-end;
  padding: 78pt 16pt;
  color: rgb(255 255 255);
  @media screen and (min-width: 767px){
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  button{
    width: 100%;
    max-width: 343pt;
  }
}

.secondScreen{
  padding: 36pt 40pt 46pt 36pt;
  justify-content: space-between;
  h3{
    margin-top: 24pt;
  }
  button{
    width: 100%;
    max-width: 343pt;
  }
  p{
    max-width: 261pt;
    margin: 12pt auto 26pt auto;
  }
}

.thirdScreen{
  padding: 80pt 40pt 0pt 40pt;
  justify-content: space-between;
  button{
    width: max-content;
    padding: 5pt 11pt;
    border-radius: 30px;
    font-size: 13pt;
    letter-spacing: -0.08pt;
    line-height: 18pt;
    font-weight: 600;
    position: absolute;
    right: 16pt;
    top: 8pt;
    text-transform: uppercase;
  }
  p{
    max-width: 295pt;
    margin: 12pt auto 26pt auto;
  }
}
@media screen and (max-width: 499px){
  .onboarding{
    max-height: 100vh;
    overflow: hidden;
    h3{
      font-size: 22pt;
      letter-spacing: 0.36pt;
      font-weight: 600;
    }
    p{
      font-size: 13pt;
      line-height: 21pt;
      max-width: 261pt;
      margin: 12pt auto 26pt auto;
    }
  }

}
@media screen and (max-height: 699px){
  .secondScreen {
    padding: 20pt 32pt 37pt 29pt;
    h3 {
      margin-top: 15pt;
    }
    p{
      margin: 10pt auto 19pt auto;
    }
  }
}
