.creatorContainer{
    height: 100vh;
    // overflow: scroll;    

    .videosSwitcher{
        transform: translate(0, -115px);
        background-color: #EEEEEF;
        padding: 3px;
        border-radius: 10px;
        display: flex;
        margin: 10px 20px;

        .switchButton{
            margin: 0;
            color: #000000;
            padding: 0;
        }
    }
    .feedsWrapper{
        transform: translate(0, -115px);
    }
}