.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: auto;
  background: var(--dock);
  height: 50px;

  .navContainer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: relative;

    .logoBlock {
      width: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: 50%;
    }

    .profileButton {
      display: flex;
      align-items: center;
      color: var(--text);
      background: transparent;

      span {
        margin-right: 5px;
        font-size: 14px;
      }

      &:hover,
      &:focus-visible {
        color: var(--green);
      }
    }

    .backdrop {
      position: fixed;
      width: 100vw;
      height: calc(100vh - 50px);
      top: 50px;
      left: 0;
      background: #00000080;
      z-index: 100;
    }

    .profileMenuBlock {
      position: absolute;
      right: 25px;
      top: 0;

      .profileMenuContainer {
        z-index: 100;
        top: 70px;
        bottom: unset;
        right: 0;
        left: unset;
        transform: unset;
        border-radius: 10px;

        div[class^="_closeButton"] {
          display: block;
        }
      }
    }
  }
}

.textLink {
  text-decoration: none;
}

.selected {
  background: var(--purpleColor) !important;
}

.menuButton {
  margin-right: 25px;
  color: white;
  padding: 16px;
  margin-left: 0;
}

.hide {
  display: none;
}

.appBarHeadingContainer {
  flex: 1;
  display: flex;
  color: var(--text);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.appBar {
  z-index: 10;
}

.drawer {
  z-index: 9;
  width: 250px;
  flex-shrink: 0;
  white-space: nowrap;
}

.drawerOpen {
  position: absolute;
  width: 250px !important;
  height: 100%;
  z-index: 15;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1);
  background-color: var(--purpleColor4);
}

.drawerClose {
  z-index: 9;
  overflow-x: hidden;
  width: 57px !important;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1);
  background-color: var(--purpleColor4);
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
}

.content {
  top: 50px;
  overflow: auto;
  position: relative;
  padding: 24px;
  background-color: var(--purpleDarkest);
  height: calc(100vh - 50px);
}

.contentWidthDrawerOpen {
  left: 57px;
  width: calc(100vw - 57px);
}

.contentWidthDrawerClosed {
  left: 57px;
  width: calc(100vw - 57px);
}
