.autoComplete {
  color: var(--white);
  background: var(--inputBackground);
  border-radius: 4px;
  font-size: 11px;
  height: 20px;

  .inputfieldContainer {
    padding: 0;
    background: var(--inputBackground);
    border-radius: 4px;
    border: var(--borderStyle);
  }

  .inputWrapper {
    padding: 0 43px 0 5px !important;

    .inputfield {
      color: var(--white);
      font-size: 12px;
      padding: 0;

      & + fieldset {
        border: none !important;
      }
    }
  }

  .adornmentContainer {
    right: 3 !important;
    top: 0 !important;

    .adornment {
      padding: 0;
      width: 20px;
      height: 20px;
    }

    svg {
      color: var(--white) !important;
      width: 80%;
    }
  }
}

.popper {
  margin-top: 10px !important;

  .paper {
    background: var(--dropdownMenuBackground);
    font-size: 12px;

    .option {
      padding: 5px 10px;
      color: var(--textColor);

      &:global(.Mui-focused) {
        background: var(--dropdownMenuHoverBackground);
      }

      &:global(.Mui-selected) {
        background: var(--dropdownMenuSelectedBackground);
      }
    }
  }
}

.select {
  background: var(--inputBackground);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  padding: 2px 7px;
  font-size: 11px;
  color: var(--textColor);
}

.icon {
  color: var(--iconButtonColor);
  font-size: 15px;
}

.paper {
  margin-top: 10px;
  border-radius: 4px;
  font-size: 11px;
  background: var(--inputBackground);
  padding: 0;
  color: var(--textColor);
  max-height: 120px;
  overflow: auto;
}

.menuItem {
  padding: 5px;
  font-size: 12px;

  &:hover {
    background: var(--dropdownMenuHoverBackground);
  }

  &:global(.Mui-selected) {
    background: var(--dropdownMenuSelectedBackground);
  }
}
