body{
  overflow: hidden;
  margin: 0px;
}

@mixin flex-collapse {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex-grow: 1;
}

.MuiDrawer-paperAnchorLeft {
  width: 30%;

  @media (max-width: 768px) {
    width: 90%;
  }

  .MuiAccordion-root {
    min-height: 50px;
    overflow-y: auto;

    &.Mui-expanded {
      @include flex-collapse;

      .MuiCollapse-container.MuiCollapse-entered {
        @include flex-collapse;

        .MuiCollapse-wrapper {
          @include flex-collapse;

          .MuiCollapse-wrapperInner {
            @include flex-collapse;

            & > div {
              @include flex-collapse;

              & > .MuiAccordionDetails-root {
                @include flex-collapse;
              }
            }
          }
        }
      }
    }
  }

  .MuiAccordionSummary-content {
    & > svg {
      margin-right: 5px;
    }
  }
}

.MuiDrawer-paperAnchorRight {
  width: 30%;

  @media (max-width: 768px) {
    width: 90%;
  }

  .MuiAccordion-root {
    min-height: 50px;
    overflow-y: auto;

    &.Mui-expanded {
      @include flex-collapse;

      .MuiCollapse-container.MuiCollapse-entered {
        @include flex-collapse;

        .MuiCollapse-wrapper {
          @include flex-collapse;

          .MuiCollapse-wrapperInner {
            @include flex-collapse;

            & > div {
              @include flex-collapse;

              & > .MuiAccordionDetails-root {
                @include flex-collapse;
              }
            }
          }
        }
      }
    }
  }

  .MuiTab-root {
    @media (min-width: 600px) {
      min-width: initial;
    }
  }
}

.MuiDrawer-paperAnchorBottom {
  opacity: 85%;
  height: 60% !important;
  max-width: 1000px;

  @media (max-width: 768px) {
    max-width: 100%;
    height: 80% !important;
  }

  .MuiFormControl-marginNormal {
    margin-top: 8px;
    margin-right: 5px;
  }
}

.MuiTabs-root {
  min-height: 75px;
}

.banned {
  width: 100%;
  height: 100%;
  font-size: 30px;
  background-color: #00ceff;
  color: black;
  text-align: center;
}


.menuDrawerOpened{  
  [class*=InstanceChat_instance-chat-container]{
    right: 25vw;
    left: auto;
    transition: right 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    @media (orientation: portrait) {
      height: 0;
    }
    // @media (max-width: 768px){
    //   right: 50%;      
    // } 
    @media (max-width: 1280px){
      right: 33%;
    }
    @media (max-width: 1024px){
      right: 40%;
    }
    @media (max-width: 768px){
      display: none;
    }
  }
  [class*=InstanceChat_iconCallChat]{
    right: 25vw;
    @media (max-width: 1280px){
      right: 33%;
    }
    @media (max-width: 1024px){
      right: 40%;
    }
    @media (max-width: 768px){
      display: none;
    }
  }

  [class*=MediaIconsBox_drawerBoxContainer]{
    @media (orientation: portrait) {
      visibility: hidden;
    }
    @media (max-width: 768px){
      left: 5px;
      right: auto;
    }
  }
}
