.isIos{
	padding-top: 2rem;
	background: rgba(255,255,255,1);
}
.creatorFormPopup{
    :global(.MuiDialog-paper){
        margin: 0px;
        max-height: 100%;
        width: 100%;

        :global(.MuiTypography-h2){
            font-size: 1.25rem;;
            line-height: 2.25rem;;
        }
    }
    @media screen and (orientation: landscape){
        :global(.MuiDialog-paper){
            max-width: 100%;
        }
    }
}
