$circle-size: 15px;
$dot-color: #cb3332;
$light-dot-color: #fff;
$background: #333;

.hideButtons{
    button{
        display: none
    }
    .waterMarkWrapper{
        display: block;
    }
    .startButtonWrapper,
    .stopButtonWrapper{
        display: none !important;
    }
    section{
        display: none !important;
    }
}

.hintOne{
    .onboarding{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: scroll;
        z-index: 999;
        background: rgba(255,255,255, 0.75);
        transition: 0.8s;
        .skip{
            text-decoration: underline;
            background: transparent;
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
            color: #000;
        }
        .mobImage{
            box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3),inset 0 -2px 6px 0 rgba(10,37,64,.35);
            border-radius: 36px;
            border: 10px solid #f6f9fc;
            max-width: 65%;
            max-height: 100%;
            object-fit: contain;
            width: auto;
        }

        h3{
            font-size: 28pt;
            letter-spacing: 0.36pt;
            font-weight: 600;
        }
        p{
            font-size: 16pt;
            line-height: 21pt;
            max-width: 261pt;
            margin: 12pt auto 26pt auto;
        }
        img{
            width: 100%;
            max-width: 295pt;
            border-radius: 10pt;
            margin-left: auto;
            margin-right: auto;
        }
        button{
            background: #000;
            border: none;
            color: rgb(255 255 255);
            width: 90%;
            max-width: 343pt;
            padding: 11pt;
            border-radius: 10px;
            font-size: 17pt;
            line-height: 22pt;
            font-weight: 600;
            margin-left: auto;
            margin-right: auto;
        }

        .hintButtonTwo{
            position: absolute;

        }

        .offsetImg{
            margin-top: 40pt;
            letter-spacing: -0.37pt;
              z-index: 9999;
              width: 100%;
              display: block;
        }

        .loadingFrame {
            margin-left: 50%;
            margin-right: 50%;
            transform: rotate(-110deg) scale(0.6);
            position: relative;
            //&:before{
            //  display: block;
            //  content: "";
            //  width: 160px;
            //  height: 60px;
            //  transform: translateX(60px);
            //  position: absolute;
            //  right: 0px;
            //  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3),inset 0 -2px 6px 0 rgba(10,37,64,.35);
            //  background: rgba(255,255,255, 0.75);
            //}
        }

        .circle {
            position: absolute;
            height: $circle-size;
            width: $circle-size;
            border-radius: $circle-size;
            background-color: $dot-color;
            animation: animate linear 2s infinite;
        }

        .circle:nth-child(1) {
            animation-delay: 0.9s;
        }

        .circle:nth-child(2) {
            animation-delay: 1.1s;
            transform: translate(18px,13px);
        }

        .circle:nth-child(3) {
            animation-delay: 1.3s;
            transform: translate(35px,25px);
        }

        .circle:nth-child(4) {
            animation-delay: 1.1s;
            transform: translate(18px,38px);
        }

        .circle:nth-child(5) {
            animation-delay: 0.9s;
            transform: translate(0px, 50px);
        }

        .circle:nth-child(6) {
            animation-delay: 0.9s;
            transform: translate(0,25px);
        }

        .circle:nth-child(7) {
            animation-delay: 0.7s;
            transform: translate(-20px,25px);
        }

        .circle:nth-child(8) {
            animation-delay: 0.5s;
            transform: translate(-40px,25px);
        }

        .circle:nth-child(9) {
            animation-delay: 0.3s;
            transform: translate(-60px,25px);
        }

        .circle:nth-child(10) {
            animation-delay: 0.1s;
            transform: translate(-80px,25px);
        }

        @keyframes animate {
            0%, 100% {
                background-color: $dot-color;
            }
            50% {
                background-color: $light-dot-color;
            }
        }
    }

    .firstScreen{
        justify-content: center;
        .mobImage{
            border-radius: 0px 0px 36px 36px;
            border-top: 0;
            border: 10px solid #f6f9fc;
        }
        .relativeImage{
            position: relative;
            max-height: 70vh;
        }
    }
    .secondScreen{
        .loadingFrame{
            margin-left: 65%;
            margin-right: 50%;
            transform: rotate(-180deg) scale(0.6);
            position: relative;
        }
    }
    .secondScreen, .thirdScreen{
        justify-content: center;
        .relativeImage{
            position: relative;
            max-height: 70vh;
            .relativePointer{
                position: absolute;
                width: 100%;
                top: 79%
            }
        }
        .offsetImg{
            background: rgba(255,255,255, 0.75);
            padding: 10pt;
            max-width: 65%;
        }
        button{
            margin-top: 42pt;
        }
        button.skip{
            margin-top: 0pt;
        }
    }

}
.hintTwo{
    .loadingFrame{
        position: absolute !important;
        transform: none !important;
        bottom: 0;
    }
    .relativeImage{
        position: static !important;
        max-height: 100vh !important;
        height: 100vh;
    }
    .offsetImg{
        z-index: 999 !important;
        width: 90% !important;
        display: block !important;
        position: fixed;
        margin-left: 5% !important;
        max-width: unset !important;
        bottom: 50%;
    }
    .thirdScreen{
        background: transparent;
    }
    button{
        border: 1px solid #fff !important;
        position: absolute;
        width: 90%;
        top: 15px;
        left: 5%;
    }
}