.inputSocket {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  height: 1.75rem;
  position: relative;

  .socketName {
    text-transform: capitalize;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }

  .handle {
    background-color: #333;
  }

  .inputField {
    background-color: #555;
    padding-block: 0.5rem 1rem;
    margin-right: 0.5rem;

    :disabled {
      background-color: #aaa;
    }
  }
}

.outputSocket {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  height: 1.75rem;
  position: relative;

  .socketName {
    text-transform: capitalize;
    margin-left: 1rem;
    margin-right: 0.5rem;
  }

  .handle {
    background-color: #333;
  }

  .flowIcon {
    margin-left: 0.25rem;
  }
}

.node {
  display: inline-block;
}

.addNode {
  background-color: #555;
  padding-left: 1rem;
  padding-right: 1rem;
}

.search {
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  input {
    background-color: #666;

    :disabled {
      background-color: #888;
    }

    width: 100%;
    padding-block: 0.5rem 0.125rem;
  }
}

.options {
  max-height: 24rem;
  overflow-y: scroll;

  .option {
    padding: 0.25rem;
    cursor: pointer;
    border-bottom-width: 1px;
  }
}

.nodeContainer {
  border-radius: 0.25rem;
  color: #fff;
  font-size: small;
  background-color: #aaa;
  min-width: 120px;

  ::selection {
    outline: 1px white solid;
  }

  .title {
    background-color: #aac;
    color: #fff;
    padding-block: 0.5rem 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.modalExit {
  z-index: 19;
  position: fixed;
  inset: 0;
  background-color: #555;
  fill-opacity: 0.5;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.Modal {
  z-index: 20;
  font-size: small;
  border-radius: 2rem;
  position: relative;
  top: 20%;

  .title {
    padding: 0.75rem;
    border-bottom-width: 1px;

    h2 {
      font-size: large;
      text-align: center;
      font-style: bold;
      font-weight: normal;
    }
  }

  .children {
    padding: 0.75rem;
  }

  .actions {
    flex: content;
    gap: 0.75rem;
    padding: 0.75rem;
    border-top-width: 1px;

    button {
      color: #fff;
      padding: 0.5rem;
      width: 100%;

      &.primary {
        background-color: #088;

        :hover {
          background-color: #0aa;
        }
      }

      &.secondary {
        background-color: #888;

        :hover {
          background-color: #bbb;
        }
      }
    }
  }
}

.saveTextArea {
  border-width: 1px;
  border-color: #333;
  width: 100%;
  padding: 0.5rem;
  height: 8rem;
}

.GraphEditor {
  /* fixes issue with tailwind resetting flow control buttons */
  button,
  [type="button"] {
    background-color: #fff;
  }

  select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.25rem center;
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
  }

  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
  }
}
