.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: #00000091;
  pointer-events: all;

  &.hideBackDrop {
    display: none;
  }

  @media (min-width: 1025px) {
    display: none;
  }
}

.instance-chat-container {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 20px;
  overflow: hidden;
  pointer-events: all;

  &.open {
    flex: 1;

    @media (max-width: 1024px) {
      top: 0;
      bottom: 0;
      position: fixed;
      width: 100vw;
      z-index: 10;
      flex: none;
    }
  }

  .bottom-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    transition: all 0.2s;

    .chat-input {
      margin-left: 10px;
      transition: all 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      width: 100%;

      &.invisible {
        margin-left: 0;
        width: 0;
      }

      .chat-view {
        border-radius: 24px;
        background: transparent;

        .chat-box {
          display: flex;
          padding: 0;
          align-items: flex-end;
          background: rgb(0 0 0 / 50%);
          width: 300px;

          input {
            color: white;
          }

          .chat-box:last-child {
            padding-bottom: 0;
          }

          .iconContainer {
            display: flex;
            height: inherit;
            align-items: center;
            padding: 0 10px;

            &:hover {
              cursor: pointer;
            }

            svg {
              margin: 10px 0;
            }
          }

          .messageFieldContainer {
            margin: 0;
            padding: 0 5px 0 20px;

            label {
              padding-left: 20px;
            }

            .PrivateNotchedOutline-root-1 {
              border: 0;
            }

            textarea {
              margin: auto;
            }

            :global(.MuiInputLabel-formControl) {
              color: white;
              transform: translate(0, 12px) scale(1);
            }

            :global(.MuiInput-root) {
              margin-top: 0;
              margin-bottom: 0;
              color: #fff;
            }

            :global(.MuiFormLabel-root.Mui-focused):not(.MuiFormLabel-filled),
            :global(.MuiFormLabel-root.MuiFormLabel-filled):not(.Mui-focused) {
              display: none;
            }

            :global(.MuiInput-underline::before),
            :global(.MuiInput-underline::after) {
              border-bottom: none;
            }

            :global(.MuiInputBase-root) {
              align-items: baseline;
            }

            .sendButton {
              color: var(--textColor);
              background: var(--iconButtonBackground);
              padding: 0 0 0 3px;
              width: 36px;
              height: 36px;
              justify-content: center;
              align-items: center;

              &:hover,
              &:focus-visible {
                background: var(--iconButtonHoverColor);
              }
            }
          }

          :global(.MuiButton-root).iconContainerSend {
            display: flex;
            height: 37px;
            align-items: center;

            // padding: 5px 10px;
            width: 37px;
            margin: 5px;
            min-width: 0;
            border-radius: 50px;

            &:hover {
              cursor: pointer;
            }
          }

          @media (max-width: 1024px) {
            width: initial;
            background: rgb(0 0 0 / 85%);
          }
        }
      }
    }

    .iconCallChat {
      display: flex;
      align-items: center;
      color: #000;

      &:hover {
        cursor: pointer;
      }

      svg {
        color: black;
        margin: 0 2.5px;
      }

      button {
        width: 48px;
        height: 48px;
        background-color: white;
        opacity: 0.8;

        &:hover {
          opacity: 1;
          background-color: white;
        }

        @media (max-width: 450px) {
          width: 40px;
          height: 40px;
        }
      }

      .chatBadge {
        border-radius: 50%;
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%);
      }
    }

    .chatOpen {
      button {
        width: 36px;
        height: 36px;
      }
    }
  }

  .instance-chat-msg-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-bottom: 5px;
    overflow-y: auto;
    overflow-x: clip;

    @media (max-width: 1024px) {
      margin: 15px 15px 20px;
    }

    @media (max-width: 450px) {
      margin: 10px 10px 16px;
    }
  }

  ul {
    min-height: 0;
  }

  .message {
    color: white;

    .userName {
      color: white;
      font-weight: bold;
    }

    &.self {
      & > div {
        width: 100%;
        display: flex;
      }
    }

    &.other {
      &::after {
        content: "";
        width: 40%;
        display: block;
      }

      & > div {
        width: 60%;
        display: flex;
      }
    }
  }

  .hidden {
    visibility: hidden;
  }
}

/**
* https://stackoverflow.com/a/51976603/2077741
**/
.scrollFix {
  flex: 1 1 auto;
}

.dFlex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.mgSmall {
  margin: 5px 0;
}

.noMargin {
  margin: 0 !important;
}

.selfStart {
  align-self: flex-start;
  margin: 10px;
}

.msgContainer {
  padding: 5px 7px;
  border-radius: 10px;
  max-width: 290px;
  word-wrap: break-word;
}

.mx2 {
  margin: 7px 0;
}

.selfEnd {
  align-self: flex-end;
  margin: 10px;
}

.msgReplyContainer {
  background-color: var(--iconButtonHoverColor);
}

.msgOwner {
  background-color: var(--mainBackground);
}

.msgNotification {
  background-color: transparent;
}

.text {
  color: var(--textColor);
  font-size: 0.9rem;
  line-height: 1.3;
  white-space: pre-wrap;
  word-break: break-word;
}

.shadowText {
  color: white;
  text-shadow: 1px 1px 2px grey, 0 0 1em grey, 0 0 1em grey;
  font-size: 0.7rem;
  white-space: pre-wrap;
}

.animateTop {
  animation: moveBottom 4s ease 4s;
  animation-fill-mode: backwards;
}

.animateLeft {
  animation: moveLeft 4s ease 4s;
  animation-fill-mode: backwards;
}

.msgWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.sender {
  color: var(--textColor);
  font-weight: bold;
  margin-bottom: 5px;
}

.avatar {
  height: 40px;
  width: 40px;
  background: #3a3a6a;
}

@keyframes moveLeft {
  0% {
    flex-direction: row;
  }

  100% {
    flex-direction: row;
  }
}

@keyframes moveBottom {
  0% {
    top: -40px;
  }

  25% {
    top: -30px;
  }

  50% {
    top: -20px;
  }

  75% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

.modalConnecting {
  right: 0;
  bottom: 0;

  // pointer-events: none;
  z-index: 1000;
  position: absolute;

  .modalConnectingTitle {
    padding: 20px 12px;
    color: white;
    text-shadow: 1px 1px 2px grey, 0 0 1em grey, 0 0 1em grey;
    font-size: 0.7rem;
  }
}
