.iconCallChat {
  display: flex;
  align-items: center;
  color: #000;

  @media (max-width: 450px) {
    margin: 5px 10px 20px;
  }

  &:hover {
    cursor: pointer;
  }

  svg {
    color: black;
    margin: 0 2.5px;
  }

  button {
    width: 48px;
    height: 48px;
    background-color: white;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      background-color: white;
    }

    @media (max-width: 450px) {
      width: 40px;
      height: 40px;
    }
  }

  .chatBadge {
    border-radius: 50%;
  }
}

.iconCallPos {
  @media (max-width: 768px) {
    position: absolute;
    right: 0;
    top: -50px;
    margin-right: 10px;
  }
}

.invisible {
  display: none;
}

.instance-chat-msg-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: clip;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    max-height: 76vh;
  }
}

.hideBackDrop {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vh;
  height: 100vh;
}

.instance-chat-container {
  position: absolute;
  bottom: 0;
  display: grid;
  flex-direction: row;
  right: 0;
  z-index: 10;
  justify-content: flex-end;
  margin: 5px 15px 20px 10px;
  transition: all 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-radius: 5px;
  background-color: transparent;

  &.messageContainerClosed {
    width: 0;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    margin: 0;
    width: 100vw;
  }

  .chat-view {
    border-radius: 40px;
    background: transparent;
  }

  .chat-input {
    margin-left: 10px;
  }

  .fixedPos {
    position: fixed;
  }

  .bottom-box {
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;

    @media (max-width: 450px) {
      max-width: 95%;
    }
  }

  .mgBtm {
    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  .bttm {
    @media (max-width: 450px) {
      bottom: 0;
    }
  }

  .chat-box {
    display: flex;
    flex-grow: 1;
    padding: 0;
    align-items: flex-end;
    background: rgb(0 0 0 / 50%);
    width: 300px;

    input {
      color: white;
    }

    .chat-box:last-child {
      padding-bottom: 0;
    }

    .iconContainer {
      display: flex;
      height: inherit;
      align-items: center;
      padding: 0 10px;

      &:hover {
        cursor: pointer;
      }

      svg {
        margin: 10px 0;
      }
    }

    .messageFieldContainer {
      margin: 0;
      padding: 0 55px 0 20px;

      label {
        padding-left: 20px;
      }

      .PrivateNotchedOutline-root-1 {
        border: 0;
      }

      :global(.MuiInputLabel-formControl) {
        color: white;
        transform: translate(0, 12px) scale(1);
      }

      :global(.MuiInput-root) {
        margin-top: 8px;
        margin-bottom: 8px;
        color: #fff;
      }

      :global(.MuiFormLabel-root.Mui-focused):not(.MuiFormLabel-filled),
      :global(.MuiFormLabel-root.MuiFormLabel-filled):not(.Mui-focused) {
        display: none;
      }

      :global(.MuiInput-underline::before),
      :global(.MuiInput-underline::after) {
        border-bottom: none;
      }
    }

    :global(.MuiButton-root).iconContainerSend {
      display: flex;
      height: 37px;
      align-items: center;

      // padding: 5px 10px;
      width: 37px;
      margin: 5px;
      min-width: 0;
      border-radius: 50px;

      &:hover {
        cursor: pointer;
      }
    }

    @media (max-width: 768px) {
      background: rgb(0 0 0 / 85%);
    }
  }

  .list-container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    @media (max-width: 768px) {
      width: 96vw;
      margin: 15px 15px 20px;
    }

    @media (max-width: 450px) {
      width: 100vw;
      margin: 10px 10px 16px;
    }
  }

  ul {
    min-height: 0;
  }

  .message {
    color: white;

    .userName {
      color: white;
      font-weight: bold;
    }

    &.self {
      & > div {
        width: 100%;
        display: flex;
      }
    }

    &.other {
      &::after {
        content: "";
        width: 40%;
        display: block;
      }

      & > div {
        width: 60%;
        display: flex;
      }
    }
  }
}

:global(.MuiPaper-root).message-wrapper {
  display: flex;
  flex-direction: column;

  // height: 30vh;
  background-color: transparent;

  // margin-left: -55px;
  @media (max-width: 768px) {
    margin-left: 0;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    background: transparent;

    .first-message-placeholder {
      font-size: 2em;
      margin: auto;
    }

    .message-sender-avatar {
      margin: 0 10px;
      min-width: auto;
    }

    .message-left {
      justify-content: flex-start;
      text-align: start;
    }

    .message-left-text {
      border-radius: 10px 10px 10px 0;
    }

    .message-right {
      justify-content: flex-end;
      text-align: end;
    }

    .message-right-text {
      border-radius: 10px 10px 0;
    }
  }
}

.dFlex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.mgSmall {
  margin: 5px 0;
}

.noMargin {
  margin: 0 !important;
}

.selfStart {
  align-self: flex-start;
  margin: 10px;
}

.msgContainer {
  padding: 10px 12px;
  border-radius: 15px;
  max-width: 290px;
  word-wrap: break-word;
}

.mx2 {
  margin: 7px 0;
}

.selfEnd {
  align-self: flex-end;
  margin: 10px;
}

.msgReplyContainer {
  background-color: var(--iconButtonHoverColor);
}

.msgOwner {
  background-color: var(--mainBackground);
}

.msgNotification {
  background-color: transparent;
}

.text {
  color: var(--textColor);
  font-size: 0.9rem;
  line-height: 1.3;
}

.greyText {
  color: #888686;
  font-size: 0.7rem;
}

.animateTop {
  animation: moveBottom 4s ease 4s;
  animation-fill-mode: backwards;
}

.animateLeft {
  animation: moveLeft 4s ease 4s;
  animation-fill-mode: backwards;
}

.msgWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.sender {
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
}

.avatar {
  height: 40px;
  width: 40px;
  background: #3a3a6a;
}

@keyframes moveLeft {
  0% {
    flex-direction: row;
  }

  100% {
    flex-direction: row;
  }
}

@keyframes moveBottom {
  0% {
    top: -40px;
  }

  25% {
    top: -30px;
  }

  50% {
    top: -20px;
  }

  75% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}
