@mixin flex-collapse {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex-grow: 1;
}

.MuiDrawer-paperAnchorRight,
.MuiDrawer-paperAnchorLeft {
  width: 30%;

  @media (orientation: portrait) {
    width: 70% !important;
  }

  @media (max-width: 768px) {
    width: 90% !important;
  }

  .MuiAccordion-root {
    min-height: 50px;
    overflow-y: auto;

    &.Mui-expanded {
      @include flex-collapse;

      .MuiCollapse-container.MuiCollapse-entered {
        @include flex-collapse;

        .MuiCollapse-wrapper {
          @include flex-collapse;

          .MuiCollapse-wrapperInner {
            @include flex-collapse;

            & > div {
              @include flex-collapse;

              & > .MuiAccordionDetails-root {
                @include flex-collapse;
              }
            }
          }
        }
      }
    }
  }

  .MuiTab-root {
    @media (min-width: 600px) {
      min-width: initial;
    }
  }

  .MuiAccordionSummary-content {
    & > svg {
      margin-right: 5px;
    }
  }
}

.MuiTabs-root {
  min-height: 75px;
}

[class*="MuiModal-root"] {
  pointer-events: all;
}

[class*="MuiMenu-root"] {
  pointer-events: all;
}

[class*="MuiPopper-root"] {
  pointer-events: all;
}