$mobileControllButtonsSize:2.5em;
.stickLeft{
    position: fixed;
    bottom: 0;
    width: 50%;
    left: 0;
}
.controlButtonContainer{
    position: fixed;
    border-radius: 50%;
    right: 100px;
    bottom: 300px;

    .controllButton{
        position: absolute;
        border-radius: 50%;
        background-color: white;
        opacity: 0.75;
        bottom: 0px;
        font-size: 20px;
        height: $mobileControllButtonsSize;
        width: $mobileControllButtonsSize;
        text-align: center;
        line-height: $mobileControllButtonsSize;

        &.gamepadButton_{
            &A{
                background-color: #00bb00;
                right: 0;
                top: 0;
            }
            &B{
                background-color: #bb0000;
                right: -$mobileControllButtonsSize;
                bottom: 0;
            }
            &X{
                background-color: #0000ff;
                right: $mobileControllButtonsSize;
                bottom: 0;
            }
            &Y{
                background-color: #ffbb00;
                right: 0;
                bottom: $mobileControllButtonsSize;
            }
        }
    }
}
