.instance-chat-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  left: 0;
  width: 100vw;
  justify-content: flex-end;
  z-index: 1400;


  .chat-box {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    padding: 0px;
    border: 1px solid #000000;
    .chat-box:last-child {
      padding-bottom: 0px;
    }

    .iconContainer{
      display: flex;
      height: inherit;
      align-items: center;
      padding: 0px 10px;
      &:hover {
        cursor: pointer;
      }
    }
    .messageFieldContainer{
      margin:0px;
      .PrivateNotchedOutline-root-1{
        border: 0px;
      } 
    }
    .iconContainerSend{
      display: flex;
      height: inherit;
      align-items: center;
      padding: 0px 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .list-container {
    display: flex;
    flex-direction: column;
    width: 50%;

    z-index: 100;

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }


  }


  ul {
    min-height: 0;
  }

  .message {
    // color: black;
    .userName{
      font-weight: bold;
    }
    &.self {
      // &:before {
      //   content: '';
      //   width: 40%;
      //   display: block;
      // }

      & > div {
        // background-color: #fff8dc;
        // padding: 5px 10px;
        // border-radius: 10px;
        width: 100%;
        // margin-bottom: 5px;
        display: flex;
      }
    }

    &.other {
      &:after {
        content: '';
        width: 40%;
        display: block;
      }

      & > div {
        background-color: #f0fff0;
        // padding: 5px 10px;
        border-radius: 10px;
        width: 60%;
        // margin-bottom: 5px;
        display: flex;
      }
    }
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 0 0 ;
  height: 35vh !important;
  width: 50%;
  left: 50% !important;
  right: 50%;
  padding-bottom: 40px;

  .first-message-placeholder {
    font-size: 2em;
    margin: auto;
  }
}