.instance-chat-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  left: 0;
  width: 100vw;

  .chat-box {
    display: flex;
    flex-grow: 1;
    align-items: stretch;

    .iconContainer{
      display: flex;
      // flex: 1;
      height: inherit;
      padding: 15px 10px;
      background: rgba(0,0,0,0.7);
      &:hover {
        cursor: pointer;
        background: rgba(0,0,0,0.9);
      }
    }
    .messageFieldContainer{
      margin:0px;
      background-color: rgba(255,255,255,0.8);     
      .PrivateNotchedOutline-root-1{
        border: 0px;
      } 
    }
    .iconContainerSend{
      display: flex;
      // flex: 1;
      height: inherit;
      padding: 15px 10px;
      background: rgba(0,0,0,0.7);
      &:hover {
        cursor: pointer;
        background: rgba(0,0,0,0.9);
      }
    }
  }

  .list-container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 70%;

    z-index: 100;

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }

    .message-container {
      display: flex;
      flex-direction: column;

      .first-message-placeholder {
        font-size: 2em;
        margin: auto;
      }
    }
  }

  ul {
    min-height: 0;
  }

  .message {
    color: black;
    &.self {
      &:before {
        content: '';
        width: 40%;
        display: block;
      }

      & > div {
        background-color: #fff8dc;
        padding: 5px 10px;
        border-radius: 10px;
        width: 60%;
        margin-bottom: 5px;
        display: flex;
      }
    }

    &.other {
      &:after {
        content: '';
        width: 40%;
        display: block;
      }

      & > div {
        background-color: #f0fff0;
        padding: 5px 10px;
        border-radius: 10px;
        width: 60%;
        margin-bottom: 5px;
        display: flex;
      }
    }
  }
}