
version: '2.3'
services:
  db:
    image: mariadb:10.5
    container_name: xr3ngine_db
    environment:
      MYSQL_ROOT_PASSWORD: xr3ngine-root-pa$$w0rd
      MYSQL_DATABASE: xr3ngine
      MYSQL_USER: server
      MYSQL_PASSWORD: password
    ports:
      - '3306:3306'
  redis:
    image: redis
    container_name: xr3ngine_redis
    ports:
      - '6379:6379'