.custom-dialog .MuiBackdrop-root {
  background: transparent;
}

.custom-dialog .MuiPaper-root {
  font-size: 1em;
}

.custom-dialog .MuiPaper-root.dialogTitle {
  margin: 0;
  padding: 10px;
}

.custom-dialog .MuiPaper-root.dialogTitle.dialogCloseButton {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2000;
}

.custom-dialog .MuiPaper-root.dialogContent {
  padding-bottom: 40px;
  text-align: center;
}

.custom-dialog .MuiPaper-root.dialogContent.innerText {
  padding: 10px 0;
}