.MuiPaper-root{
  .dialogTitle {
    margin: 0;
    padding: 10px;
  
    .dialogCloseButton {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 2000;
    }
  }
  
  .dialogContent {
    padding-bottom: 40px;
  }
}