.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.paper-modal {
  padding: 16px 32px 24px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
  background-color: #fff;
  max-width: 80%;
  max-height: 90%;
  overflow-y: scroll;
}

.info-icon {
  color: white !important;
  opacity: 0.54;

  &:hover {
    opacity: 0.75;
  }
}
.form {
  width: 100%;
  margin-top: 14px;
}

.submit {
  margin: 14px 0 !important;
}
.delete {
  color: white !important;
  background-color: red !important;
}
.MuiButton-contained.facebook {
  background-color: #4267B2;
  color: white;
}
.MuiButton-contained.google {
  background-color: red;
  color: white;
}
.MuiButton-contained.github {
  background-color: grey;
  color: white;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .close {
    left: 95%;
    &:hover {
      color: red;
    }
  }
}

.grid {
  //max-height: 1000px;
}

.thead {
  .trow {
    .tcell {
      color: lighten(white, 0.80);
      background-color: black;
    }

    .tcellSelectable {


       .currentUser{
        color: lighten(white, 0.80);
        background-color: #4267B2;
        padding-top: 5px;
        padding-bottom: 5px;
        &:hover {
          background-color: #145cee;;
          cursor: pointer;
        }
       }
    }
  }

  .trowHover {
    cursor: pointer;

    .tcell {
      color: lighten(white, 0.80);
      background-color: black;
    }
  }
}

.tableContainer {
  overflow-y: auto;
}
.tablePagination {
  min-height: 55px;
}

.adminRoot {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black !important;
  color: #fff !important;
}

.instanceUsersHeader {
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  padding: 16px 32px 24px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
  background-color: #fff;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: black;

  @media (max-width: 768px) {
    width: 90%;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .title {
    font-size: 2em;
    text-align: center;
  }

  .body {
    .avatars-container,
    .scenes-container,
    .projects-container {
      .header {
        font-size: 1.5em;
      }

      .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .avatar,
        .scene {
          display: flex;
          flex-direction: column;
          margin-right: 10px;

          .name {
            font-size: 1.25em;
          }

          & > :not(:first-child) {
            margin-top: 5px;
          }

          img {
            max-width: 100px;
          }
        }
      }
    }
  }
}

.tableFooter {
  display: flex;
  justify-content: space-between;
}
.createLocation {
  height: 50px;
  margin: auto 5px;
  width: 100%;
}
.locationModalButtons {
  justify-content: space-between;
}

.closeButton {
  &:hover {
    cursor: pointer;
    color: red;
  }
}

.pack-list {
  margin-top: 10px !important;
  background-color: white;
  color: black;
}

.success {
  display: flex;
  align-items: center;
  margin-top: 10px;
}


.pack-select {
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 1.5em;
  margin-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.5em;
    color: black;
  }

  .closeButton {
    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

.processing {
  color: black;
  display: flex;
  align-items: center;
  margin-top: 5px;

  .text {
    margin-left: 5px;
    font-size: 1.5em;
  }
}

.open-modal {
  height: 50px;
  margin: auto 5px;
  background: rgb(58, 65, 73);
  color: #f1f1f1 !important;
}