.styleLink {
    text-decoration: none;
    color: black;
}

.mainBlock{
    display: flex;
}
//.dialogWindow{
//    max-width: 311pt;
//}
.bottomBox{
    width: 100%;
    background-color: #e6e5eb;
    text-align: center;
    padding: 10px;

    button{
        margin: 10px 0 0 0;
        background-color: #000;
        color: #fff;
        transition: color .01s;
    }
}

.popup{
    //position: fixed;
    //top: 0;
    //left: 0;
    //width: 100%;
    //height: 100vh;
    //background-color:rgba(0,0,0, 0.2);
    //
    //display: flex;
    //justify-content: center;
    //align-items: center;
    width: 100%;
    border-radius: 12px;
    height: 600pt;
    color: #e6e5eb;
    text-align: center;
    .media {
        height: 80pt;
        width: 80pt;
        align-self: center;
        background-position: 24pt 13pt;
        background-size: 38%;
        background-color: #e6e5eb;
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .media2 {
        height: 80pt;
        width: 80pt;
        align-self: center;
        background-position: 13.5pt 24pt;
        background-size: 65%;
        background-color: #e6e5eb;
        border-radius: 100%;
        margin-top: 30pt;
        margin-left: auto;
        margin-right: auto;
    }
    .title {
        align-self: center;
        letter-spacing: 0.36pt;
        margin-top: 17pt;
        font-size: 28pt;
        color: #000;
        padding-bottom: 0;
        font-weight: 600;
    }
    p{
        max-width: 270pt;
        margin-left: auto;
        margin-right: auto;
        color: rgba(60, 60, 67, 0.6);
        font-size: 16pt;
        line-height: 21pt;
        padding: 16pt;
    }
    .box{
        color: #e6e5eb;
    }
    .btn_start {
        background-color: black;
        color: white;
        width: calc(100% - 34pt);
        margin: 17pt;
        text-transform: capitalize;
        font-size: 17pt;
        padding: 10pt;
        border-radius: 15px;
    }
    .btn_cancel {
        text-transform: capitalize;
        font-size: 17pt;
        padding: 10pt;
        border-radius: 10px;
        color: grey;
        font-weight: 300;
    }
    @media screen and (max-width: 499px){
        height: 486pt;
        .btn_cancel,.btn_start {
            font-size: 14pt;
            padding: 8pt;
            border-radius: 10px;
        }
        p{
            font-size: 13pt;
            line-height: 17pt;
            max-width: 225pt;
            padding-bottom: 9pt;
        }
        .title {
            font-size: 22pt;
        }
        .media {
            height: 64pt;
            width: 64pt;
            background-position: 19pt 11pt;
        }
        .media2 {
            margin-top: 20pt;
            height: 64pt;
            width: 64pt;
            background-position: 11.5pt 22pt;
        }
    }
    @media screen and (max-height: 700px){
        p{
            padding-top: 5pt;
        }
        .media2 {
            margin-top: 16pt;
        }
    }
}
@media screen and (orientation: landscape) {
    .box{
        display: none;
    }
    .dialogWindow{
        max-width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }
    .horizontalMode{
        display: flex;
        justify-content: space-around;
    }
    .popup{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title{
            margin-top: 0;
            font-size: 21pt;
        }
        p{
            font-size: 14pt;
            max-width: unset;
        }
        .media2 {
            margin-top: 0;
        }
    }
}


@keyframes ldsring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media screen and (orientation: landscape) and (max-width: 899px) {
    .popup{
        .title{
            font-size: 18pt;
        }
        p{
            padding-bottom: 10pt;
            line-height: 16pt;
        }
        .horizontalMode{
            p{
                padding-bottom: 0;
            }
        }
        .media{
            height: 55pt;
            width: 55pt;
            align-self: center;
            background-position: 19pt 12pt;
            background-size: 33%;
        }
        .media2{
            height: 55pt;
            width: 55pt;
            background-position: 10.5pt 19pt;
            background-size: 65%;
        }
        .btn_start {
            padding: 6pt;
        }
    }
}