.wrap{
    position: fixed;
    z-index: 2000000;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.container{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 180px;
    width: 265px;
    border-radius: 12px;

    text-align: center;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    font-size:14px;
    color: rgba(60, 60, 67, 0.6);
    background-color: #fff;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
}
.container p{
    padding: 20px 
}
.container p:first-child{
    padding: 20px 20px 0;
}
.container a{
    padding: 20px 20px 0;
    text-decoration: none;
    color:  rgba(0, 0, 0, 0.6) ;

}

.mail{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
} 