.arMediaContainer{
    .switcher{
        background-color: #EEEEEF;
        padding: 5px 3px;
        display: flex;
        margin: 10px 20px;
        border-radius: 15px;
        .switchButton{
            margin: 0;
            color: #000000;
            padding: 7pt;
            font-size: 17pt;
            text-transform: capitalize;
            width: 100%;
            border-radius: 15px;
            &.active{
                background-color: #FFF;
            }
        }
    }
    .flexContainer{
        display: flex;
        padding: 0 9pt;
        .previewImageContainer{
            margin: 7pt;
            text-align: center;
            color: rgba(60, 60, 67, 0.6);
            &:hover{
                .previewImage{
                    border: 1px solid blue;
                }
            }
        }
        .previewImage{
            height: 141px;
            width: 141px;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: #DDDDDD;
        }
    }
    .textC{
        font-size: 17pt;
    }
    .backButton{
        font-size: 19pt;
        text-transform: capitalize;
        font-weight: 400;
        margin: 12pt 7.7pt;
    }
    .startRecirding{
        background-color: #000;
        position: fixed;
        bottom: 20px;
        color: #FFF;
        width: 80%;
        left: 50%;        
        transform: translate(-50%,0);
        border-radius: 13px;
        text-transform: capitalize;
        font-size: 17pt;
        padding: 10pt;
    }
    @media screen and (max-width: 499px){
        .backButton{
            font-size: 15pt;
            margin: 9pt 6pt;
        }
        .startRecirding{
            font-size: 14pt;
            padding: 8pt;
        }
        .switcher{
            .switchButton{
                border-radius: 13px;
                font-size: 14pt;
                padding: 5pt;
            }
        }
    }
}