.feedFormContainer{
    display: flex !important;
    flex-direction: column;
    padding: 20px 20px 2px 20px;
    margin: auto 0;
    overflow: scroll;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 999;
    height: 100%;
    align-items: flex-end;
    .alignSection{
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .feedVideoPreview{
        width: 100%;
        max-height: 55%;
        height: 100%;
        margin-top: auto;
        object-fit: contain;
        margin-bottom: auto;
    }


    .flexContainer{
        display: flex;
        flex-direction: row;
        
        .preCard{
            width: 50%;
            box-sizing: border-box;
            padding: 20px;
            text-align: center;
            input[type=file]{
                font-size: 10pt
            }
            h2{
                display: flex;
                flex-direction: column;
            }
        }
    }
    .displayNone{
        display: none;
    }

    .previewImage{
        height: 210px;
    }

    .textArea{
        min-height: 100px;
    }
    p{
        margin: 17pt auto;
        font-size: 17pt;
        color: rgba(60, 60, 67, 0.6);
        text-align: center;
    }
    .buttonWraper{
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        button{
            width: 100%;
        }
    }
    .submit{
        display: block;
        margin: 0 auto;
        color: #FFF;
        background-color: #000;
        margin-top: 20px;
        padding: 10pt;
        border-radius: 13px;
        font-size: 17pt;
        text-transform: capitalize;
        z-index: 999;
        width: max-content;
        &:nth-child(1){
            padding-left: 40pt;
            padding-right: 40pt;
        }
        &:nth-child(2){
            padding-left: 20pt;
            padding-right: 20pt;
            background: #fff;
            color: #000;
            border: 1px solid gray;
        }

    }

    .videoWrapper{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        .submit{
            position: fixed;
            bottom: 30px;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 10pt;
            width: 100%;
            border-radius: 13px;
            font-size: 17pt;
            text-transform: capitalize;
        }
    }
    .backButton{
        font-size: 19pt;
        text-transform: capitalize;
        font-weight: 400;
        margin: 12pt 7.7pt;
    }
    input{
        font-size: 17pt;
    }
    @media screen and (max-width: 499px){
        .submit{
            font-size: 14pt;
            padding: 7pt;
        }
        p{
            margin: 14pt auto;
            font-size: 14pt;
        }
        .backButton{
            font-size: 15pt;
            margin: 9pt 6pt;
        }
        input{
            font-size: 14pt;
        }
        .flexContainer{
            .preCard{
                input[type=file]{
                    font-size: 6pt
                }

            }
        }
    }
    @media screen and (max-height: 699px){
        .submit{
            margin-top: 20pt;
        }
        p{
            margin: 12pt;
            line-height: 19px;
        }
        .backButton{
            margin: 0pt 6pt;
            padding: 0;
        }
    }


    .ldsRing {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        position: fixed;
        left: calc(50% - 40px);
        top: calc(50% - 40px);
        background: #fff;
        &:after{
            display: block;
            height: 10pt;
            content: "Publishing...";
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 15pt;
            color: #000;
            margin-left: -10px;
            padding-top: 10pt;
        }
        div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 64px;
            height: 64px;
            margin: 8px;
            border: 8px solid #cb3332;
            border-radius: 50%;
            animation: ldsring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #cb3332 transparent transparent transparent;
            &:nth-child(1) {
                animation-delay: -0.45s;
            }
            &:nth-child(2) {
                animation-delay: -0.3s;
            }
            &:nth-child(3) {
                animation-delay: -0.15s;
            }
        }
    }
}