.tipItem{
    width: 100%;
    padding: 5px 0 20px 0;
    position: relative;

    .previewImage{
        height: auto;
        object-fit: cover;
        background-color: #DDDDDD;
        padding: 0px;
        margin: 0 17pt;
        width: calc(100% - 34pt);
        border-radius: 13pt;
    }
    .eyeLine{
        width: 100%;
        text-align: right;
        box-sizing: border-box;
        padding: 0 25pt;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        color: #FFF;
        transform: translate(0px, -25px);
        svg{
            margin: 0 0 0 5px;
        }
    }
    .popover{
        position: fixed;
        right: 25pt;
        top: 13pt;
        svg{
            font-size: 29pt;
        }
    }
    .iconSubContainer{
        svg{
            height: 23pt;
            width: auto;
        }
    }

    .iconSubContainerVertical {
        @extend .iconSubContainer;
        margin-left: -15px;
        padding-bottom: 56px;
        padding-right: 15px;

    }
    .counter {
        display: block;
        text-align: center;
    }
    .cardContent{
        padding: 0px 19pt;
        :global(.MuiCardHeader-root){
            padding: 0;
        }
    }
    .iconsContainer{
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    .titleContainer{
        font-weight: bold;
        font-size: 21pt;
    }
    .flamesCount{
        font-weight: bold;
        margin: 0 5px 0 0;
    }
    .cartText{
        font-size: 17pt;
    }
    .avatar{
        height: max-content;
        width: max-content;
        img{
            height: 40pt;
            width: 40pt;
        }
    }
    @media screen and (max-width: 499px){
        .previewImage{
            height: auto;
        }
        .titleContainer{
            font-size: 16pt;
        }
        .cartText{
            font-size: 14pt;
        }
        .cardContent{
            padding: 0px 15pt;
        }
        .iconSubContainer{
            svg{
                height: 18pt;
                width: auto;
            }
        }
        .avatar{
            img{
                height: 32pt;
                width: 32pt;
            }
        }
    }
}