@use "../theme.scss" as theme;


.toolbarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width:100%;
  position: fixed;
  z-index:1000;
  user-select: none;
  background: theme.$panel2;
  padding: 0 5px;
}

.statsContainer {
  position: absolute;
  top: 70px;
  z-index: 1000;
  left: 20px;
  color: theme.$white;
  padding: 8px;
  background-color: theme.$panel2Opaque;
  border-radius: 4px;
  width: 150px;

  h3 {
    font-size: 14px;
  }

  &>ul {
    margin: 8px 4px;

    &>li {
      font: 12px;
      color: theme.$text3;

      &+li { margin-top: 5px; }

      ul {
        margin-left: 5px;
        color: theme.$white;
      }
    }
  }
}

.toolbarNumericStepperInput {
  width: 120px;

  input {
    border-width: 0;
    border-radius: 4px;
    background: theme.$panel2;

    &+* { background: transparent; }
  }

  button {
    border: none;
    border-radius: 4px;
    margin: 0 4px;

    &:hover {
      background: theme.$panel2;
    }
  }
}


.toolbarInputGroup {
  display: flex;
  margin: 0 4px;
  align-items: center;
  border: none;
  border-radius: 4px;
  background: theme.$panel;
  column-gap: 4px;
  padding: 4px;

  .toolButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: none;
    color: theme.$white;
    cursor: pointer;
    position: relative;
    background-color: theme.$toolbar;
    border-radius: 4px;

    &:hover {
      background-color: theme.$panel2;
    }

    &.selected {
      background-color: theme.$blue;

      &:hover {
        background-color: theme.$blueHover;
      }
    }
  }

  .toolIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: none;
    color: theme.$white;
    position: relative;
    background-color: theme.$toolbar;
    border-radius: 4px;
  }

  .selectInput {
    width: 100px;
    z-index: 1500000;

    div[class$="-control"] {
      background: theme.$panel2;
      height: 25px;
      border-radius: 4px;
      border-width: 0;
      cursor: pointer;
      outline: none;
      box-shadow: none;
    }

    div[class$="-menu"] {
      background: theme.$panel;
      border: none;
      overflow: hidden;
      margin-top: 10px;

      div[class$="-option"] {
        background: transparent;
        &:hover {
          background: theme.$blue;
        }
      }
    }
  }
}

.playButtonContainer {
  padding: 0;
  .toolButton {
    width: 31px;
    height: 31px;

    &:hover {
      background: theme.$blueHover;
    }
  }
}
