.feedContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 20px;

    >div {
        flex: 0 33%;
        /*demo*/
        box-sizing: border-box;
        padding: 5px;
      }

    .creatorItem{
        width: 100%;
        position: relative;
        .previewImage{
            height: 139px;
            border-radius: 10px;
        }
        .eyeLine{
            position: absolute;
            bottom: 5px;
            width: 100%;
            text-align: right;
            box-sizing: border-box;
            padding: 0 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            color: blanchedalmond;
            svg{
                margin: 0 0 0 5px;
            }
        }
    }
}