.selectContainer {
  margin-top: 10px;
  width: 100%;
  color: var(--textColor);
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}
