.panelContainer {
  outline: none;
  user-select: none;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--textColor);
}

.panelSection {
  outline: 1px solid var(--borderStyleLight);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.nodeContent {
  outline: none;
  display: flex;
  padding-right: 8px;
}

.treeNodeContainer {
  display: flex;
  flex-direction: column;
  outline: none;
  overflow: hidden;
  background: transparent;
  color: var(--textColor);

  &:hover,
  &:focus {
    background-color: var(--dropdownMenuHoverBackground);
    color: var(--textColor);
  }

  &.obj3d {
    color: #666;
  }

  &.rootNode {
    background: var(--dropdownMenuSelectedBackground);
  }

  &.selected {
    background: var(--dropdownMenuSelectedBackground);
    color: var(--textColor);

    &:hover,
    &:focus {
      background-color: var(--dropdownMenuSelectedBackground);
    }
  }

  &:active,
  &.active {
    background: var(--dropdownMenuSelectedBackground);
  }
}

.selectTarget {
  display: flex;
  flex: 1;
  padding: 2px 4px 2px 0;

  .renameInputContainer {
    position: relative;
    height: 15px;
    width: 100%;

    .renameInput {
      position: absolute;
      top: -3px;
      width: 100%;
      background-color: var(--inputBackground);
      color: var(--textColor);
      border: var(--borderStyleLight);
      padding: 2px 4px;
      outline: none;
      border-radius: 3px;
    }
  }

  .labelContainer {
    display: flex;
    flex: 1;

    .nodelabel {
      background-color: transparent;
      color: inherit;
      border-radius: 4px;
      padding: 0 2px;
      flex-shrink: 0;

      &.dropTarget {
        background-color: rgb(255 255 255 / 30%);
        color: var(--textColor);
      }
    }
  }
}

.dockableTabButtons {
  height: min-content;
}

.nodeDropTraget {
  height: 4px;
  box-sizing: content-box;
  border: 0 solid rgb(255 255 255 / 30%);
}

.collapseButton {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--textColor);

  &:hover {
    opacity: 0.8;
    color: var(--textColor);
    border-radius: 3px;
  }
}

.nodeIcon {
  width: 12px;
  height: 12px;
  margin: 2px 4px;
}

.spacer {
  width: 20px;
  flex-shrink: 0;
}

.divider {
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 4px;
  height: 1px;
  width: 95%;
  background-color: var(--inputBackground);
}
