@use "../theme.scss"as theme;

.panelContainer {
  outline: none;
  user-select: none;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: theme.$text2;
}

.nodeContent {
  outline: none;
  display: flex;
  padding-right: 8px;
}

.treeNodeContainer {
  display: flex;
  flex-direction: column;
  outline: none;
  overflow: hidden;
  background: transparent;
  color: theme.$text2;

  &:hover,
  &:focus {
    background-color: var(--dock);
    color: theme.$text;
  }

  &.rootNode {
    border-bottom: rgba($color: theme.$panel2, $alpha: 0.8);
    background: var(--dock);
  }

  &.selected {
    background: theme.$selected;
    color: theme.$text;

    &:hover,
    &:focus {
      background-color: theme.$selected;
    }
  }

  &:active,
  &.active {
    background: theme.$selected;
  }
}

.selectTarget {
  display: flex;
  flex: 1;
  padding: 2px 4px 2px 0;

  .renameInputContainer {
    position: relative;
    height: 15px;
    width: 100%;

    .renameInput {
      position: absolute;
      top: -3px;
      width: 100%;
      background-color: var(--inputBackground);
      color: theme.$text;
      border: theme.$borderStyleLight;
      padding: 2px 4px;
      outline: none;
      border-radius: 3px;
    }
  }

  .labelContainer {
    display: flex;
    flex: 1;

    .nodelabel {
      background-color: transparent;
      color: inherit;
      border-radius: 4px;
      padding: 0 2px;
      flex-shrink: 0;

      &.dropTarget {
        background-color: rgba(255, 255, 255, 0.3);
        color: theme.$text;
      }
    }
  }
}

.nodeDropTraget {
  height: 4px;
  box-sizing: content-box;
  border: 0 solid rgba(255, 255, 255, 0.3)
}

.collapseButton {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: transparent;
  color: theme.$text2;

  &:hover {
    color: theme.$text;
    background-color: theme.$hover2;
    border-radius: 3px;
  }
}

.nodeIcon {
  width: 12px;
  height: 12px;
  margin: 2px 4px;
}

.spacer {
  width: 20px;
  flex-shrink: 0;
}