$mobileControllButtonsSize:3em;
.drawerBoxContainer{
    position: absolute;
    z-index: 1301;
    top: 5px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    .drawerBox{        
        margin: 0 auto;
        display: flex;
        font-size: 20px;
        text-align: center;
        height: $mobileControllButtonsSize;
        width: auto;
        flex-direction: row;
        padding: 0px;
       

        &:last-child{
            padding-bottom: 0px;
        }
        .iconContainer{
            background: rgba(162, 162, 162, 0.5);
            border: 1px solid rgba(208, 208, 208, 0.5);
            filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
            box-sizing: border-box;
            border-radius: 50%;
            margin: 12px;
            height: 43px;
            width: 43px;
            cursor: pointer;              

            > svg{
                height: 1em;
                width: 1em;                
                box-sizing: border-box;
                cursor: pointer;   
                margin: 8px;             
            }
        }
        
    }
}