$mobileControllButtonsSize:3em;
.drawerBoxContainer{
    position: absolute;
    z-index: 1301;
    top: 5px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    .drawerBox{        
        margin: 0 auto;
        display: flex;
        font-size: 20px;
        text-align: center;
        height: $mobileControllButtonsSize;
        width: auto;
        flex-direction: row;
        padding: 0px;
        &:last-child{
            padding-bottom: 0px;
        }
        > svg{
            height: 1.5em;
            width: 1.5em;
            margin: 12px;
            cursor: pointer;
        }
    }
}