.drawer-box-container{
    position: fixed;
    top:0;
    width: 100vw;
    .drawer-box{        
        margin: 0 auto;
        width: fit-content;    
        height: fit-content;
        display: flex;
        justify-content: space-between;   
        background: rgba(0,0,0,0.6);
        border-radius:  0 0 5px 5px;
        svg{
            height: 3em;
            color: white;        
            margin: 10px;
        }
    }
}