@import "tailwindcss/utilities";

/* WebKit/Blink (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Firefox */
html {
  scrollbar-width: thin;
}