.feedContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 19pt;
    @media screen and (max-width: 499px){
        padding: 0 15pt;
    }

    .emptyList{
        text-align: center;
        color: #8a8a8e;
        width: inherit;
    }

    >div {
        box-sizing: border-box;
      }

    .creatorItem{
        box-sizing: border-box;
        position: relative;

        &.listItem_width2{        
            flex: 0 40%;            
            padding: 7pt 7pt 0 0;
            height: 181pt;
        }
        @media screen and (min-width: 499px){
            &.listItem_width2:nth-child(3){
                height: 180pt;
            }
            &.listItem_width2:nth-child(4n+10){
                height: 180pt;
            }
        }

        &.listItem_top1{
            margin-top: -142px;
        }
        &.listItem_top2{
            margin-top: -80px;
        }
        &.listItem_width3{
            flex: 0 60%;
            height: 290pt;
            padding: 7pt 0 7pt 0;
        }
        &.listItem_width1{
            flex: 1 20%;
            height: 133pt;
            padding: 0 7pt 8pt 0;
            &.width1_no_right_padding{
                padding-right: 0;
            }
        }
        @media screen and (max-width: 499px){
            &.listItem_width2{
                height: 150pt;
            }
            &.listItem_width2:nth-child(1){
                height: 125pt;
            }
            &.listItem_width2:nth-child(3n+9){
                height: 125pt;
            }
            &.listItem_width3{
                height: 232pt;
            }
            &.listItem_width1{
                height: 107pt;
            }
        }
        .starLine{
            position: absolute;
            color: #FF6201;
            svg{
                margin: 0 0 0 5px;
            }
        }
        .previewImage{
            height: 100%;
            border-radius: 10px;
            background-color: #DDDDDD;
        }
        .eyeLine{            
            width: 100%;
            text-align: right;
            box-sizing: border-box;
            padding: 0 6pt;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            color: #FFF;
            margin-top: -25px;
            svg{
                margin: 0 0 0 5px;
            }
        }
        .fireLine{            
            width: 100%;
            text-align: right;
            box-sizing: border-box;
            padding: 0 6pt;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            color: #FFF;
            margin-top: -35px;
            svg{
                margin: 0 0 0 5px;
            }
        }
        .favoriteLine{            
            width: 100%;
            text-align: right;
            box-sizing: border-box;
            padding: 0 6pt;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            color: #FFF;
            margin-top: -35px;
            svg{
                margin: 0 0 0 5px;
            }
        }
    }
}