.viewportCanvas {
    width: 100%;
    height: 100%;
    position: relative;
}


.viewportContainer {
  display: flex;
  flex: 1;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    pointer-events: none;
  }
}

.controlsText {
  position: absolute;
  bottom:0px;
  left: 0;
  pointer-events: none;
  color: white;
  padding: 8px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
