.party-user-container {
    left: 2%;
    position: fixed;
    top: 160px;
    width: calc(100vw - 285px);
    z-index: 100;
    @media (max-width: 768px) {
        top: 70px;
        // height: 56px;
    } 
}
